HTKK/InterfaceTemplates/Validate/01_DNXLNT_252.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2010 rel. 3 (http://www.altova.com) by MESMERiZE (MSM) -->
<xs:schema xmlns="http://kekhaithue.gdt.gov.vn/TKhaiThue" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://kekhaithue.gdt.gov.vn/TKhaiThue" elementFormDefault="qualified" attributeFormDefault="unqualified" version="2.1.5">
	<xs:redefine schemaLocation="../TKhaiThue.xsd">
		<xs:complexType name="CTieuTKhaiChinhType">
			<xs:complexContent>
				<xs:extension base="CTieuTKhaiChinhType">
					<xs:sequence>
						<xs:element name="Header">
							<xs:annotation>
								<xs:documentation>Thông tin chung</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="deNghiBuTru" type="xs:boolean" nillable="true">
										<xs:annotation>
											<xs:documentation>Đề nghị bù trừ</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="deNghiHoan" type="xs:boolean" nillable="true">
										<xs:annotation>
											<xs:documentation>Đề nghị hoàn </xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="hoanTNCN" type="xs:boolean" nillable="true" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Hoàn thuế TNCN thông qua cơ quan chi trả</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="hoanNopThua" type="xs:boolean" nillable="true" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Hoàn thuế, phí nộp thừa theo Luật quản lý thuế </xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="maCoQuanThue" type="xs:string" nillable="true">
										<xs:annotation>
											<xs:documentation>Mã Kính gửi </xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="tenCoQuanThue" type="xs:string" nillable="true">
										<xs:annotation>
											<xs:documentation>Tên Kính gửi </xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="TTSoTienThue" nillable="true">
							<xs:annotation>
								<xs:documentation>II. THÔNG TIN SỐ TIỀN THUẾ, TIỀN CHẬM NỘP, TIỀN PHẠT NỘP THỪA</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="CTietTTSoTienThue" maxOccurs="unbounded">
										<xs:annotation>
											<xs:documentation>Bảng kê thông tin về khoản thu đề nghị hoàn trả</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>
												<xs:element name="ct2" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>Nội dung khoản nộp thừa</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct3" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>Mã định danh khoản phải nộp (ID) (nếu có)</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct4" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>Chương</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct5_ma" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>Mã tiểu mục</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct5_ten" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>Tên tiểu mục</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct6_ma" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>Mã cơ quan thu</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct6_ten" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>Tên cơ quan thu</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct7_ma" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>Mã Loại tiền</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct7_ten" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>Tên Loại tiền</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct8" type="xs:decimal" nillable="true">
													<xs:annotation>
														<xs:documentation>Số tiền phải nộp</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct9" type="xs:decimal" nillable="true">
													<xs:annotation>
														<xs:documentation>Số tiền đã nộp vào NS
NN</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct10" type="xs:decimal" nillable="true">
													<xs:annotation>
														<xs:documentation>Số tiền nộp thừa</xs:documentation>
													</xs:annotation>
												</xs:element>
											</xs:sequence>
											<xs:attribute name="id" type="xs:string"/>
										</xs:complexType>
									</xs:element>
									<xs:element name="Cong_tieuMuc_01" nillable="true" maxOccurs="unbounded">
										<xs:annotation>
											<xs:documentation>Cộng theo từng tiểu mục .....</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>
												<xs:element name="tieuMuc_ma" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>Mã tiểu mục</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="tieuMuc_ten" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>Tên tiểu mục</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="tong8_tieuMuc" type="xs:decimal" nillable="true">
													<xs:annotation>
														<xs:documentation>Tổng cột 8 theo tiểu mục </xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="tong9_tieuMuc" type="xs:decimal" nillable="true">
													<xs:annotation>
														<xs:documentation>Tổng cột 9 theo tiểu mục</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="tong10_tieuMuc" type="xs:decimal" nillable="true">
													<xs:annotation>
														<xs:documentation>Tổng cột 10 theo tiểu mục</xs:documentation>
													</xs:annotation>
												</xs:element>
											</xs:sequence>
											<xs:attribute name="id" use="required"/>
										</xs:complexType>
									</xs:element>
									<xs:element name="tongCot8" type="xs:decimal" nillable="true">
										<xs:annotation>
											<xs:documentation>Tổng cộng cả bảng cột 8</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="tongCot9" type="xs:decimal" nillable="true">
										<xs:annotation>
											<xs:documentation>Tổng cộng cả bảng cột 9</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="tongCot10" type="xs:decimal" nillable="true">
										<xs:annotation>
											<xs:documentation>Tổng cộng cả bảng cột 10</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="TTDeNghiXuLyHoan">
							<xs:annotation>
								<xs:documentation>III. ĐỀ NGHỊ XỬ LÝ KHOẢN NỘP THỪA</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="TTinNNT">
										<xs:annotation>
											<xs:documentation>1. Thông tin người nộp thuế đề nghị bù trừ khoản nộp thừa với khoản nợ, khoản thu phát sinh hoặc đề nghị hoàn kiêm bù trừ thu ngân sách nhà nước</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>
												<xs:element name="CTietTTinNNT" maxOccurs="unbounded">
													<xs:annotation>
														<xs:documentation>Bảng kê thông tin về khoản thu đề nghị hoàn trả</xs:documentation>
													</xs:annotation>
													<xs:complexType>
														<xs:sequence>
															<xs:element name="ct2" type="TINType" nillable="true">
																<xs:annotation>
																	<xs:documentation>MST của NNT khác (nếu có)</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="ct3" type="xs:string" nillable="true">
																<xs:annotation>
																	<xs:documentation>Tên người nộp thuế khác (nếu có)</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="ct4" type="xs:string" nillable="true">
																<xs:annotation>
																	<xs:documentation>Nội dung khoản   nợ/
phát sinh</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="ct5" type="xs:string">
																<xs:annotation>
																	<xs:documentation>Mã định danh khoản phải nộp (ID) (nếu có)</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="ct6" type="xs:string">
																<xs:annotation>
																	<xs:documentation>Chương</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="ct7_ma" type="xs:string">
																<xs:annotation>
																	<xs:documentation>Mã Tiểu mục</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="ct7_ten" type="xs:string">
																<xs:annotation>
																	<xs:documentation>Tên Tiểu mục</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="ct8_ma" type="xs:string" nillable="true">
																<xs:annotation>
																	<xs:documentation>Mã cơ quan thu </xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="ct8_ten" type="xs:string" nillable="true">
																<xs:annotation>
																	<xs:documentation>Tên cơ quan thu </xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="ct9_ma_huyen" type="xs:string" nillable="true">
																<xs:annotation>
																	<xs:documentation>Mã Địa bàn hành chính huyện</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="ct9_ten_huyen" type="xs:string" nillable="true">
																<xs:annotation>
																	<xs:documentation>Tên Địa bàn hành chính huyện </xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="ct9_ma_tinh" type="xs:string" nillable="true">
																<xs:annotation>
																	<xs:documentation>Mã Địa bàn hành chính tỉnh </xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="ct9_ten_tinh" type="xs:string" nillable="true">
																<xs:annotation>
																	<xs:documentation>Tên Địa bàn hành chính tỉnh</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="ct10" type="xs:date" nillable="true">
																<xs:annotation>
																	<xs:documentation>Hạn nộp</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="ct11_ma" type="xs:string" nillable="true">
																<xs:annotation>
																	<xs:documentation>Mã loại tiền </xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="ct11_ten" type="xs:string" nillable="true">
																<xs:annotation>
																	<xs:documentation>Tên loại tiền </xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="ct12" type="xs:decimal" nillable="true">
																<xs:annotation>
																	<xs:documentation>Số tiền còn phải nộp</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="ct13" type="xs:decimal" nillable="true">
																<xs:annotation>
																	<xs:documentation>Số tiền còn phải nộp đề nghị bù trừ với số tiền nộp thừa</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="ct14" type="xs:decimal" nillable="true">
																<xs:annotation>
																	<xs:documentation>Số tiền còn phải nộp sau bù trừ</xs:documentation>
																</xs:annotation>
															</xs:element>
														</xs:sequence>
														<xs:attribute name="id" type="xs:string"/>
													</xs:complexType>
												</xs:element>
												<xs:element name="Cong_tieuMuc_02" nillable="true" maxOccurs="unbounded">
													<xs:annotation>
														<xs:documentation>Cộng theo từng tiểu mục .....</xs:documentation>
													</xs:annotation>
													<xs:complexType>
														<xs:sequence>
															<xs:element name="tieuMuc_ma" type="xs:string" nillable="true">
																<xs:annotation>
																	<xs:documentation>Mã tiểu mục</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="tieuMuc_ten" type="xs:string" nillable="true">
																<xs:annotation>
																	<xs:documentation>Tên tiểu mục</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="tong12_tieuMuc" type="xs:decimal" nillable="true">
																<xs:annotation>
																	<xs:documentation>Tổng cột 12 theo tiểu mục </xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="tong13_tieuMuc" type="xs:decimal" nillable="true">
																<xs:annotation>
																	<xs:documentation>Tổng cột 13 theo tiểu mục</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="tong14_tieuMuc" type="xs:decimal" nillable="true">
																<xs:annotation>
																	<xs:documentation>Tổng cột 14 theo tiểu mục</xs:documentation>
																</xs:annotation>
															</xs:element>
														</xs:sequence>
														<xs:attribute name="id" use="required"/>
													</xs:complexType>
												</xs:element>
												<xs:element name="tongCot12" type="xs:decimal" nillable="true">
													<xs:annotation>
														<xs:documentation>Tổng Cộng cả bảng cột 12 </xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="tongCot13" type="xs:decimal" nillable="true">
													<xs:annotation>
														<xs:documentation>Tổng Cộng cả bảng cột 13 </xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="tongCot14" type="xs:decimal" nillable="true">
													<xs:annotation>
														<xs:documentation>Tổng Cộng cả bảng cột 14 </xs:documentation>
													</xs:annotation>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name="TTinDeNghi">
										<xs:annotation>
											<xs:documentation>2. Thông tin người nộp thuế đề nghị hoàn trả khoản thu ngân sách nhà nước</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>
												<xs:element name="soTienHoanTra" type="xs:decimal">
													<xs:annotation>
														<xs:documentation>Số tiền hoàn trả: Bằng số: ......</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="HinhThucHoanTra">
													<xs:annotation>
														<xs:documentation>Hình thức hoàn trả</xs:documentation>
													</xs:annotation>
													<xs:complexType>
														<xs:sequence>
															<xs:element name="chuyenKhoan" type="xs:boolean" nillable="true">
																<xs:annotation>
																	<xs:documentation>Chuyển khoản</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="tenChuTaiKhoan" type="xs:string" nillable="true">
																<xs:annotation>
																	<xs:documentation>Tên chủ tài khoản</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="taiKhoanSo" type="xs:string" nillable="true">
																<xs:annotation>
																	<xs:documentation>Tài khoản số</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="taiNganHang" type="xs:string" nillable="true">
																<xs:annotation>
																	<xs:documentation>Tên Ngân hàng (KBNN).......</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="tienMat" type="xs:boolean" nillable="true">
																<xs:annotation>
																	<xs:documentation>Tiền mặt</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="nguoiNhanTien" type="xs:string" nillable="true">
																<xs:annotation>
																	<xs:documentation>Tên người nhận tiền</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="cmt-HoChieu" type="xs:string" nillable="true">
																<xs:annotation>
																	<xs:documentation>Chứng minh thư (Hộ chiếu)</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="ngayCap" type="xs:date" nillable="true">
																<xs:annotation>
																	<xs:documentation>Ngày cấp</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="noiCap" type="xs:string" nillable="true">
																<xs:annotation>
																	<xs:documentation>Nơi cấp</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="noiNhanTien" type="xs:string" nillable="true">
																<xs:annotation>
																	<xs:documentation>Nơi nhận tiền hoàn thuế: Kho bạc Nhà nước </xs:documentation>
																</xs:annotation>
															</xs:element>
														</xs:sequence>
													</xs:complexType>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="TaiLieuGuiKem">
							<xs:annotation>
								<xs:documentation>IV. TÀI LIỆU GỬI KÈM: (ghi rõ tên tài liệu, bản chính, bản sao)</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="TaiLieu" maxOccurs="unbounded">
										<xs:complexType>
											<xs:sequence>
												<xs:element name="maTaiLieu" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>Mã tài liệu</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="tenTaiLieu" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>Tên tài liệu</xs:documentation>
													</xs:annotation>
												</xs:element>
											</xs:sequence>
											<xs:attribute name="id" type="xs:string"/>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
		<xs:complexType name="PLucType">
			<xs:complexContent>
				<xs:extension base="PLucType">
					<xs:sequence>
						<xs:element name="PL02_1_HT" minOccurs="0">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="tuKy" type="xs:string" nillable="true">
										<xs:annotation>
											<xs:documentation>[01] Kỳ đề nghị hoàn: Từ kỳ: Định dạng YYYY </xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="denKy" type="xs:string" nillable="true">
										<xs:annotation>
											<xs:documentation>Đến kỳ: Định dạng YYYY</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="NoiDungPL02_1_HT" maxOccurs="unbounded">
										<xs:complexType>
											<xs:sequence>
												<xs:element name="ct2" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>Số chứng từ </xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct3" type="xs:date" nillable="true">
													<xs:annotation>
														<xs:documentation>Ngày chứng từ</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct4" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>Ngân hàng/Kho bạc nhà nước nơi nộp thuế</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct5_ma" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>Mã tiểu mục</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct5_ten" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>Tên tiểu mục</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct6_LoaiKy">
													<xs:annotation>
														<xs:documentation>Chọn Tháng M, Quý Q, Năm Y, lần phát sinh D</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:string"/>
													</xs:simpleType>
												</xs:element>
												<xs:element name=" ct6_KyKeKhai" type="xs:string">
													<xs:annotation>
														<xs:documentation>Chọn Tháng M, Quý Q, Năm Y, lần phát sinh D</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct6_kyKKhaiTuNgay" type="xs:string">
													<xs:annotation>
														<xs:documentation>Định dạng DD/MM/YYYY</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct6_kyKKhaiDenNgay" type="xs:string">
													<xs:annotation>
														<xs:documentation>Định dạng DD/MM/YYYY</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct6_kyKKhaiTuThang" type="xs:string">
													<xs:annotation>
														<xs:documentation>Định dạng MM/YYYY</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct6_kyKKhaiDenThang" type="xs:string">
													<xs:annotation>
														<xs:documentation>Định dạng MM/YYYY</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct7" type="xs:decimal" nillable="true">
													<xs:annotation>
														<xs:documentation>Số thuế đã nộp</xs:documentation>
													</xs:annotation>
												</xs:element>
											</xs:sequence>
											<xs:attribute name="id" type="xs:string"/>
										</xs:complexType>
									</xs:element>
									<xs:element name="tongCot7" type="xs:decimal" nillable="true">
										<xs:annotation>
											<xs:documentation>Tổng Cộng </xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:redefine>
</xs:schema>
