HTKK/InterfaceTemplates/Validate/01_GTGT_TT80_251.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2010 rel. 3 (http://www.altova.com) by MESMERiZE (MSM) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://kekhaithue.gdt.gov.vn/TKhaiThue" targetNamespace="http://kekhaithue.gdt.gov.vn/TKhaiThue" elementFormDefault="qualified" attributeFormDefault="unqualified" version="2.1.2">
	<xs:redefine schemaLocation="../TKhaiThue.xsd">
		<xs:complexType name="CTieuTKhaiChinhType">
			<xs:complexContent>
				<xs:extension base="CTieuTKhaiChinhType">
					<xs:sequence>
						<xs:element name="ma_NganhNghe" type="xs:string" nillable="true">
							<xs:annotation>
								<xs:documentation>Mã ngành nghề</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="ten_NganhNghe" type="xs:string" nillable="true">
							<xs:annotation>
								<xs:documentation>Tên ngành nghề</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="tieuMucHachToan" type="tieuMucHT_empty">
							<xs:annotation>
								<xs:documentation>Tiểu mục hạch toán</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="Header" nillable="true">
							<xs:annotation>
								<xs:documentation>Thông tin chung</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="ct09" type="xs:string" nillable="true">
										<xs:annotation>
											<xs:documentation>Tên đơn vị phụ thuộc/địa điểm kinh doanh của hoạt động sản xuất kinh doanh khác tỉnh nơi đóng trụ sở chính</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct10" type="xs:string" nillable="true">
										<xs:annotation>
											<xs:documentation>Mã số thuế đơn vị phụ thuộc/Mã số địa điểm kinh doanh</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="DiaChiHDSXKDKhacTinhNDTSC">
										<xs:annotation>
											<xs:documentation>Địa chỉ nơi có hoạt động sản xuất kinh doanh khác tỉnh nơi đóng trụ sở chính</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>
												<xs:element name="ct11a_phuongXa_ma" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>Địa chỉ: mã Phường/xã</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct11a_phuongXa_ten" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>Địa chỉ: Tên Phường/xã</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct11b_quanHuyen_ma" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>Địa chỉ: mã Quận/Huyện </xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct11b_quanHuyen_ten" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>Địa chỉ: tên Quận/Huyện </xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct11c_tinhTP_ma" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>Địa chỉ: mã Tỉnh/Thành phố</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct11c_tinhTP_ten" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>Địa chỉ: tên Tỉnh/Thành phố</xs:documentation>
													</xs:annotation>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="ct21" type="xs:boolean" nillable="true">
							<xs:annotation>
								<xs:documentation>Không phát sinh hoạt động mua, bán trong kỳ (đánh dấu "X")</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="ct22" type="xs:nonNegativeInteger" nillable="true">
							<xs:annotation>
								<xs:documentation>Thuế GTGT còn được khấu trừ kỳ trước chuyển sang</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="GiaTriVaThueGTGTHHDVMuaVao">
							<xs:annotation>
								<xs:documentation>Giá trị và thuế giá trị gia tăng của hàng hóa, dịch vụ mua vào</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="ct23" type="xs:long" nillable="true">
										<xs:annotation>
											<xs:documentation>Giá trị hàng hóa, dịch vụ
(chưa có thuế giá trị gia tăng)</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct24" type="xs:long" nillable="true">
										<xs:annotation>
											<xs:documentation>Thuế giá trị gia tăng </xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="HangHoaDichVuNhapKhau">
							<xs:annotation>
								<xs:documentation>Trong đó: hàng hóa, dịch vụ nhập khẩu</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="ct23a" type="xs:long" nillable="true">
										<xs:annotation>
											<xs:documentation>Giá trị hàng hóa, dịch vụ
(chưa có thuế giá trị gia tăng)</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct24a" type="xs:long" nillable="true">
										<xs:annotation>
											<xs:documentation>Thuế giá trị gia tăng </xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="ct25" type="xs:long" nillable="true">
							<xs:annotation>
								<xs:documentation>Thuế giá trị gia tăng của hàng hóa, dịch vụ mua vào được khấu trừ kỳ này</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="ct26" type="xs:long" nillable="true">
							<xs:annotation>
								<xs:documentation>Hàng hóa, dịch vụ bán ra không chịu thuế giá trị gia tăng </xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="HHDVBRaChiuThueGTGT">
							<xs:annotation>
								<xs:documentation>Hàng hóa, dịch vụ bán ra chịu thuế giá trị gia tăng ([27]=[29]+[30]+[32]+[32a]; [28]=[31]+[33])</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="ct27" type="xs:long" nillable="true">
										<xs:annotation>
											<xs:documentation>Giá trị hàng hóa, dịch vụ
(chưa có thuế giá trị gia tăng)
([27]=[29]+[30]+[32]+[32a]</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct28" type="xs:long" nillable="true">
										<xs:annotation>
											<xs:documentation>Thuế giá trị gia tăng  ([28]=[31]+[33])</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="ct29" type="xs:long" nillable="true">
							<xs:annotation>
								<xs:documentation>Hàng hoá, dịch vụ bán ra chịu thuế suất 0%</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="HHDVBRaChiuTSuat5">
							<xs:annotation>
								<xs:documentation>Hàng hoá, dịch vụ bán ra chịu thuế suất 5%</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="ct30" type="xs:long" nillable="true">
										<xs:annotation>
											<xs:documentation>Giá trị của Hàng hoá, dịch vụ bán ra chịu thuế suất 5%</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct31" type="xs:long" nillable="true">
										<xs:annotation>
											<xs:documentation>Thuế GTGT của Hàng hoá, dịch vụ bán ra chịu thuế suất 5%</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="HHDVBRaChiuTSuat10">
							<xs:annotation>
								<xs:documentation>Hàng hoá, dịch vụ bán ra chịu thuế suất 10%</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="ct32" type="xs:long" nillable="true">
										<xs:annotation>
											<xs:documentation>Giá Trị của Hàng hoá, dịch vụ bán ra chịu thuế suất 10%</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct33" type="xs:long" nillable="true">
										<xs:annotation>
											<xs:documentation>Thuế  GTGT của Hàng hoá, dịch vụ bán ra chịu thuế suất 10%</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="ct32a" type="xs:long" nillable="true">
							<xs:annotation>
								<xs:documentation>Giá Trị của Hàng hoá, dịch vụ bán ra không tính thuế</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="TongDThuVaThueGTGTHHDVBRa">
							<xs:annotation>
								<xs:documentation>Tổng doanh thu và thuế GTGT của HHDV bán ra</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="ct34" type="xs:long" nillable="true">
										<xs:annotation>
											<xs:documentation>Tổng doanh thu của HHDV bán ra ([34]=[26]+[27])</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct35" type="xs:long" nillable="true">
										<xs:annotation>
											<xs:documentation>Tổng thuế GTGT của HHDV bán ra ([35]=[28])</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="ct36" type="xs:long" nillable="true">
							<xs:annotation>
								<xs:documentation>Thuế GTGT phát sinh trong kỳ ([36]=[35]-[25])</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="ct37" type="xs:long" nillable="true">
							<xs:annotation>
								<xs:documentation>Điều chỉnh giảm thuế GTGT còn được khấu trừ của các kỳ trước</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="ct38" type="xs:long" nillable="true">
							<xs:annotation>
								<xs:documentation>Điều chỉnh tăng thuế GTGT còn được khấu trừ của các kỳ trước</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="ct39a" type="xs:long" nillable="true">
							<xs:annotation>
								<xs:documentation>Thuế giá trị gia tăng nhận bàn giao được khấu trừ trong kỳ</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="ct40a" type="xs:nonNegativeInteger" nillable="true">
							<xs:annotation>
								<xs:documentation>Thuế giá trị gia tăng phải nộp của hoạt động sản xuất kinh doanh trong kỳ
{[40a]=([36]-[22]+[37]-[38]-[39a]) ≥ 0}</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="ct40b" type="xs:long" nillable="true">
							<xs:annotation>
								<xs:documentation>Thuế giá trị gia tăng mua vào của dự án đầu tư được bù trừ với thuế GTGT còn phải nộp của hoạt động sản xuất kinh doanh cùng kỳ tính thuế ([40b]≤[40a])</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="ct40" type="xs:nonNegativeInteger" nillable="true">
							<xs:annotation>
								<xs:documentation>Thuế GTGT còn phải nộp trong kỳ ([40]=[40a]-[40b])</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="ct41" type="xs:nonNegativeInteger" nillable="true">
							<xs:annotation>
								<xs:documentation>Thuế GTGT chưa khấu trừ hết kỳ này (nếu [41]=[36]-[22]+[37]-[38]-[39] nhỏ hơn 0)</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="ct42" type="xs:long" nillable="true">
							<xs:annotation>
								<xs:documentation>Tổng số thuế GTGT đề nghị hoàn</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="ct43" type="xs:long" nillable="true">
							<xs:annotation>
								<xs:documentation>Thuế GTGT còn được khấu trừ chuyển kỳ sau ([43]=[41]-[42])</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
		<xs:complexType name="PLucType">
			<xs:complexContent>
				<xs:extension base="PLucType">
					<xs:sequence>
						<xs:element name="PLuc_01_2_GTGT" minOccurs="0">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="TenNhaMay" nillable="true" maxOccurs="unbounded">
										<xs:complexType>
											<xs:sequence>
												<xs:element name="sTT" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>Số thứ tự</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ten_nhaMay" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>Tên nhà máy</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ma_nhaMay" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>Mã nhà máy</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="DiaBanPhanBo" nillable="true" maxOccurs="unbounded">
													<xs:annotation>
														<xs:documentation>Nhà máy</xs:documentation>
													</xs:annotation>
													<xs:complexType>
														<xs:sequence>
															<xs:element name="sTT" type="xs:string" nillable="true">
																<xs:annotation>
																	<xs:documentation>Số thứ tự</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="loai" type="xs:string" nillable="true">
																<xs:annotation>
																	<xs:documentation>Loại"  01: Nơi có văn phòng điều hành nhà máy, 02: Nơi có nhà máy thủy điện (khác nơi có văn phòng điều hành)</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="ct05" type="xs:string" nillable="true">
																<xs:annotation>
																	<xs:documentation>Tên địa bàn theo từng tỉnh</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="ct06" type="xs:string" nillable="true">
																<xs:annotation>
																	<xs:documentation>Mã số thuế/Mã địa điểm kinh doanh</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="ct07_huyen_ma" type="xs:string" nillable="true">
																<xs:annotation>
																	<xs:documentation>Mã huyện</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="ct07_huyen_ten" type="xs:string" nillable="true">
																<xs:annotation>
																	<xs:documentation>Tên huyện</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="ct08_tinh_ma" type="xs:string" nillable="true">
																<xs:annotation>
																	<xs:documentation>Mã tỉnh</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="ct08_tinh_ten" type="xs:string" nillable="true">
																<xs:annotation>
																	<xs:documentation>Tên tỉnh</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="ct09_cqt_ma" type="xs:string" nillable="true">
																<xs:annotation>
																	<xs:documentation>Mã cơ quan thuế quản lý địa bàn nhận phân bổ</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="ct09_cqt_ten" type="xs:string" nillable="true">
																<xs:annotation>
																	<xs:documentation>Tên cơ quan thuế quản lý địa bàn nhận phân bổ</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="ct10" type="xs:nonNegativeInteger" nillable="true">
																<xs:annotation>
																	<xs:documentation>Số thuế tài nguyên phải nộp của nhà máy thủy điện</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="ct11" type="xs:decimal" nillable="true">
																<xs:annotation>
																	<xs:documentation>Tỷ lệ phân bổ (%)</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="ct12" type="xs:nonNegativeInteger" nillable="true">
																<xs:annotation>
																	<xs:documentation>Số thuế phải nộp cho từng tỉnh [12]=[11] x[10]</xs:documentation>
																</xs:annotation>
															</xs:element>
														</xs:sequence>
														<xs:attribute name="id" type="xs:string" use="required"/>
													</xs:complexType>
												</xs:element>
												<xs:element name="ct10_a" type="xs:nonNegativeInteger" nillable="true">
													<xs:annotation>
														<xs:documentation>Tổng cộng số thuế tài nguyên phải nộp của từng nhà máy thủy điện</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct11_a" type="xs:decimal" nillable="true">
													<xs:annotation>
														<xs:documentation>Tổng tỷ lệ phân bổ (%) của mỗi nhà máy</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct12_a" type="xs:nonNegativeInteger" nillable="true">
													<xs:annotation>
														<xs:documentation>Tổng số thuế phải nộp cho từng tỉnh tại mỗi nhà máy</xs:documentation>
													</xs:annotation>
												</xs:element>
											</xs:sequence>
											<xs:attribute name="id" type="xs:string" use="required"/>
										</xs:complexType>
									</xs:element>
									<xs:element name="ct13" type="xs:nonNegativeInteger" nillable="true">
										<xs:annotation>
											<xs:documentation>Tổng cộng số thuế tài nguyên phải nộp của nhà máy thủy điện</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct14" type="xs:nonNegativeInteger" nillable="true">
										<xs:annotation>
											<xs:documentation>Tổng cộng số thuế phải nộp cho từng tỉnh</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="Pluc_01_3_GTGT" minOccurs="0">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="ct07" type="xs:nonNegativeInteger" nillable="true">
										<xs:annotation>
											<xs:documentation>Tổng doanh thu thực tế</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="NoiDungBangPhanBo" nillable="true" minOccurs="0" maxOccurs="unbounded">
										<xs:annotation>
											<xs:documentation>Địa bàn </xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>
												<xs:element name="loai" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>01:Tên đơn vị phụ thuộc khác tỉnh với nơi NNT đóng trụ sở chính. 02:Tên địa điểm kinh doanh khác tỉnh với nơi NNT đóng trụ sở chính. 03:Nơi không có đơn vị phụ thuộc/địa điểm kinh doanh   </xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct08" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>Chỉ tiêu</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct09" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>Mã số thuế/Mã địa điểm kinh doanh</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct10_huyen_ma" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>Mã huyện</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct10_huyen_ten" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>Tên huyện</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct11_tinh_ma" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>Mã tỉnh</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct11_tinh_ten" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>Tên tỉnh</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct12_cqt_ma" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>Mã cơ quan thuế quản lý địa bàn nhận phân bổ</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct12_cqt_ten" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>Tên cơ quan thuế quản lý địa bàn nhận phân bổ</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct13" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>Doanh thu bán vé thực tế theo từng tỉnh</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct14" type="xs:decimal" nillable="true">
													<xs:annotation>
														<xs:documentation>Tỷ lệ doanh thu bán vé thực tế theo từng tỉnh (%) [14]=[13]/ [06]x100%</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct15" type="xs:nonNegativeInteger" nillable="true">
													<xs:annotation>
														<xs:documentation>Số thuế TTĐB               phải nộp cho từng tỉnh [15]=[40]x[14]</xs:documentation>
													</xs:annotation>
												</xs:element>
											</xs:sequence>
											<xs:attribute name="id" type="xs:string" use="required"/>
										</xs:complexType>
									</xs:element>
									<xs:element name="cong_ct16" nillable="true" maxOccurs="unbounded">
										<xs:annotation>
											<xs:documentation>Cộng theo từng tỉnh .....</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>
												<xs:element name="ct16" type="xs:nonNegativeInteger" nillable="true">
													<xs:annotation>
														<xs:documentation>Số thuế TTĐB               phải nộp cho từng tỉnh</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct16_tinh_ma" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>Mã tỉnh</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct16_tinh_ten" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>Tên tỉnh</xs:documentation>
													</xs:annotation>
												</xs:element>
											</xs:sequence>
											<xs:attribute name="id" use="required"/>
										</xs:complexType>
									</xs:element>
									<xs:element name="ct17" type="xs:nonNegativeInteger" nillable="true">
										<xs:annotation>
											<xs:documentation>Cộng các tỉnh khác nơi NNT đóng trụ sở chính [17]=∑[16]</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct18" type="xs:nonNegativeInteger" nillable="true">
										<xs:annotation>
											<xs:documentation>Số thuế phải nộp cho nơi NNT đóng trụ sở chính ([18]=chỉ tiêu [40]-[17])</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="Pluc_01_6_GTGT_CSSX" minOccurs="0">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="ct10a_csxs" type="xs:boolean" nillable="true">
										<xs:annotation>
											<xs:documentation>Đơn vị phụ thuộc, địa điểm kinh doanh là cơ sở sản xuất.</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct10a_dvvt" type="xs:boolean" nillable="true">
										<xs:annotation>
											<xs:documentation>Đơn vị phụ thuộc kinh doanh dịch vụ viễn thông cước trả sau.</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct06" type="xs:nonNegativeInteger" nillable="true">
										<xs:annotation>
											<xs:documentation>Số thuế phải nộp của cơ sở sản xuất</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct07" type="xs:nonNegativeInteger" nillable="true">
										<xs:annotation>
											<xs:documentation>Tổng doanh thu chưa có thuế giá trị gia tăng của sản phẩm sản xuất ra </xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="NoiDungBangPhanBo" nillable="true" minOccurs="0" maxOccurs="unbounded">
										<xs:annotation>
											<xs:documentation>Địa bàn </xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>
												<xs:element name="ct09" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>Chỉ tiêu</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct10" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>Mã số thuế/Mã địa điểm kinh doanh</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct11_huyen_ma" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>Mã huyện</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct11_huyen_ten" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>Tên huyện</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct12_tinh_ma" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>Mã tỉnh</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct12_tinh_ten" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>Tên tỉnh</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct13_cqt_ma" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>Mã cơ quan thuế quản lý địa bàn nhận phân bổ</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct13_cqt_ten" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>Tên cơ quan thuế quản lý địa bàn nhận phân bổ</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct14" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>Doanh thu ... Hàng hóa chịu thuế suất 5%</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct15" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>Doanh thu ... Hàng hóa chịu thuế suất 10%</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct16" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>Doanh thu ..  Tổng [16]=[14]+[15] </xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct17" type="xs:nonNegativeInteger" nillable="true">
													<xs:annotation>
														<xs:documentation>Số thuế phải nộp cho từng tỉnh nơi có cơ sở sản xuất[17]=1%x[14]+2%x[15]</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct21" type="xs:nonNegativeInteger" nillable="true">
													<xs:annotation>
														<xs:documentation>[21]=([06]x([16]/[07])</xs:documentation>
													</xs:annotation>
												</xs:element>
											</xs:sequence>
											<xs:attribute name="id" type="xs:string" use="required"/>
										</xs:complexType>
									</xs:element>
									<xs:element name="cong_ct18" nillable="true" maxOccurs="unbounded">
										<xs:annotation>
											<xs:documentation>Cộng theo từng tỉnh .....</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>
												<xs:element name="ct18" type="xs:nonNegativeInteger" nillable="true">
													<xs:annotation>
														<xs:documentation>Tổng cột [17] theo từng tỉnh</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct22" type="xs:nonNegativeInteger" nillable="true">
													<xs:annotation>
														<xs:documentation>Tổng cột [21] theo từng tỉnh</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct18_tinh_ma" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>Mã tỉnh</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct18_tinh_ten" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>Tên tỉnh</xs:documentation>
													</xs:annotation>
												</xs:element>
											</xs:sequence>
											<xs:attribute name="id" use="required"/>
										</xs:complexType>
									</xs:element>
									<xs:element name="CongCacTinh" nillable="true">
										<xs:annotation>
											<xs:documentation>Cộng các tỉnh</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>
												<xs:element name="ct19" type="xs:nonNegativeInteger" nillable="true">
													<xs:annotation>
														<xs:documentation>[19]=∑[18]</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct23" type="xs:nonNegativeInteger" nillable="true">
													<xs:annotation>
														<xs:documentation>[23]=∑[22]</xs:documentation>
													</xs:annotation>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name="SoThuePhaiNop" nillable="true">
										<xs:annotation>
											<xs:documentation>Số thuế phải nộp cho nơi NNT đóng trụ sở chính ([20]=[06]-[19] hoặc [24]=[06]-[23])</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>
												<xs:element name="ct20" type="xs:nonNegativeInteger" nillable="true">
													<xs:annotation>
														<xs:documentation>[20]=[06]-[19] </xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct24" type="xs:nonNegativeInteger" nillable="true">
													<xs:annotation>
														<xs:documentation>[24]=[06]-[23]</xs:documentation>
													</xs:annotation>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="Pluc_01_6_GTGT_DVVT" minOccurs="0">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="ct10a_csxs" type="xs:boolean" nillable="true">
										<xs:annotation>
											<xs:documentation>Đơn vị phụ thuộc, địa điểm kinh doanh là cơ sở sản xuất.</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct10a_dvvt" type="xs:boolean" nillable="true">
										<xs:annotation>
											<xs:documentation>Đơn vị phụ thuộc kinh doanh dịch vụ viễn thông cước trả sau.</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct06" type="xs:nonNegativeInteger" nillable="true">
										<xs:annotation>
											<xs:documentation>Số thuế phải nộp của dịch vụ viễn thông cước trả sau</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct07" type="xs:nonNegativeInteger" nillable="true">
										<xs:annotation>
											<xs:documentation>Tổng doanh thu chưa có thuế giá trị gia tăng của sản phẩm sản xuất ra </xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="NoiDungBangPhanBo" nillable="true" minOccurs="0" maxOccurs="unbounded">
										<xs:annotation>
											<xs:documentation>Địa bàn </xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>
												<xs:element name="ct09" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>Chỉ tiêu</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct10" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>Mã số thuế/Mã địa điểm kinh doanh</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct11_huyen_ma" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>Mã huyện</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct11_huyen_ten" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>Tên huyện</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct12_tinh_ma" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>Mã tỉnh</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct12_tinh_ten" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>Tên tỉnh</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct13_cqt_ma" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>Mã cơ quan thuế quản lý địa bàn nhận phân bổ</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct13_cqt_ten" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>Tên cơ quan thuế quản lý địa bàn nhận phân bổ</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct14" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>Doanh thu ... Hàng hóa chịu thuế suất 5%</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct15" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>Doanh thu ... Hàng hóa chịu thuế suất 10%</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct16" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>Doanh thu ..  Tổng [16]=[14]+[15] </xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct17" type="xs:nonNegativeInteger" nillable="true">
													<xs:annotation>
														<xs:documentation>Số thuế phải nộp cho từng tỉnh nơi có đơn vị phụ thuộc kinh doanh dịch vụ viễn thông cước trả sau [17]=1%x[14]+2%x[15]</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct21" type="xs:nonNegativeInteger" nillable="true">
													<xs:annotation>
														<xs:documentation>[21]=([06]x([16]/[07])</xs:documentation>
													</xs:annotation>
												</xs:element>
											</xs:sequence>
											<xs:attribute name="id" type="xs:string" use="required"/>
										</xs:complexType>
									</xs:element>
									<xs:element name="cong_ct18" nillable="true" maxOccurs="unbounded">
										<xs:annotation>
											<xs:documentation>Cộng theo từng tỉnh .....</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>
												<xs:element name="ct18" type="xs:nonNegativeInteger" nillable="true">
													<xs:annotation>
														<xs:documentation>Tổng cột [17] theo từng tỉnh</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct22" type="xs:nonNegativeInteger" nillable="true">
													<xs:annotation>
														<xs:documentation>Tổng cột [21] theo từng tỉnh</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct18_tinh_ma" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>Mã tỉnh</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct18_tinh_ten" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>Tên tỉnh</xs:documentation>
													</xs:annotation>
												</xs:element>
											</xs:sequence>
											<xs:attribute name="id" use="required"/>
										</xs:complexType>
									</xs:element>
									<xs:element name="CongCacTinh" nillable="true">
										<xs:annotation>
											<xs:documentation>Cộng các tỉnh</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>
												<xs:element name="ct19" type="xs:nonNegativeInteger" nillable="true">
													<xs:annotation>
														<xs:documentation>[19]=∑[18]</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct23" type="xs:nonNegativeInteger" nillable="true">
													<xs:annotation>
														<xs:documentation>[23]=∑[22]</xs:documentation>
													</xs:annotation>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name="SoThuePhaiNop" nillable="true">
										<xs:annotation>
											<xs:documentation>Số thuế phải nộp cho nơi NNT đóng trụ sở chính ([20]=[06]-[19] hoặc [24]=[06]-[23])</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>
												<xs:element name="ct20" type="xs:nonNegativeInteger" nillable="true">
													<xs:annotation>
														<xs:documentation>[20]=[06]-[19] </xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct24" type="xs:nonNegativeInteger" nillable="true">
													<xs:annotation>
														<xs:documentation>[24]=[06]-[23]</xs:documentation>
													</xs:annotation>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="PL_NQ43_GTGT" minOccurs="0">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="BangKeTenHHDV" maxOccurs="unbounded">
										<xs:complexType>
											<xs:sequence>
												<xs:element name="tenHHDV" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>Tên hàng hóa, dịch vụ</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="giaTriHHDV" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>Giá trị hàng hóa, dịch vụ chưa có thuế GTGT/Doanh thu hàng hoá, dịch vụ chịu thuế</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="thueSuatTheoQuyDinh" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>Thuế suất/Tỷ lệ tính thuế GTGT theo quy định</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="thueSuatSauGiam" type="xs:decimal" nillable="true">
													<xs:annotation>
														<xs:documentation>Thuế suất/Tỷ lệ tính thuế GTGT sau giảm</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="thueGTGTDuocGiam" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>Thuế GTGT được giảm</xs:documentation>
													</xs:annotation>
												</xs:element>
											</xs:sequence>
											<xs:attribute name="ID" type="xs:string"/>
										</xs:complexType>
									</xs:element>
									<xs:element name="tongCongGiaTriHHDV" type="xs:nonNegativeInteger" nillable="true">
										<xs:annotation>
											<xs:documentation>Tổng cộng Giá trị hàng hóa, dịch vụ chưa có thuế GTGT/Doanh thu hàng hoá, dịch vụ chịu thuế</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="tongCongThueGTGTDuocGiam" type="xs:nonNegativeInteger" nillable="true">
										<xs:annotation>
											<xs:documentation>Tổng cộng Thuế GTGT được giảm</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:redefine>
</xs:schema>
