HTKK/InterfaceTemplates/Validate/01_HKNN_TT80_265.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2010 rel. 3 (http://www.altova.com) by MESMERiZE (MSM) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://kekhaithue.gdt.gov.vn/TKhaiThue" targetNamespace="http://kekhaithue.gdt.gov.vn/TKhaiThue" elementFormDefault="qualified" attributeFormDefault="unqualified" version="2.0.1">
	<xs:redefine schemaLocation="../TKhaiThue.xsd">
		<xs:complexType name="CTieuTKhaiChinhType">
			<xs:annotation>
				<xs:documentation>Tờ khai thuế đối với hãng hàng không nước ngoài -  Mẫu 01/HKNN</xs:documentation>
			</xs:annotation>
			<xs:complexContent>
				<xs:extension base="CTieuTKhaiChinhType">
					<xs:sequence>
						<xs:element name="ct04" type="xs:string" nillable="true">
							<xs:annotation>
								<xs:documentation>Tên Hãng hàng không nước ngoài</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="ct05_ma" type="xs:string" nillable="true">
							<xs:annotation>
								<xs:documentation>Mã nước cư trú</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="ct05_ten" type="xs:string" nillable="true">
							<xs:annotation>
								<xs:documentation>Tên nước cư trú</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="ct06" type="xs:string" nillable="true">
							<xs:annotation>
								<xs:documentation>Địa chỉ trụ sở chính tại nước ngoài</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="ct12_phatSinh" type="xs:nonNegativeInteger" nillable="true">
							<xs:annotation>
								<xs:documentation>Tổng doanh thu [12]=[13]+[14]+[15]</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="ct12_luyKe" type="xs:nonNegativeInteger" nillable="true">
							<xs:annotation>
								<xs:documentation>Tổng doanh thu lũy kế năm</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="ct13_phatSinh" type="xs:nonNegativeInteger" nillable="true">
							<xs:annotation>
								<xs:documentation>Doanh thu bán vé hành khách</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="ct13_luyKe" type="xs:nonNegativeInteger" nillable="true">
							<xs:annotation>
								<xs:documentation>Doanh thu bán vé hành khách</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="ct14_phatSinh" type="xs:nonNegativeInteger" nillable="true">
							<xs:annotation>
								<xs:documentation>Doanh thu bán vận đơn hàng không</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="ct14_luyKe" type="xs:nonNegativeInteger" nillable="true">
							<xs:annotation>
								<xs:documentation>Doanh thu bán vận đơn hàng không</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="ct15_phatSinh" type="xs:nonNegativeInteger" nillable="true">
							<xs:annotation>
								<xs:documentation>Doanh thu khác</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="ct15_luyKe" type="xs:nonNegativeInteger" nillable="true">
							<xs:annotation>
								<xs:documentation>Doanh thu khác</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="ct16_phatSinh" type="xs:nonNegativeInteger" nillable="true">
							<xs:annotation>
								<xs:documentation>Các khoản giảm trừ doanh thu [16]=[17]+[18]</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="ct16_luyKe" type="xs:nonNegativeInteger" nillable="true">
							<xs:annotation>
								<xs:documentation>Các khoản giảm trừ doanh thu [16]=[17]+[18]</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="ct17_phatSinh" type="xs:nonNegativeInteger" nillable="true">
							<xs:annotation>
								<xs:documentation>Các khoản thu hộ</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="ct17_luyKe" type="xs:nonNegativeInteger" nillable="true">
							<xs:annotation>
								<xs:documentation>Các khoản thu hộ</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="ct18_phatSinh" type="xs:nonNegativeInteger" nillable="true">
							<xs:annotation>
								<xs:documentation>Chi hoàn do khách hàng trả lại vé</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="ct18_luyKe" type="xs:nonNegativeInteger" nillable="true">
							<xs:annotation>
								<xs:documentation>Chi hoàn do khách hàng trả lại vé</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="ct19_phatSinh" type="xs:nonNegativeInteger" nillable="true">
							<xs:annotation>
								<xs:documentation>Doanh thu chịu thuế TNDN phát sinh quý này [19]=[12]-[17]</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="ct19_luyKe" type="xs:nonNegativeInteger" nillable="true">
							<xs:annotation>
								<xs:documentation>Doanh thu chịu thuế TNDN lũy kế năm </xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="ct20_phatSinh" type="xs:decimal" nillable="true">
							<xs:annotation>
								<xs:documentation>Tỷ lệ (%) thuế thu nhập doanh nghiệp tính trên doanh thu chịu thuế</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="ct20_luyKe" type="xs:decimal" nillable="true">
							<xs:annotation>
								<xs:documentation>Tỷ lệ (%) thuế thu nhập doanh nghiệp tính trên doanh thu chịu thuế</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="ct21_phatSinh" type="xs:nonNegativeInteger" nillable="true">
							<xs:annotation>
								<xs:documentation>Thuế thu nhập doanh nghiệp phát sinh trong kỳ [21]=[19]x[20]</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="ct21_luyKe" type="xs:nonNegativeInteger" nillable="true">
							<xs:annotation>
								<xs:documentation>Thuế thu nhập doanh nghiệp phát sinh trong kỳ [21]=[19]x[20]</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="ct22_phatSinh" type="xs:nonNegativeInteger" nillable="true">
							<xs:annotation>
								<xs:documentation>Số thuế miễn, giảm theo Hiệp định trong kỳ phát sinh quý này</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="ct22_luyKe" type="xs:nonNegativeInteger" nillable="true">
							<xs:annotation>
								<xs:documentation>Số thuế miễn, giảm theo Hiệp định trong kỳ lũy kế năm </xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="ct23_phatSinh" type="xs:nonNegativeInteger" nillable="true">
							<xs:annotation>
								<xs:documentation>Số thuế phải nộp trong kỳ phát sinh quý này [23]=[21]-[22]</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="ct23_luyKe" type="xs:nonNegativeInteger" nillable="true">
							<xs:annotation>
								<xs:documentation>Số thuế phải nộp trong kỳ lũy kế năm </xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
		<xs:complexType name="PLucType">
			<xs:complexContent>
				<xs:extension base="PLucType">
					<xs:sequence>
						<xs:element name="PL_01_1_HKNN" minOccurs="0">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="NoiDungPL01_1_HKNN" maxOccurs="unbounded">
										<xs:complexType>
											<xs:sequence>
												<xs:element name="ct01_tu" type="xs:date" nillable="true">
													<xs:annotation>
														<xs:documentation>Kỳ tính thuế_Từ ngày</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct01_den" type="xs:date" nillable="true">
													<xs:annotation>
														<xs:documentation>Kỳ tính thuế_Đến ngày</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct02" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>Tên hãng vận tải nước ngoài</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct03_ma" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>Mã Nước cư trú</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct03_ten" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>Tên Nước cư trú</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct04" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>Tên/hô hiệu phương tiện vận tải</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="BKeTNhapVTaiQTe">
													<xs:annotation>
														<xs:documentation>Bảng kê thu nhập vận tải quốc tế</xs:documentation>
													</xs:annotation>
													<xs:complexType>
														<xs:sequence>
															<xs:element name="ChiTiet" maxOccurs="unbounded">
																<xs:annotation>
																	<xs:documentation>Chi tiết bảng kê thu nhập vận tải quốc tế</xs:documentation>
																</xs:annotation>
																<xs:complexType>
																	<xs:sequence>
																		<xs:element name="ct1" type="xs:string" nillable="true">
																			<xs:annotation>
																				<xs:documentation>Kỳ vận chuyển</xs:documentation>
																			</xs:annotation>
																		</xs:element>
																		<xs:element name="ct2" type="xs:string" nillable="true">
																			<xs:annotation>
																				<xs:documentation>Cảng đi</xs:documentation>
																			</xs:annotation>
																		</xs:element>
																		<xs:element name="ct3" type="xs:string" nillable="true">
																			<xs:annotation>
																				<xs:documentation>Cảng đến</xs:documentation>
																			</xs:annotation>
																		</xs:element>
																		<xs:element name="ct4" type="xs:nonNegativeInteger" nillable="true">
																			<xs:annotation>
																				<xs:documentation>Tổng Doanh thu bán vé tại thị trường Việt Nam </xs:documentation>
																			</xs:annotation>
																		</xs:element>
																		<xs:element name="ct5" type="xs:nonNegativeInteger" nillable="true">
																			<xs:annotation>
																				<xs:documentation>Thuế thu nhập doanh nghiệp phải nộp</xs:documentation>
																			</xs:annotation>
																		</xs:element>
																		<xs:element name="ct6" type="xs:nonNegativeInteger" nillable="true">
																			<xs:annotation>
																				<xs:documentation>Thuế thu nhập doanh nghiệp đề nghị miễn, giảm</xs:documentation>
																			</xs:annotation>
																		</xs:element>
																	</xs:sequence>
																	<xs:attribute name="ID" type="xs:string"/>
																</xs:complexType>
															</xs:element>
															<xs:element name="tongct4" type="xs:nonNegativeInteger" nillable="true">
																<xs:annotation>
																	<xs:documentation>Tổng cộng doanh thu bán vé tại thị trường Việt Nam</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="tongct5" type="xs:nonNegativeInteger" nillable="true">
																<xs:annotation>
																	<xs:documentation>Tổng thuế thu nhập doanh nghiệp phải nộp</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="tongct6" type="xs:nonNegativeInteger" nillable="true">
																<xs:annotation>
																	<xs:documentation>Tổng thuế thu nhập doanh nghiệp đề nghị miễn, giảm</xs:documentation>
																</xs:annotation>
															</xs:element>
														</xs:sequence>
													</xs:complexType>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="PL_01_2_HKNN" minOccurs="0">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="NoiDungPL01_2_HKNN" maxOccurs="unbounded">
										<xs:complexType>
											<xs:sequence>
												<xs:element name="ct01_tu" type="xs:date" nillable="true">
													<xs:annotation>
														<xs:documentation>Kỳ tính thuế_Từ ngày</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct01_den" type="xs:date" nillable="true">
													<xs:annotation>
														<xs:documentation>Kỳ tính thuế_Đến ngày</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct02" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>Tên hãng vận tải nước ngoài</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct03_ma" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>Mã Nước cư trú</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct03_ten" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>Tên Nước cư trú</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct04" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>Tên/hô hiệu phương tiện vận tải</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="BKeTNhapVTaiQTe">
													<xs:annotation>
														<xs:documentation>Bảng kê thu nhập vận tải quốc tế</xs:documentation>
													</xs:annotation>
													<xs:complexType>
														<xs:sequence>
															<xs:element name="ChiTiet" maxOccurs="unbounded">
																<xs:annotation>
																	<xs:documentation>Chi tiết bảng kê thu nhập vận tải quốc tế</xs:documentation>
																</xs:annotation>
																<xs:complexType>
																	<xs:sequence>
																		<xs:element name="ct1" type="xs:string" nillable="true">
																			<xs:annotation>
																				<xs:documentation>Kỳ vận chuyển</xs:documentation>
																			</xs:annotation>
																		</xs:element>
																		<xs:element name="ct2" type="xs:string" nillable="true">
																			<xs:annotation>
																				<xs:documentation>Cảng đi</xs:documentation>
																			</xs:annotation>
																		</xs:element>
																		<xs:element name="ct3" type="xs:string" nillable="true">
																			<xs:annotation>
																				<xs:documentation>Cảng đến</xs:documentation>
																			</xs:annotation>
																		</xs:element>
																		<xs:element name="ct4" type="xs:nonNegativeInteger" nillable="true">
																			<xs:annotation>
																				<xs:documentation>Số chỗ hoán đổi/chia
(theo thoả thuận hoán đổi/chia chỗ)</xs:documentation>
																			</xs:annotation>
																		</xs:element>
																		<xs:element name="ct5" type="xs:nonNegativeInteger" nillable="true">
																			<xs:annotation>
																				<xs:documentation>Số chỗ hoán đổi thực tế</xs:documentation>
																			</xs:annotation>
																		</xs:element>
																		<xs:element name="ct6" type="xs:nonNegativeInteger" nillable="true">
																			<xs:annotation>
																				<xs:documentation>Doanh thu quy đổi</xs:documentation>
																			</xs:annotation>
																		</xs:element>
																		<xs:element name="ct7" type="xs:nonNegativeInteger" nillable="true">
																			<xs:annotation>
																				<xs:documentation>Thuế Thu nhập doanh nghiệp phải nộp</xs:documentation>
																			</xs:annotation>
																		</xs:element>
																		<xs:element name="ct8" type="xs:nonNegativeInteger" nillable="true">
																			<xs:annotation>
																				<xs:documentation>Thuế Thu nhập doanh nghiệp đề nghị miễn, giảm</xs:documentation>
																			</xs:annotation>
																		</xs:element>
																	</xs:sequence>
																	<xs:attribute name="ID" type="xs:string"/>
																</xs:complexType>
															</xs:element>
															<xs:element name="tongct4" type="xs:nonNegativeInteger" nillable="true">
																<xs:annotation>
																	<xs:documentation>Tổng Số chỗ hoán đổi/chia
(theo thoả thuận hoán đổi/chia chỗ)
</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="tongct5" type="xs:nonNegativeInteger" nillable="true">
																<xs:annotation>
																	<xs:documentation>Tổng Số chỗ hoán đổi thực tế</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="tongct6" type="xs:nonNegativeInteger" nillable="true">
																<xs:annotation>
																	<xs:documentation>Tổng Doanh thu quy đổi</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="tongct7" type="xs:nonNegativeInteger" nillable="true">
																<xs:annotation>
																	<xs:documentation>Tổng Thuế Thu nhập doanh nghiệp phải nộp</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="tongct8" type="xs:nonNegativeInteger" nillable="true">
																<xs:annotation>
																	<xs:documentation>Tổng Thuế Thu nhập doanh nghiệp đề nghị miễn, giảm</xs:documentation>
																</xs:annotation>
															</xs:element>
														</xs:sequence>
													</xs:complexType>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:redefine>
</xs:schema>
