HTKK/InterfaceTemplates/Validate/01_KTTSBD_TT80_251.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2010 rel. 3 (http://www.altova.com) by MESMERiZE (MSM) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://kekhaithue.gdt.gov.vn/TKhaiThue" targetNamespace="http://kekhaithue.gdt.gov.vn/TKhaiThue" elementFormDefault="qualified" attributeFormDefault="unqualified" version="2.0.0">
	<xs:redefine schemaLocation="../TKhaiThue.xsd">
		<xs:complexType name="CTieuTKhaiChinhType">
			<xs:complexContent>
				<xs:extension base="CTieuTKhaiChinhType">
					<xs:sequence>
						<xs:element name="ct14" type="xs:long" nillable="true">
							<xs:annotation>
								<xs:documentation>1.Tổng giá tính thuế GTGT</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="ct15" type="xs:long" nillable="true">
							<xs:annotation>
								<xs:documentation>2.Tổng số thuế GTGT phải nộp trong kỳ</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="ct16" type="xs:long" nillable="true">
							<xs:annotation>
								<xs:documentation>3.Tổng thu nhập tính thuế TNDN</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="ct17" type="xs:long" nillable="true">
							<xs:annotation>
								<xs:documentation>4.Tổng số thuế TNDN phải nộp trong kỳ</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="ct18" type="xs:long" nillable="true">
							<xs:annotation>
								<xs:documentation>1.Tổng doanh thu tính thuế GTGT</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="ct19" type="xs:long" nillable="true">
							<xs:annotation>
								<xs:documentation>2.Tổng số thuế GTGT phải nộp trong kỳ</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="ct20" type="xs:long" nillable="true">
							<xs:annotation>
								<xs:documentation>3.Tổng doanh thu tính thuế TNCN</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="ct21" type="xs:long" nillable="true">
							<xs:annotation>
								<xs:documentation>4.Tổng số thuế TNCN phải nộp trong kỳ</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
		<xs:complexType name="PLucType">
			<xs:complexContent>
				<xs:extension base="PLucType">
					<xs:sequence>
						<xs:element name="PLuc_01_1_KTTSBD" minOccurs="0">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="KeKhaiThayToChuc">
										<xs:annotation>
											<xs:documentation>Nghĩa vụ thuế của các nhà thầu dầu khí</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>
												<xs:element name="ChiTietKhaiThayToChuc" maxOccurs="unbounded">
													<xs:annotation>
														<xs:documentation>I.Kê khai thay cho người nộp thuế có tài sản bảo đảm là tổ chức, doanh nghiệp</xs:documentation>
													</xs:annotation>
													<xs:complexType>
														<xs:sequence>
															<xs:element name="nNTCoTSBD" type="xs:string" nillable="true">
																<xs:annotation>
																	<xs:documentation>Người nộp thuế có tài sản bảo đảm</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="maSoThue" type="TINType" nillable="true">
																<xs:annotation>
																	<xs:documentation>Mã số thuế</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="so" type="xs:string" nillable="true">
																<xs:annotation>
																	<xs:documentation>hợp đồng số </xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="ngay" type="xs:date" nillable="true">
																<xs:annotation>
																	<xs:documentation>hợp đồng Ngày/ tháng/ năm</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="soTienThanhToan" type="xs:long" nillable="true">
																<xs:annotation>
																	<xs:documentation>Số tiền thanh toán trong kỳ</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="ngayThanhToan" type="xs:date" nillable="true">
																<xs:annotation>
																	<xs:documentation>Ngày thanh toán
</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="giaTinhThue" type="xs:long" nillable="true">
																<xs:annotation>
																	<xs:documentation>Thuế GTGT: Số tiền thanh toán trong kỳ</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="thueGTGTPhaiNop" type="xs:long" nillable="true">
																<xs:annotation>
																	<xs:documentation>Thuế GTGT: Thuế GTGT phải nộp</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="thuNhapTinhThue" type="xs:long" nillable="true">
																<xs:annotation>
																	<xs:documentation>Thuế TNDN: Thu nhập tính thuế</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="thueTNDNPhaiNop" type="xs:long" nillable="true">
																<xs:annotation>
																	<xs:documentation>Thuế TNDN: Thuế TNDN phải nộp</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="tongSoThuePhaiNop" type="xs:long" nillable="true">
																<xs:annotation>
																	<xs:documentation>Tổng số thuế phải nộp</xs:documentation>
																</xs:annotation>
															</xs:element>
														</xs:sequence>
														<xs:attribute name="id" type="xs:string"/>
													</xs:complexType>
												</xs:element>
												<xs:element name="tongCongGiaTinhThue" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>Tổng số Thuế GTGT; Giá tính thuế</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="tongCongThueGTGTPN" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>Tổng số Thuế GTGT phải nộp</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="tongCongThuNhapTT" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>Thuế TNDN: Tổng số Thu nhập tính thuế</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="tongCongThueTNDNPN" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>Thuế TNDN: Thuế TNDN
phải nộp
</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="tongCongSoThuePN" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>Tổng cộng: Tổng số thuế phải nộp
</xs:documentation>
													</xs:annotation>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name="KeKhaiThayCaNhan">
										<xs:annotation>
											<xs:documentation>Nghĩa vụ thuế của các nhà thầu dầu khí</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>
												<xs:element name="ChiTietKhaiThayCaNhan" maxOccurs="unbounded">
													<xs:annotation>
														<xs:documentation>I.Kê khai thay cho người nộp thuế có tài sản bảo đảm là tổ chức, doanh nghiệp</xs:documentation>
													</xs:annotation>
													<xs:complexType>
														<xs:sequence>
															<xs:element name="nNTCoTSBD" type="xs:string" nillable="true">
																<xs:annotation>
																	<xs:documentation>Người nộp thuế có tài sản bảo đảm</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="maSoThue" type="TINType" nillable="true">
																<xs:annotation>
																	<xs:documentation>Mã số thuế</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="soCMND_CCCD" type="xs:string" nillable="true">
																<xs:annotation>
																	<xs:documentation>Chứng minh thư/Thẻ căn cước (đối với NNT không có thông tin MST</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="so" type="xs:string" nillable="true">
																<xs:annotation>
																	<xs:documentation>hợp đồng số </xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="ngay" type="xs:date" nillable="true">
																<xs:annotation>
																	<xs:documentation>hợp đồng Ngày/ tháng/ năm</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="soTienThanhToan" type="xs:long" nillable="true">
																<xs:annotation>
																	<xs:documentation>Số tiền thanh toán trong kỳ</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="ngayThanhToan" type="xs:date" nillable="true">
																<xs:annotation>
																	<xs:documentation>Ngày thanh toán
</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="doanhThuGTGT" type="xs:long" nillable="true">
																<xs:annotation>
																	<xs:documentation>Thuế GTGT: Doanh thu tính thuế</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="thueGTGTPhaiNop" type="xs:long" nillable="true">
																<xs:annotation>
																	<xs:documentation>Thuế GTGT: Thuế GTGT phải nộp</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="doanhThuTNCN" type="xs:long" nillable="true">
																<xs:annotation>
																	<xs:documentation>Thuế TNCN: Doanh thu tính thuế</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="thueTNCNPhaiNop" type="xs:long" nillable="true">
																<xs:annotation>
																	<xs:documentation>Thuế TNCNphải nộp</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="tongSoThuePhaiNop" type="xs:long" nillable="true">
																<xs:annotation>
																	<xs:documentation>Tổng số thuế phải nộp</xs:documentation>
																</xs:annotation>
															</xs:element>
														</xs:sequence>
														<xs:attribute name="id" type="xs:string"/>
													</xs:complexType>
												</xs:element>
												<xs:element name="tongCongDTTinhThueGTGT" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>Tổng cộng Doanh thu tính thuế GTGT</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="tongCongThueGTGTPN" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>Tổng cộng Thuế GTGT phải nộp</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="tongCongDTTinhThueTNCN" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>Tổng cộng  doanh thu tính thuế TNCN</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="tongCongThueTNCNPN" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>Tổng cộng Thuế TNCN
phải nộp
</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="tongCongSoThuePN" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>Tổng cộng: Tổng số thuế phải nộp
</xs:documentation>
													</xs:annotation>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:redefine>
</xs:schema>
