HTKK/InterfaceTemplates/Validate/01_TKN_BHXSDC_250.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2010 rel. 3 (http://www.altova.com) by MESMERiZE (MSM) -->
<xs:schema xmlns="http://kekhaithue.gdt.gov.vn/TKhaiThue" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://kekhaithue.gdt.gov.vn/TKhaiThue" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:redefine schemaLocation="..\TKhaiThue.xsd">
		<xs:complexType name="CTieuTKhaiChinhType">
			<xs:complexContent>
				<xs:extension base="CTieuTKhaiChinhType">
					<xs:sequence>
						<xs:element name="Header">
							<xs:annotation>
								<xs:documentation>Thông tin chung</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="ct10" type="xs:string" nillable="true">
										<xs:annotation>
											<xs:documentation>Số CMND (trường hợp cá nhân quốc tịch Việt Nam):</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct11" type="xs:string" nillable="true">
										<xs:annotation>
											<xs:documentation>Hộ chiếu (trường hợp cá nhân không có quốc tịch Việt nam):</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct21_so" type="xs:string" nillable="true">
										<xs:annotation>
											<xs:documentation>Văn bản uỷ quyền (nếu có): Số .....</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct21_ngay" type="xs:date" nillable="true">
										<xs:annotation>
											<xs:documentation>Văn bản uỷ quyền (nếu có): ngày……tháng……năm……</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="TongDoanhThuTrongNam" type="ChiTiet">
							<xs:annotation>
								<xs:documentation>Tổng doanh thu  trong năm (a)
</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="ThueTNCNPhaiNop" type="ChiTiet">
							<xs:annotation>
								<xs:documentation>Số thuế TNCN phải nộp (b)
</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="ThueDaKhauTruTamNop" type="ChiTiet">
							<xs:annotation>
								<xs:documentation>Số thuế đã khấu trừ, đã tạm nộp
(c)
</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="ThueTNCNNopBoSung" type="ChiTiet">
							<xs:annotation>
								<xs:documentation>Số thuế TNCN phải nộp bổ sung
(d)=(b)-(c)
</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
		<xs:complexType name="PLucType">
			<xs:complexContent>
				<xs:extension base="PLucType">
					<xs:sequence>
						<xs:element name="PLuc_01_1_PL_CNKD" minOccurs="0">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="ThueGTGT">
										<xs:annotation>
											<xs:documentation>Tổng số thuế GTGT</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>
												<xs:element name="ct12_1" type="xs:nonNegativeInteger">
													<xs:annotation>
														<xs:documentation>Số tiền thuế phát sinh phải nộp</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct12_2" type="xs:nonNegativeInteger">
													<xs:annotation>
														<xs:documentation>Số tiền thuế được miễn</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct12_3" type="xs:nonNegativeInteger">
													<xs:annotation>
														<xs:documentation>Số thuế phải nộp sau miễn thuế</xs:documentation>
													</xs:annotation>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name="ThueTNCN">
										<xs:annotation>
											<xs:documentation>Tổng số thuế TNCN</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>
												<xs:element name="ct13_1" type="xs:nonNegativeInteger">
													<xs:annotation>
														<xs:documentation>Số tiền thuế phát sinh phải nộp</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct13_2" type="xs:nonNegativeInteger">
													<xs:annotation>
														<xs:documentation>Số tiền thuế được miễn</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct13_3" type="xs:nonNegativeInteger">
													<xs:annotation>
														<xs:documentation>Số thuế phải nộp sau miễn thuế</xs:documentation>
													</xs:annotation>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name="ThueTTDB">
										<xs:annotation>
											<xs:documentation>Tổng số thuế TTĐB</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>
												<xs:element name="tong_ct14_1" type="xs:nonNegativeInteger">
													<xs:annotation>
														<xs:documentation>Tổng [14] Số tiền thuế phát sinh phải nộp</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="tong_ct14_2" type="xs:nonNegativeInteger">
													<xs:annotation>
														<xs:documentation>Tổng [14] Số tiền thuế được miễn</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="tong_ct14_3" type="xs:nonNegativeInteger">
													<xs:annotation>
														<xs:documentation>Tổng [14] Số thuế phải nộp sau miễn thuế</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="CTietThueTTDB" maxOccurs="unbounded">
													<xs:complexType>
														<xs:sequence>
															<xs:element name="ct14_ma" type="xs:string" nillable="true">
																<xs:annotation>
																	<xs:documentation>Mã Hàng hoá, dịch vụ chịu thuế tiêu thụ đặc biệt (TTĐB)</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="ct14_ten" type="xs:string" nillable="true">
																<xs:annotation>
																	<xs:documentation>Tên Hàng hoá, dịch vụ chịu thuế tiêu thụ đặc biệt (TTĐB)</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="ct14_1" type="xs:nonNegativeInteger">
																<xs:annotation>
																	<xs:documentation>Số tiền thuế phát sinh phải nộp</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="ct14_2" type="xs:nonNegativeInteger">
																<xs:annotation>
																	<xs:documentation>Số tiền thuế được miễn</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="ct14_3" type="xs:nonNegativeInteger">
																<xs:annotation>
																	<xs:documentation>Số thuế phải nộp sau miễn thuế</xs:documentation>
																</xs:annotation>
															</xs:element>
														</xs:sequence>
														<xs:attribute name="id" type="xs:string"/>
													</xs:complexType>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name="ThueTAIN">
										<xs:annotation>
											<xs:documentation>Tổng số thuế Tài nguyên</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>
												<xs:element name="tong_ct15_1" type="xs:nonNegativeInteger">
													<xs:annotation>
														<xs:documentation>Tổng [15] Số tiền thuế phát sinh phải nộp</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="tong_ct15_2" type="xs:nonNegativeInteger">
													<xs:annotation>
														<xs:documentation>Tổng [15] Số tiền thuế được miễn</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="tong_ct15_3" type="xs:nonNegativeInteger">
													<xs:annotation>
														<xs:documentation>Tổng [15] Số thuế phải nộp sau miễn thuế</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="CTietThueTAIN" maxOccurs="unbounded">
													<xs:complexType>
														<xs:sequence>
															<xs:element name="ct15_ma" type="xs:string" nillable="true">
																<xs:annotation>
																	<xs:documentation>Mã tài nguyên</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="ct15_ten" type="xs:string" nillable="true">
																<xs:annotation>
																	<xs:documentation>Tên tài nguyên</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="ct15_1" type="xs:nonNegativeInteger">
																<xs:annotation>
																	<xs:documentation>Số tiền thuế phát sinh phải nộp</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="ct15_2" type="xs:nonNegativeInteger">
																<xs:annotation>
																	<xs:documentation>Số tiền thuế được miễn</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="ct15_3" type="xs:nonNegativeInteger">
																<xs:annotation>
																	<xs:documentation>Số thuế phải nộp sau miễn thuế</xs:documentation>
																</xs:annotation>
															</xs:element>
														</xs:sequence>
														<xs:attribute name="id" type="xs:string"/>
													</xs:complexType>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name="ThueBVMT">
										<xs:annotation>
											<xs:documentation>Tổng số Thuế BVMT</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>
												<xs:element name="tong_ct16_1" type="xs:nonNegativeInteger">
													<xs:annotation>
														<xs:documentation>Tổng [16] Số tiền thuế phát sinh phải nộp</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="tong_ct16_2" type="xs:nonNegativeInteger">
													<xs:annotation>
														<xs:documentation>Tổng [16] Số tiền thuế được miễn</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="tong_ct16_3" type="xs:nonNegativeInteger">
													<xs:annotation>
														<xs:documentation>Tổng [16] Số thuế phải nộp sau miễn thuế</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="CTietThueBVMT" maxOccurs="unbounded">
													<xs:complexType>
														<xs:sequence>
															<xs:element name="ct16_ma" type="xs:string" nillable="true">
																<xs:annotation>
																	<xs:documentation>Mã Hàng hoá</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="ct16_ten" type="xs:string" nillable="true">
																<xs:annotation>
																	<xs:documentation>Tên Hàng hoá</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="ct16_1" type="xs:nonNegativeInteger">
																<xs:annotation>
																	<xs:documentation>Số tiền thuế phát sinh phải nộp</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="ct16_2" type="xs:nonNegativeInteger">
																<xs:annotation>
																	<xs:documentation>Số tiền thuế được miễn</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="ct16_3" type="xs:nonNegativeInteger">
																<xs:annotation>
																	<xs:documentation>Số thuế phải nộp sau miễn thuế</xs:documentation>
																</xs:annotation>
															</xs:element>
														</xs:sequence>
														<xs:attribute name="id" type="xs:string"/>
													</xs:complexType>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:redefine>
	<xs:complexType name="ChiTiet">
		<xs:sequence>
			<xs:element name="ct22" type="xs:long" nillable="true">
				<xs:annotation>
					<xs:documentation>Hoạt động đại lý xổ số</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ct23" type="xs:long" nillable="true">
				<xs:annotation>
					<xs:documentation>Hoạt động đại lý bảo hiểm </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ct24" type="xs:long" nillable="true">
				<xs:annotation>
					<xs:documentation>Hoạt  động bán hàng đa cấp</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ct25" type="xs:long" nillable="true">
				<xs:annotation>
					<xs:documentation>Hoạt động kinh doanh khác</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ct26" type="xs:long" nillable="true">
				<xs:annotation>
					<xs:documentation>Tổng cộng</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
