HTKK/InterfaceTemplates/Validate/01_TTS_TT40_253.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2010 rel. 3 (http://www.altova.com) by MESMERiZE (MSM) -->
<xs:schema xmlns="http://kekhaithue.gdt.gov.vn/TKhaiThue" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://kekhaithue.gdt.gov.vn/TKhaiThue" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:redefine schemaLocation="..\TKhaiThue.xsd">
		<xs:complexType name="CTieuTKhaiChinhType">
			<xs:complexContent>
				<xs:extension base="CTieuTKhaiChinhType">
					<xs:sequence>
						<xs:element name="Header">
							<xs:annotation>
								<xs:documentation>Thông tin chung</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="khaiTheoPLuatDanSu" type="xs:boolean" nillable="true">
										<xs:annotation>
											<xs:documentation>Cá nhân cho thuê tài sản trực tiếp khai thuế/ Tổ chức, cá nhân khai thuế thay, nộp thuế thay cho cá nhân ủy quyền theo quy định của pháp luật dân sự</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="khaiTheoPLuatThue" type="xs:boolean" nillable="true">
										<xs:annotation>
											<xs:documentation>Doanh nghiệp, tổ chức kinh tế khai thuế thay, nộp thuế thay theo pháp luật thuế</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="KyThanhToan">
										<xs:annotation>
											<xs:documentation>Kỳ thanh toán</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>
												<xs:element name="tuNgay" type="xs:date" nillable="true">
													<xs:annotation>
														<xs:documentation>từ ngày .../tháng..../năm... </xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="denNgay" type="xs:date" nillable="true">
													<xs:annotation>
														<xs:documentation>đến ngày .../tháng.../năm...</xs:documentation>
													</xs:annotation>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name="ct10" type="xs:string" nillable="true">
										<xs:annotation>
											<xs:documentation>Số CMND (trường hợp cá nhân quốc tịch Việt Nam)</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct11" type="xs:string" nillable="true">
										<xs:annotation>
											<xs:documentation>Hộ chiếu (trường hợp cá nhân không có quốc tịch Việt nam)</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="CNKDChuaDangKyThue">
										<xs:annotation>
											<xs:documentation>Trường hợp cá nhân kinh doanh chưa đăng ký thuế thì khai thêm các thông tin sau</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>
												<xs:element name="ct12a_ngaySinh" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>Ngày sinh</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct12b_maQuocTich" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>Mã quốc tịch</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct12b_tenQuocTich" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>Tên quốc tịch</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct12c_ma" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>Mã loại giấy tờ</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct12c_ten" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>Tên loại giấy tờ</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct12c_soCMND_CCCD" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>CMND/CCCD</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct12c_1_ngayCap" type="xs:date" nillable="true">
													<xs:annotation>
														<xs:documentation>Ngày cấp:.......................... </xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct12c_2_noiCap_loai" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>- Nếu là danh mục tỉnh/Thành phố thì truyền mã 01
- Nếu là danh mục quốc gia thì truyền mã 02
- Nếu nhập text truyền mã 03</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct12c_2_noiCap_ten" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>Truyền tên Tỉnh/Thành Phố hoặc tên quốc gia đối với loại giấy tờ là CMND hoặc Hộ chiếu, CCCD; Hoặc nơi cấp là dạng text</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct12c_2_noiCap_ma" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>Truyền mã Tỉnh/Thành Phố hoặc Mã quốc gia đối với loại giấy tờ là CMND hoặc Hộ chiếu; CMT biên giới</xs:documentation>
													</xs:annotation>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name="CNKDKhongCoCMND_CCCD">
										<xs:annotation>
											<xs:documentation>Trường hợp cá nhân kinh doanh thuộc đối tượng không có CMND/CCCD tại Việt Nam thì kê khai thông tin tại một trong các thông tin sau</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>
												<xs:element name="ct12d_ma" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>Mã loại giấy tờ</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct12d_ten" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>Tên loại giấy tờ</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct12d_soHoChieu" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>Số hộ chiếu</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct12d_1_ngayCap" type="xs:date" nillable="true">
													<xs:annotation>
														<xs:documentation>Ngày cấp:.......................... </xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct12d_2_noiCap_loai" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>- Nếu là danh mục tỉnh/Thành phố thì truyền mã 01
- Nếu là danh mục quốc gia thì truyền mã 02
- Nếu nhập text truyền mã 03</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct12d_2_noiCap_ten" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>Truyền tên Tỉnh/Thành Phố hoặc tên quốc gia đối với loại giấy tờ là CMND hoặc Hộ chiếu, CCCD; Hoặc nơi cấp là dạng text</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct12d_2_noiCap_ma" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>Truyền mã Tỉnh/Thành Phố hoặc Mã quốc gia đối với loại giấy tờ là CMND hoặc Hộ chiếu; CMT biên giới</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct12dd_ma" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>Mã loại giấy tờ</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct12dd_ten" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>Tên loại giấy tờ</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct12dd_soGiayThongHanh" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>Số giấy thông hành (đối với thương nhân nước ngoài)</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct12dd_1_ngayCap" type="xs:date" nillable="true">
													<xs:annotation>
														<xs:documentation>Ngày cấp:.......................... </xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct12dd_2_noiCap_loai" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>- Nếu là danh mục tỉnh/Thành phố thì truyền mã 01
- Nếu là danh mục quốc gia thì truyền mã 02
- Nếu nhập text truyền mã 03</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct12dd_2_noiCap_ten" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>Truyền tên Tỉnh/Thành Phố hoặc tên quốc gia đối với loại giấy tờ là CMND hoặc Hộ chiếu, CCCD; Hoặc nơi cấp là dạng text</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct12dd_2_noiCap_ma" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>Truyền mã Tỉnh/Thành Phố hoặc Mã quốc gia đối với loại giấy tờ là CMND hoặc Hộ chiếu; CMT biên giới</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct12e_ma" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>Mã loại giấy tờ</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct12e_ten" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>Tên loại giấy tờ</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct12e_soCMNDBienGioi" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>Số CMND biên giới (đối với thương nhân nước ngoài)</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct12e_1_ngayCap" type="xs:date" nillable="true">
													<xs:annotation>
														<xs:documentation>Ngày cấp:.......................... </xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct12e_2_noiCap_loai" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>- Nếu là danh mục tỉnh/Thành phố thì truyền mã 01
- Nếu là danh mục quốc gia thì truyền mã 02
- Nếu nhập text truyền mã 03</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct12e_2_noiCap_ten" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>Truyền tên Tỉnh/Thành Phố hoặc tên quốc gia đối với loại giấy tờ là CMND hoặc Hộ chiếu, CCCD; Hoặc nơi cấp là dạng text</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct12e_2_noiCap_ma" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>Truyền mã Tỉnh/Thành Phố hoặc Mã quốc gia đối với loại giấy tờ là CMND hoặc Hộ chiếu; CMT biên giới</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct12f_ma" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>Mã loại giấy tờ</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct12f_ten" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>Tên loại giấy tờ</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct12f_soGiayToKhac" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>Số Giấy tờ chứng thực cá nhân khác</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct12f_1_ngayCap" type="xs:date" nillable="true">
													<xs:annotation>
														<xs:documentation>Ngày cấp:.......................... </xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct12f_2_noiCap_loai" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>- Nếu là danh mục tỉnh/Thành phố thì truyền mã 01
- Nếu là danh mục quốc gia thì truyền mã 02
- Nếu nhập text truyền mã 03</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct12f_2_noiCap_ten" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>Truyền tên Tỉnh/Thành Phố hoặc tên quốc gia đối với loại giấy tờ là CMND hoặc Hộ chiếu, CCCD; Hoặc nơi cấp là dạng text</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct12f_2_noiCap_ma" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>Truyền mã Tỉnh/Thành Phố hoặc Mã quốc gia đối với loại giấy tờ là CMND hoặc Hộ chiếu; CMT biên giới</xs:documentation>
													</xs:annotation>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name="CT12g">
										<xs:annotation>
											<xs:documentation>Nơi đăng ký thường trú</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>
												<xs:element name="ct12g_soNha" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>Số nhà, đường phố, thôn, xóm:</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct12g_maPhuong" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>mã  Phường/xã</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct12g_tenPhuong" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>tên  Phường/xã</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct12g_maQuan" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>mã Quận/ Huyện:</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct12g_tenQuan" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>Tên Quận/ Huyện:</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct12g_maTinh" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>mã Tỉnh/ Thành phố:</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct12g_tenTinh" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>Tên Tỉnh/ Thành phố: </xs:documentation>
													</xs:annotation>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name="CT12h">
										<xs:annotation>
											<xs:documentation>Nơi ở hiện tại</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>
												<xs:element name="ct12h_soNha" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>Số nhà, đường phố, thôn, xóm:</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct12h_maPhuong" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>mã  Phường/xã</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct12h_tenPhuong" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>tên  Phường/xã</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct12h_maQuan" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>mã Quận/ Huyện:</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct12h_tenQuan" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>Tên Quận/ Huyện:</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct12h_maTinh" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>mã Tỉnh/ Thành phố:</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct12h_tenTinh" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>Tên Tỉnh/ Thành phố: </xs:documentation>
													</xs:annotation>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name="CT12i">
										<xs:annotation>
											<xs:documentation>Giấy chứng nhận đăng ký hộ kinh doanh (nếu có)</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>
												<xs:element name="ct12i_soGiayTo" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>Số giấy chứng nhận đăng ký hộ kinh doanh</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct12i_ngayCap" type="xs:date" nillable="true">
													<xs:annotation>
														<xs:documentation>Ngày cấp</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct12i_coQuanCap" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>Cơ quan cấp</xs:documentation>
													</xs:annotation>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name="ct12k" type="xs:long" nillable="true">
										<xs:annotation>
											<xs:documentation>Vốn kinh doanh (đồng): </xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ToChucNopThueThay">
										<xs:annotation>
											<xs:documentation>Tổ chức nộp thuế thay </xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>
												<xs:element name="ct16" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>Tên Tổ chức nộp thuế thay </xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct17" type="TINType" nillable="true">
													<xs:annotation>
														<xs:documentation>Mã số thuế</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct18" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>Địa chỉ</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct19" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>Điện thoại</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct20" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>Fax</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct21" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>Email</xs:documentation>
													</xs:annotation>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name="maHDong" type="xs:string" nillable="true">
										<xs:annotation>
											<xs:documentation>Mã hợp đồng</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="CT22">
										<xs:annotation>
											<xs:documentation>Văn bản uỷ quyền (nếu có): </xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>
												<xs:element name="so" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>Số……………</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ngay" type="xs:date" nillable="true">
													<xs:annotation>
														<xs:documentation>ngày……tháng……năm…</xs:documentation>
													</xs:annotation>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="CaNhanKeKhai">
							<xs:annotation>
								<xs:documentation>A. PHẦN CÁ NHÂN KÊ KHAI NGHĨA VỤ THUẾ</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="ct23" type="xs:long" nillable="true">
										<xs:annotation>
											<xs:documentation>Tổng doanh thu phát sinh trong kỳ</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct24" type="xs:long" nillable="true">
										<xs:annotation>
											<xs:documentation>Tổng doanh thu tính thuế </xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct25" type="xs:long" nillable="true">
										<xs:annotation>
											<xs:documentation>Tổng số thuế GTGT phải nộp</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct26" type="xs:long" nillable="true">
										<xs:annotation>
											<xs:documentation>Tổng số thuế TNCN phát sinh trong kỳ</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct27" type="xs:long" nillable="true">
										<xs:annotation>
											<xs:documentation>Tiền phạt, bồi thường mà bên cho thuê nhận được theo thoả thuận tại hợp đồng (nếu có)</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct28" type="xs:long" nillable="true">
										<xs:annotation>
											<xs:documentation>Tổng số thuế TNCN phải nộp từ nhận tiền phạt, bồi thường (nếu có)</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct29" type="xs:long" nillable="true">
										<xs:annotation>
											<xs:documentation>Tổng số thuế TNCN phải nộp [29]=[26]+[28]</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
		<xs:complexType name="PLucType">
			<xs:complexContent>
				<xs:extension base="PLucType">
					<xs:sequence>
						<xs:element name="PLuc_01_BK_TTS" minOccurs="0">
							<xs:annotation>
								<xs:documentation>BẢNG KÊ CHI TIẾT HỢP ĐỒNG CHO THUÊ TÀI SẢN</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="CTietBKeHDongTTS" maxOccurs="unbounded">
										<xs:complexType>
											<xs:sequence>
												<xs:element name="ct06" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>STT</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct06a_ma" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>Mã hợp đồng/kỳ thanh toán</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct06a_ten" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>Tên hợp đồng/kỳ thanh toán</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct07" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>Họ và tên bên thuê tài sản</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct08" type="TINType" nillable="true">
													<xs:annotation>
														<xs:documentation>Mã số thuế bên thuê tài sản</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct09" type="xs:boolean" nillable="true">
													<xs:annotation>
														<xs:documentation>Loại tài sản: Bất động sản</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct10" type="xs:boolean" nillable="true">
													<xs:annotation>
														<xs:documentation>Loại tài sản: Động sản</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct11" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>Số hợp đồng</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct12" type="xs:date" nillable="true">
													<xs:annotation>
														<xs:documentation>Ngày hợp đồng</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct13_ma" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>Mã Mục đích sử dụng tài sản thuê</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct13_ten" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>Tên Mục đích sử dụng tài sản thuê</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct14" type="xs:boolean" nillable="true">
													<xs:annotation>
														<xs:documentation>Bên thuê có đầu tư xây dựng cơ bản</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct15_diaChi" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>Địa chỉ tài sản: Địa chỉ</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct15_ma" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>Mã Phường/ xã</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct15_ten" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>Tên Phường/ xã</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct16" type="xs:decimal" nillable="true">
													<xs:annotation>
														<xs:documentation>Diện tích sàn cho thuê</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct17a" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>Kỳ thanh toán: Kỳ thanh toán ổn định (Số tháng)</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct17" type="xs:date" nillable="true">
													<xs:annotation>
														<xs:documentation>Kỳ thanh toán: Từ ngày/ tháng/ năm</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct18" type="xs:date" nillable="true">
													<xs:annotation>
														<xs:documentation>Kỳ thanh toán: Đến ngày/ tháng/năm</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct19a" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>Năm tính thuế </xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct19" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>Giá cho thuê 1 tháng đã bao gồm thuế</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct20" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>Số tháng cho thuê của hợp đồng</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct21" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>Tổng giá trị hợp đồng</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct22" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>Doanh thu bình quân tháng của hợp đồng</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct22a" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>Tổng doanh thu phát sinh trong năm</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct23" type="xs:boolean" nillable="true">
													<xs:annotation>
														<xs:documentation>Cá nhân thuộc diện phải nộp thuế </xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct24" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>Doanh thu tính thuế trong kỳ</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct25" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>Số thuế GTGT phải nộp</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct26" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>Số thuế TNCN phải nộp</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct27_ma" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>Mã Trạng thái hợp đồng</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct27_ten" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>Tên Trạng thái hợp đồng</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct28" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>Mã hợp đồng </xs:documentation>
													</xs:annotation>
												</xs:element>
											</xs:sequence>
											<xs:attribute name="id" type="xs:string"/>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="PLuc_02_BK_TTS" minOccurs="0">
							<xs:annotation>
								<xs:documentation>BẢNG KÊ CHI TIẾT CÁ NHÂN CHO THUÊ TÀI SẢN</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="CTietBKeHDongTTS" maxOccurs="unbounded">
										<xs:complexType>
											<xs:sequence>
												<xs:element name="ct06" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>STT</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct06a_ma" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>Mã hợp đồng/kỳ thanh toán</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct06a_ten" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>Tên hợp đồng/kỳ thanh toán</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct07" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>Họ tên cá nhân cho thuê tài sản</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct08" type="TINType" nillable="true">
													<xs:annotation>
														<xs:documentation>Mã số thuế cá nhân cho thuê tài sản</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct09" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>Họ tên bên thuê tài sản</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct10" type="TINType" nillable="true">
													<xs:annotation>
														<xs:documentation>Mã số thuế bên thuê tài sản</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct11" type="xs:boolean" nillable="true">
													<xs:annotation>
														<xs:documentation>Loại tài sản: Bất động sản</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct12" type="xs:boolean" nillable="true">
													<xs:annotation>
														<xs:documentation>Loại tài sản: Động sản</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct13" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>Số hợp đồng</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct14" type="xs:date" nillable="true">
													<xs:annotation>
														<xs:documentation>Ngày hợp đồng</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct15_ma" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>Mã Mục đích sử dụng tài sản thuê</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct15_ten" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>Tên Mục đích sử dụng tài sản thuê</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct16" type="xs:boolean" nillable="true">
													<xs:annotation>
														<xs:documentation>Bên thuê có đầu tư xây dựng cơ bản</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct17_diaChi" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>Địa chỉ cho thuê bất động sản: Địa chỉ</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct17_ma" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>Địa chỉ cho thuê bất động sản Mã Phường/ xã</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct17_ten" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>Địa chỉ cho thuê bất động sản:Tên Phường/ xã</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct18" type="xs:decimal" nillable="true">
													<xs:annotation>
														<xs:documentation>Diện tích sàn cho thuê</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct19a" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>Kỳ thanh toán: Kỳ thanh toán ổn định (Số tháng)</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct19" type="xs:date" nillable="true">
													<xs:annotation>
														<xs:documentation>Kỳ thanh toán: Từ ngày/ tháng/ năm</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct20" type="xs:date" nillable="true">
													<xs:annotation>
														<xs:documentation>Kỳ thanh toán: Đến ngày/ tháng/năm</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct20a" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>Năm tính thuế </xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct21" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>Giá cho thuê 1 tháng đã bao gồm thuế</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct22" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>Số tháng cho thuê của hợp đồng</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct23" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>Tổng giá trị hợp đồng</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct24" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>Doanh thu bình quân tháng của hợp đồng</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct24a" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>Tổng doanh thu phát sinh trong năm của từng cá nhân</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct25" type="xs:boolean" nillable="true">
													<xs:annotation>
														<xs:documentation>Cá nhân thuộc diện phải nộp thuế </xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct26" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>Doanh thu tính thuế trong kỳ</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct27" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>Số thuế GTGT phải nộp</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct28" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>Số thuế TNCN phải nộp</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct29_ma" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>Mã Trạng thái hợp đồng</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct29_ten" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>Tên Trạng thái hợp đồng</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct30" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>Mã hợp đồng </xs:documentation>
													</xs:annotation>
												</xs:element>
											</xs:sequence>
											<xs:attribute name="id" type="xs:string"/>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="PL_ND15_GTGT" minOccurs="0">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="BangKeTenHHDV" maxOccurs="unbounded">
										<xs:complexType>
											<xs:sequence>
												<xs:element name="tenHHDV" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>Tên hàng hóa, dịch vụ</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="giaTriHHDV" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>Giá trị hàng hóa, dịch vụ chưa có thuế GTGT/Doanh thu hàng hoá, dịch vụ chịu thuế</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="thueSuatTheoQuyDinh" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>Thuế suất/Tỷ lệ tính thuế GTGT theo quy định</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="thueSuatSauGiam" type="xs:decimal" nillable="true">
													<xs:annotation>
														<xs:documentation>Thuế suất/Tỷ lệ tính thuế GTGT sau giảm</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="thueGTGTDuocGiam" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>Thuế GTGT được giảm</xs:documentation>
													</xs:annotation>
												</xs:element>
											</xs:sequence>
											<xs:attribute name="ID" type="xs:string"/>
										</xs:complexType>
									</xs:element>
									<xs:element name="tongCongGiaTriHHDV" type="xs:nonNegativeInteger" nillable="true">
										<xs:annotation>
											<xs:documentation>Tổng cộng Giá trị hàng hóa, dịch vụ chưa có thuế GTGT/Doanh thu hàng hoá, dịch vụ chịu thuế</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="tongCongThueGTGTDuocGiam" type="xs:nonNegativeInteger" nillable="true">
										<xs:annotation>
											<xs:documentation>Tổng cộng Thuế GTGT được giảm</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:redefine>
</xs:schema>
