HTKK/InterfaceTemplates/Validate/01_VTNN_TT80_251.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XML Spy v4.1 U (http://www.xmlspy.com) by st (st) -->
<!-- edited with XMLSpy v2010 rel. 3 (http://www.altova.com) by MESMERiZE (MSM) -->
<xs:schema xmlns="http://kekhaithue.gdt.gov.vn/TKhaiThue" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://kekhaithue.gdt.gov.vn/TKhaiThue" elementFormDefault="qualified" attributeFormDefault="unqualified" version="2.0.1">
	<xs:redefine schemaLocation="../TKhaiThue.xsd">
		<xs:complexType name="CTieuTKhaiChinhType">
			<xs:complexContent>
				<xs:extension base="CTieuTKhaiChinhType">
					<xs:sequence>
						<xs:element name="Header">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="ma_THQuyetToan" type="xs:string" nillable="true">
										<xs:annotation>
											<xs:documentation>Trường hợp quyết toán</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ten_THQuyetToan" type="xs:string" nillable="true">
										<xs:annotation>
											<xs:documentation>Tên trường hợp quyết toán</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="ct09" type="xs:long" nillable="true">
							<xs:annotation>
								<xs:documentation>Doanh thu tính thuế</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="ct10" type="xs:decimal" nillable="true">
							<xs:annotation>
								<xs:documentation>Tỷ lệ (%) thuế TNDN</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="ct11" type="xs:long" nillable="true">
							<xs:annotation>
								<xs:documentation>Số thuế TNDN được miễn, giảm theo Hiệp định</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="ct12" type="xs:long" nillable="true">
							<xs:annotation>
								<xs:documentation>Số thuế TNDN phải nộp</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="ct13" type="xs:long" nillable="true">
							<xs:annotation>
								<xs:documentation>Số thuế TNDN nộp thừa kỳ trước chuyển sang kỳ này</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="ct14" type="xs:long" nillable="true">
							<xs:annotation>
								<xs:documentation>Số thuế TNDN đã tạm nộp trong năm</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="ct15" type="xs:long" nillable="true">
							<xs:annotation>
								<xs:documentation>Chênh lệch giữa số thuế phải nộp và số thuế đã tạm nộp trong năm [15]=[12] – [14]</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="ct16" type="xs:long" nillable="true">
							<xs:annotation>
								<xs:documentation>Số thuế TNDN còn phải nộp [16] = [12] – [13] – [14]</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
		<xs:complexType name="PLucType">
			<xs:complexContent>
				<xs:extension base="PLucType">
					<xs:sequence>
						<xs:element name="PL_01_1_VTNN" minOccurs="0">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="NoiDungPL01_1_VTNN" maxOccurs="unbounded">
										<xs:complexType>
											<xs:sequence>
												<xs:element name="ct04" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>Tên hãng vận tải nước ngoài</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct05_ten" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>Tên Nước cư trú</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct05_ma" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>Mã Nước cư trú</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct06" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>Tên/hô hiệu phương tiện vận tải</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="BKeTNhapVTaiQTe">
													<xs:annotation>
														<xs:documentation>Bảng kê thu nhập vận tải quốc tế</xs:documentation>
													</xs:annotation>
													<xs:complexType>
														<xs:sequence>
															<xs:element name="ChiTietBKeTNhapVTaiQTe" maxOccurs="unbounded">
																<xs:annotation>
																	<xs:documentation>Chi tiết bảng kê thu nhập vận tải quốc tế</xs:documentation>
																</xs:annotation>
																<xs:complexType>
																	<xs:sequence>
																		<xs:element name="ct1" type="xs:string" nillable="true">
																			<xs:annotation>
																				<xs:documentation>Chứng từ
			vận chuyển
			</xs:documentation>
																			</xs:annotation>
																		</xs:element>
																		<xs:element name="ct2" type="xs:string" nillable="true">
																			<xs:annotation>
																				<xs:documentation>Số hoá đơn</xs:documentation>
																			</xs:annotation>
																		</xs:element>
																		<xs:element name="ct3" type="xs:date" nillable="true">
																			<xs:annotation>
																				<xs:documentation>Ngày, tháng, năm phát hành hóa đơn</xs:documentation>
																			</xs:annotation>
																		</xs:element>
																		<xs:element name="ct4" type="xs:string" nillable="true">
																			<xs:annotation>
																				<xs:documentation>Cảng đi</xs:documentation>
																			</xs:annotation>
																		</xs:element>
																		<xs:element name="ct5" type="xs:string" nillable="true">
																			<xs:annotation>
																				<xs:documentation>Cảng đến</xs:documentation>
																			</xs:annotation>
																		</xs:element>
																		<xs:element name="ct6" type="xs:string" nillable="true">
																			<xs:annotation>
																				<xs:documentation>Tên khách hàng</xs:documentation>
																			</xs:annotation>
																		</xs:element>
																		<xs:element name="ct7" type="TINType" nillable="true">
																			<xs:annotation>
																				<xs:documentation>Mã số thuế khách hàng</xs:documentation>
																			</xs:annotation>
																		</xs:element>
																		<xs:element name="ct8" type="xs:nonNegativeInteger" nillable="true">
																			<xs:annotation>
																				<xs:documentation>Tổng doanh thu
			vận chuyển thực tế
			</xs:documentation>
																			</xs:annotation>
																		</xs:element>
																		<xs:element name="ct9" type="xs:nonNegativeInteger" nillable="true">
																			<xs:annotation>
																				<xs:documentation>Số thuế TNDN phải nộp</xs:documentation>
																			</xs:annotation>
																		</xs:element>
																		<xs:element name="ct10" type="xs:nonNegativeInteger" nillable="true">
																			<xs:annotation>
																				<xs:documentation>Số thuế TNDN miễn, giảm theo Hiệp định</xs:documentation>
																			</xs:annotation>
																		</xs:element>
																	</xs:sequence>
																	<xs:attribute name="ID" type="xs:string"/>
																</xs:complexType>
															</xs:element>
														</xs:sequence>
													</xs:complexType>
												</xs:element>
												<xs:element name="tongCot8" type="xs:nonNegativeInteger" nillable="true">
													<xs:annotation>
														<xs:documentation>Tổng cộng doanh thu
			vận chuyển thực tế </xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="tongCot9" type="xs:nonNegativeInteger" nillable="true">
													<xs:annotation>
														<xs:documentation>Tổng Số thuế TNDN phải nộp</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="tongCot10" type="xs:nonNegativeInteger" nillable="true">
													<xs:annotation>
														<xs:documentation>Tổng Số thuế TNDN  miễn, giảm theo Hiệp định</xs:documentation>
													</xs:annotation>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="PL_01_2_VTNN" minOccurs="0">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="NoiDungPL01_2_VTNN" maxOccurs="unbounded">
										<xs:complexType>
											<xs:sequence>
												<xs:element name="ct04" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>Tên hãng vận tải nước ngoài</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct05_ten" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>Tên Nước cư trú</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct05_ma" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>Mã Nước cư trú</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct06" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>Tên/hô hiệu phương tiện vận tải</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="BKeTNhapVTaiQTe">
													<xs:annotation>
														<xs:documentation>Bảng kê thu nhập vận tải quốc tế</xs:documentation>
													</xs:annotation>
													<xs:complexType>
														<xs:sequence>
															<xs:element name="ChiTietBKeTNhapVTaiQTe" maxOccurs="unbounded">
																<xs:annotation>
																	<xs:documentation>Chi tiết bảng kê thu nhập vận tải quốc tế</xs:documentation>
																</xs:annotation>
																<xs:complexType>
																	<xs:sequence>
																		<xs:element name="ct1" type="xs:string" nillable="true">
																			<xs:annotation>
																				<xs:documentation>Số chứng từ
			vận chuyển
			</xs:documentation>
																			</xs:annotation>
																		</xs:element>
																		<xs:element name="ct2" type="xs:string" nillable="true">
																			<xs:annotation>
																				<xs:documentation>Số hoá đơn</xs:documentation>
																			</xs:annotation>
																		</xs:element>
																		<xs:element name="ct3" type="xs:date" nillable="true">
																			<xs:annotation>
																				<xs:documentation>Ngày, tháng năm phát hành hóa đơn</xs:documentation>
																			</xs:annotation>
																		</xs:element>
																		<xs:element name="ct4" type="xs:string" nillable="true">
																			<xs:annotation>
																				<xs:documentation>Cảng đi</xs:documentation>
																			</xs:annotation>
																		</xs:element>
																		<xs:element name="ct5" type="xs:string" nillable="true">
																			<xs:annotation>
																				<xs:documentation>Cảng đến</xs:documentation>
																			</xs:annotation>
																		</xs:element>
																		<xs:element name="ct6" type="xs:string" nillable="true">
																			<xs:annotation>
																				<xs:documentation>Tên khách hàng</xs:documentation>
																			</xs:annotation>
																		</xs:element>
																		<xs:element name="ct7" type="TINType" nillable="true">
																			<xs:annotation>
																				<xs:documentation>Mã số thuế khách hàng</xs:documentation>
																			</xs:annotation>
																		</xs:element>
																		<xs:element name="ct8" type="xs:nonNegativeInteger" nillable="true">
																			<xs:annotation>
																				<xs:documentation>Số chỗ hoán đổi/chia (theo thỏa thuận hoán đổi/chia chỗ)</xs:documentation>
																			</xs:annotation>
																		</xs:element>
																		<xs:element name="ct9" type="xs:nonNegativeInteger" nillable="true">
																			<xs:annotation>
																				<xs:documentation>Số chỗ hoán đổi thực tế 
			</xs:documentation>
																			</xs:annotation>
																		</xs:element>
																		<xs:element name="ct10" type="xs:nonNegativeInteger" nillable="true">
																			<xs:annotation>
																				<xs:documentation>Doanh thu quy đổi
			</xs:documentation>
																			</xs:annotation>
																		</xs:element>
																		<xs:element name="ct11" type="xs:nonNegativeInteger" nillable="true">
																			<xs:annotation>
																				<xs:documentation>Số thuế TNDN phải nộp</xs:documentation>
																			</xs:annotation>
																		</xs:element>
																		<xs:element name="ct12" type="xs:nonNegativeInteger" nillable="true">
																			<xs:annotation>
																				<xs:documentation>Số thuế TNDN miễn, giảm theo Hiệp định</xs:documentation>
																			</xs:annotation>
																		</xs:element>
																	</xs:sequence>
																	<xs:attribute name="ID" type="xs:string"/>
																</xs:complexType>
															</xs:element>
														</xs:sequence>
													</xs:complexType>
												</xs:element>
												<xs:element name="tongCot8" type="xs:nonNegativeInteger" nillable="true">
													<xs:annotation>
														<xs:documentation>Tổng Số chỗ hoán đổi/chia (theo thỏa thuận hoán đổi/chia chỗ)</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="tongCot9" type="xs:nonNegativeInteger" nillable="true">
													<xs:annotation>
														<xs:documentation>Tổng Số chỗ hoán đổi thực tế 
			</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="tongCot10" type="xs:nonNegativeInteger" nillable="true">
													<xs:annotation>
														<xs:documentation>Tổng Doanh
			thu quy đổi
			</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="tongCot11" type="xs:nonNegativeInteger" nillable="true">
													<xs:annotation>
														<xs:documentation>Số thuế TNDN phải nộp</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="tongCot12" type="xs:nonNegativeInteger" nillable="true">
													<xs:annotation>
														<xs:documentation>Tổng Số thuế TNDN miễn, giảm theo Hiệp định</xs:documentation>
													</xs:annotation>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="PL_01_3_VTNN" minOccurs="0">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="NoiDungPL01_3_VTNN" maxOccurs="unbounded">
										<xs:complexType>
											<xs:sequence>
												<xs:element name="ct04" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>Tên hãng vận tải nước ngoài</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct05_ten" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>Tên Nước cư trú</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct05_ma" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>Mã Nước cư trú</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct06" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>Tên/hô hiệu phương tiện vận tải</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="BKeDoanhThuLuu">
													<xs:annotation>
														<xs:documentation>Bảng kê doanh thu lưu CÔNG-TEN-NƠ </xs:documentation>
													</xs:annotation>
													<xs:complexType>
														<xs:sequence>
															<xs:element name="ChiTietBKeDoanhThuLuu" maxOccurs="unbounded">
																<xs:annotation>
																	<xs:documentation>Chi tiết Bảng kê doanh thu lưu CÔNG-TEN-NƠ </xs:documentation>
																</xs:annotation>
																<xs:complexType>
																	<xs:sequence>
																		<xs:element name="ct1" type="xs:string" nillable="true">
																			<xs:annotation>
																				<xs:documentation>Số chứng từ
			vận chuyển
			</xs:documentation>
																			</xs:annotation>
																		</xs:element>
																		<xs:element name="ct2" type="xs:string" nillable="true">
																			<xs:annotation>
																				<xs:documentation>Số hoá đơn</xs:documentation>
																			</xs:annotation>
																		</xs:element>
																		<xs:element name="ct3" type="xs:date" nillable="true">
																			<xs:annotation>
																				<xs:documentation>Ngày, tháng, năm phát hành hóa đơn</xs:documentation>
																			</xs:annotation>
																		</xs:element>
																		<xs:element name="ct4" type="xs:string" nillable="true">
																			<xs:annotation>
																				<xs:documentation>Cảng đến</xs:documentation>
																			</xs:annotation>
																		</xs:element>
																		<xs:element name="ct5" type="xs:string" nillable="true">
																			<xs:annotation>
																				<xs:documentation>Tên khách hàng</xs:documentation>
																			</xs:annotation>
																		</xs:element>
																		<xs:element name="ct6" type="TINType" nillable="true">
																			<xs:annotation>
																				<xs:documentation>Mã số thuế khách hàng</xs:documentation>
																			</xs:annotation>
																		</xs:element>
																		<xs:element name="ct7" type="xs:nonNegativeInteger" nillable="true">
																			<xs:annotation>
																				<xs:documentation>Doanh thu lưu công- ten-nơ (không bao gồm thuế giá trị gia tăng)</xs:documentation>
																			</xs:annotation>
																		</xs:element>
																		<xs:element name="ct8" type="xs:nonNegativeInteger" nillable="true">
																			<xs:annotation>
																				<xs:documentation>Số thuế thu nhập doanh nghiệp phải nộp</xs:documentation>
																			</xs:annotation>
																		</xs:element>
																		<xs:element name="ct9" type="xs:nonNegativeInteger" nillable="true">
																			<xs:annotation>
																				<xs:documentation>Số thuế thu nhập doanh nghiệp miễn, giảm theo Hiệp định</xs:documentation>
																			</xs:annotation>
																		</xs:element>
																	</xs:sequence>
																	<xs:attribute name="ID" type="xs:string"/>
																</xs:complexType>
															</xs:element>
														</xs:sequence>
													</xs:complexType>
												</xs:element>
												<xs:element name="tongCot7" type="xs:nonNegativeInteger" nillable="true">
													<xs:annotation>
														<xs:documentation>Tổng Doanh thu lưu 
			công- ten-nơ (không bao gồm thuế GTGT)
			</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="tongCot8" type="xs:nonNegativeInteger" nillable="true">
													<xs:annotation>
														<xs:documentation>Tổng Số thuế thu nhập doanh nghiệp phải nộp</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="tongCot9" type="xs:nonNegativeInteger" nillable="true">
													<xs:annotation>
														<xs:documentation>Tổng Số thuế thu nhập doanh nghiệp miễn, giảm theo Hiệp định</xs:documentation>
													</xs:annotation>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:redefine>
</xs:schema>
