HTKK/InterfaceTemplates/Validate/01_XSBHDC_250.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2010 rel. 3 (http://www.altova.com) by MESMERiZE (MSM) -->
<xs:schema xmlns="http://kekhaithue.gdt.gov.vn/TKhaiThue" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://kekhaithue.gdt.gov.vn/TKhaiThue" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:redefine schemaLocation="..\TKhaiThue.xsd">
		<xs:complexType name="CTieuTKhaiChinhType">
			<xs:complexContent>
				<xs:extension base="CTieuTKhaiChinhType">
					<xs:sequence>
						<xs:element name="SoPSinhTKy" type="ToKhai">
							<xs:annotation>
								<xs:documentation>Số phát sinh trong kỳ</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="SoLuyKe" type="ToKhai">
							<xs:annotation>
								<xs:documentation>Số lũy kế</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
		<xs:complexType name="PLucType">
			<xs:complexContent>
				<xs:extension base="PLucType">
					<xs:sequence>
						<xs:element name="PLuc_01_1_BK_XSBHDC" minOccurs="0">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="XoSo">
										<xs:annotation>
											<xs:documentation>I. Đối với hoạt động đại lý xổ số</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>
												<xs:element name="CTietXoSo" maxOccurs="unbounded">
													<xs:complexType>
														<xs:complexContent>
															<xs:extension base="BangKe">
																<xs:attribute name="id" type="xs:string"/>
															</xs:extension>
														</xs:complexContent>
													</xs:complexType>
												</xs:element>
												<xs:element name="ct15" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>Tổng doanh thu trong năm với hoạt động xổ số</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct16" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>Tổng Doanh thu thuộc diện khấu trừ thuế trong năm với hoạt động xổ số</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct17" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>Tổng Số thuế phát sinh trong năm với hoạt động xổ số</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct18" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>Tổng  Số thuế được giảm trong năm với hoạt động xổ số</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct19" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>Tổng Số thuế đã khấu trừ trong năm với hoạt động xổ số</xs:documentation>
													</xs:annotation>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name="BaoHiem">
										<xs:annotation>
											<xs:documentation>II .Đối với hoạt động đại lý bảo hiểm</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>
												<xs:element name="CTietBaoHiem" maxOccurs="unbounded">
													<xs:complexType>
														<xs:complexContent>
															<xs:extension base="BangKe">
																<xs:attribute name="id" type="xs:string"/>
															</xs:extension>
														</xs:complexContent>
													</xs:complexType>
												</xs:element>
												<xs:element name="ct20" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>Tổng doanh thu trong năm với đại lý bảo hiểm</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct21" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>Tổng Doanh thu thuộc diện khấu trừ thuế trong năm với  đại lý bảo hiểm </xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct22" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>Tổng Số thuế phát sinh trong năm của đại lý bảo hiểm</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct23" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>Tổng Số thuế phát sinh trong năm của hoạt động hảo hiểm </xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct24" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>Tổng Số thuế đã khấu trừ trong năm của đại lý bảo hiểm</xs:documentation>
													</xs:annotation>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name="BanHangDC">
										<xs:annotation>
											<xs:documentation>III .Đối với hoạt động bán hàng đa cấp</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>
												<xs:element name="CTietBanHangDC" maxOccurs="unbounded">
													<xs:complexType>
														<xs:complexContent>
															<xs:extension base="BangKe">
																<xs:attribute name="id" type="xs:string"/>
															</xs:extension>
														</xs:complexContent>
													</xs:complexType>
												</xs:element>
												<xs:element name="ct25" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>Tổng doanh thu trong năm của hoạt động bán hàng đa cấp</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct26" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>Tổng Doanh thu thuộc diện khấu trừ thuế trong năm của bán hàng đa cấp</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct27" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>Tổng Số thuế phát sinh trong năm của bán hàng đa cấp</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct28" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>Tổng Số thuế phát sinh trong năm của bán hàng đa cấp</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct29" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>Tổng Số thuế đã khấu trừ trong năm của bán hàng đa cấp</xs:documentation>
													</xs:annotation>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="PLuc_01_1_PL_CNKD" minOccurs="0">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="ThueGTGT">
										<xs:annotation>
											<xs:documentation>Tổng số thuế GTGT</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>
												<xs:element name="ct12_1" type="xs:nonNegativeInteger">
													<xs:annotation>
														<xs:documentation>Số tiền thuế phát sinh phải nộp</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct12_2" type="xs:nonNegativeInteger">
													<xs:annotation>
														<xs:documentation>Số tiền thuế được miễn</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct12_3" type="xs:nonNegativeInteger">
													<xs:annotation>
														<xs:documentation>Số thuế phải nộp sau miễn thuế</xs:documentation>
													</xs:annotation>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name="ThueTNCN">
										<xs:annotation>
											<xs:documentation>Tổng số thuế TNCN</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>
												<xs:element name="ct13_1" type="xs:nonNegativeInteger">
													<xs:annotation>
														<xs:documentation>Số tiền thuế phát sinh phải nộp</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct13_2" type="xs:nonNegativeInteger">
													<xs:annotation>
														<xs:documentation>Số tiền thuế được miễn</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct13_3" type="xs:nonNegativeInteger">
													<xs:annotation>
														<xs:documentation>Số thuế phải nộp sau miễn thuế</xs:documentation>
													</xs:annotation>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name="ThueTTDB">
										<xs:annotation>
											<xs:documentation>Tổng số thuế TTĐB</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>
												<xs:element name="tong_ct14_1" type="xs:nonNegativeInteger">
													<xs:annotation>
														<xs:documentation>Tổng [14] Số tiền thuế phát sinh phải nộp</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="tong_ct14_2" type="xs:nonNegativeInteger">
													<xs:annotation>
														<xs:documentation>Tổng [14] Số tiền thuế được miễn</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="tong_ct14_3" type="xs:nonNegativeInteger">
													<xs:annotation>
														<xs:documentation>Tổng [14] Số thuế phải nộp sau miễn thuế</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="CTietThueTTDB" maxOccurs="unbounded">
													<xs:complexType>
														<xs:sequence>
															<xs:element name="ct14_ma" type="xs:string" nillable="true">
																<xs:annotation>
																	<xs:documentation>Mã Hàng hoá, dịch vụ chịu thuế tiêu thụ đặc biệt (TTĐB)</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="ct14_ten" type="xs:string" nillable="true">
																<xs:annotation>
																	<xs:documentation>Tên Hàng hoá, dịch vụ chịu thuế tiêu thụ đặc biệt (TTĐB)</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="ct14_1" type="xs:nonNegativeInteger">
																<xs:annotation>
																	<xs:documentation>Số tiền thuế phát sinh phải nộp</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="ct14_2" type="xs:nonNegativeInteger">
																<xs:annotation>
																	<xs:documentation>Số tiền thuế được miễn</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="ct14_3" type="xs:nonNegativeInteger">
																<xs:annotation>
																	<xs:documentation>Số thuế phải nộp sau miễn thuế</xs:documentation>
																</xs:annotation>
															</xs:element>
														</xs:sequence>
														<xs:attribute name="id" type="xs:string"/>
													</xs:complexType>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name="ThueTAIN">
										<xs:annotation>
											<xs:documentation>Tổng số thuế Tài nguyên</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>
												<xs:element name="tong_ct15_1" type="xs:nonNegativeInteger">
													<xs:annotation>
														<xs:documentation>Tổng [15] Số tiền thuế phát sinh phải nộp</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="tong_ct15_2" type="xs:nonNegativeInteger">
													<xs:annotation>
														<xs:documentation>Tổng [15] Số tiền thuế được miễn</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="tong_ct15_3" type="xs:nonNegativeInteger">
													<xs:annotation>
														<xs:documentation>Tổng [15] Số thuế phải nộp sau miễn thuế</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="CTietThueTAIN" maxOccurs="unbounded">
													<xs:complexType>
														<xs:sequence>
															<xs:element name="ct15_ma" type="xs:string" nillable="true">
																<xs:annotation>
																	<xs:documentation>Mã tài nguyên</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="ct15_ten" type="xs:string" nillable="true">
																<xs:annotation>
																	<xs:documentation>Tên tài nguyên</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="ct15_1" type="xs:nonNegativeInteger">
																<xs:annotation>
																	<xs:documentation>Số tiền thuế phát sinh phải nộp</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="ct15_2" type="xs:nonNegativeInteger">
																<xs:annotation>
																	<xs:documentation>Số tiền thuế được miễn</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="ct15_3" type="xs:nonNegativeInteger">
																<xs:annotation>
																	<xs:documentation>Số thuế phải nộp sau miễn thuế</xs:documentation>
																</xs:annotation>
															</xs:element>
														</xs:sequence>
														<xs:attribute name="id" type="xs:string"/>
													</xs:complexType>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name="ThueBVMT">
										<xs:annotation>
											<xs:documentation>Tổng số Thuế BVMT</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>
												<xs:element name="tong_ct16_1" type="xs:nonNegativeInteger">
													<xs:annotation>
														<xs:documentation>Tổng [16] Số tiền thuế phát sinh phải nộp</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="tong_ct16_2" type="xs:nonNegativeInteger">
													<xs:annotation>
														<xs:documentation>Tổng [16] Số tiền thuế được miễn</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="tong_ct16_3" type="xs:nonNegativeInteger">
													<xs:annotation>
														<xs:documentation>Tổng [16] Số thuế phải nộp sau miễn thuế</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="CTietThueBVMT" maxOccurs="unbounded">
													<xs:complexType>
														<xs:sequence>
															<xs:element name="ct16_ma" type="xs:string" nillable="true">
																<xs:annotation>
																	<xs:documentation>Mã Hàng hoá</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="ct16_ten" type="xs:string" nillable="true">
																<xs:annotation>
																	<xs:documentation>Tên Hàng hoá</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="ct16_1" type="xs:nonNegativeInteger">
																<xs:annotation>
																	<xs:documentation>Số tiền thuế phát sinh phải nộp</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="ct16_2" type="xs:nonNegativeInteger">
																<xs:annotation>
																	<xs:documentation>Số tiền thuế được miễn</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="ct16_3" type="xs:nonNegativeInteger">
																<xs:annotation>
																	<xs:documentation>Số thuế phải nộp sau miễn thuế</xs:documentation>
																</xs:annotation>
															</xs:element>
														</xs:sequence>
														<xs:attribute name="id" type="xs:string"/>
													</xs:complexType>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:redefine>
	<xs:complexType name="ToKhai">
		<xs:sequence>
			<xs:element name="ct19" type="xs:long" nillable="true">
				<xs:annotation>
					<xs:documentation>Tổng doanh thu trả trong kỳ</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ct20" type="xs:long" nillable="true">
				<xs:annotation>
					<xs:documentation>Tổng doanh thu thuộc diện khấu trừ thuế</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ct21" type="xs:long" nillable="true">
				<xs:annotation>
					<xs:documentation>Tổng số thuế TNCN phát sinh </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ct22" type="xs:long" nillable="true">
				<xs:annotation>
					<xs:documentation>Số thuế TNCN được giảm</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ct23" type="xs:long" nillable="true">
				<xs:annotation>
					<xs:documentation>Tổng số thuế thu nhập cá nhân (TNCN) đã khấu trừ </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ct24" type="xs:long" nillable="true">
				<xs:annotation>
					<xs:documentation>Tổng doanh thu trả trong kỳ</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ct25" type="xs:long" nillable="true">
				<xs:annotation>
					<xs:documentation>Tổng doanh thu thuộc diện khấu trừ thuế</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ct26" type="xs:long" nillable="true">
				<xs:annotation>
					<xs:documentation>Tổng số thuế TNCN phát sinh </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ct27" type="xs:long" nillable="true">
				<xs:annotation>
					<xs:documentation>Số thuế TNCN được giảm</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ct28" type="xs:long" nillable="true">
				<xs:annotation>
					<xs:documentation>Tổng số thuế thu nhập cá nhân (TNCN) đã khấu trừ</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ct29" type="xs:long" nillable="true">
				<xs:annotation>
					<xs:documentation>Tổng thu nhập trả thuộc diện khấu trừ</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ct30" type="xs:long" nillable="true">
				<xs:annotation>
					<xs:documentation>Tổng số thuế TNCN phát sinh </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ct31" type="xs:long" nillable="true">
				<xs:annotation>
					<xs:documentation>Số thuế TNCN được giảm</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ct32" type="xs:long" nillable="true">
				<xs:annotation>
					<xs:documentation>Tổng số thuế thu nhập cá nhân đã khấu trừ</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ct33" type="xs:long" nillable="true">
				<xs:annotation>
					<xs:documentation>Tổng doanh thu trả trong kỳ</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ct34" type="xs:long" nillable="true">
				<xs:annotation>
					<xs:documentation>Tổng doanh thu thuộc diện khấu trừ thuế</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ct35" type="xs:long" nillable="true">
				<xs:annotation>
					<xs:documentation>Tổng số thuế TNCN phát sinh </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ct36" type="xs:long" nillable="true">
				<xs:annotation>
					<xs:documentation>Số thuế TNCN được giảm</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ct37" type="xs:long" nillable="true">
				<xs:annotation>
					<xs:documentation>Tổng số thuế thu nhập cá nhân đã khấu trừ</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ct38" type="xs:long" nillable="true">
				<xs:annotation>
					<xs:documentation>Tổng số thuế TNCN đã khấu trừ
[39]=[23]+[28]+[32]+[37]
</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="BangKe">
		<xs:sequence>
			<xs:element name="ct07" type="xs:string" nillable="true">
				<xs:annotation>
					<xs:documentation>Họ và tên NNT</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ct08" type="TINType" nillable="true">
				<xs:annotation>
					<xs:documentation>Mã số thuế</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ct09" type="xs:string" nillable="true">
				<xs:annotation>
					<xs:documentation>Số CMND/ Hộ chiếu</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ct10" type="xs:long" nillable="true">
				<xs:annotation>
					<xs:documentation>Doanh thu trong năm</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ct11" type="xs:long" nillable="true">
				<xs:annotation>
					<xs:documentation>Doanh thu thuộc diện khấu trừ thuế trong năm</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ct12" type="xs:long" nillable="true">
				<xs:annotation>
					<xs:documentation>Số thuế phát sinh trong năm</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ct13" type="xs:long" nillable="true">
				<xs:annotation>
					<xs:documentation>Số thuế được giảm trong năm</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ct14" type="xs:long" nillable="true">
				<xs:annotation>
					<xs:documentation>Số thuế đã khấu trừ trong năm</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
