HTKK/InterfaceTemplates/Validate/02_QTT_TNCN_254.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2010 rel. 3 (http://www.altova.com) by MESMERiZE (MSM) -->
<xs:schema xmlns="http://kekhaithue.gdt.gov.vn/TKhaiThue" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://kekhaithue.gdt.gov.vn/TKhaiThue" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:redefine schemaLocation="../TKhaiThue.xsd">
		<xs:complexType name="CTieuTKhaiChinhType">
			<xs:complexContent>
				<xs:extension base="CTieuTKhaiChinhType">
					<xs:sequence>
						<xs:element name="Header">
							<xs:annotation>
								<xs:documentation>Thông tin chung</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="ct12" type="xs:string" nillable="true">
										<xs:annotation>
											<xs:documentation>Số tài khoản ngân hàng (nếu có)</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct12a" type="xs:string" nillable="true">
										<xs:annotation>
											<xs:documentation>Mở tại</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="maTCCT" type="TINType" nillable="true">
										<xs:annotation>
											<xs:documentation>Mã số thuế tổ chức chi trả</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="tenTCCT" type="xs:string" nillable="true">
										<xs:annotation>
											<xs:documentation>Tên tổ chức chi trả</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="ct22" type="xs:long" nillable="true">
							<xs:annotation>
								<xs:documentation>Tổng thu nhập chịu thuế (TNCT) trong kỳ [22]=[23]+[26]</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="ct23" type="xs:long" nillable="true">
							<xs:annotation>
								<xs:documentation>Tổng TNCT phát sinh tại Việt Nam </xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="ct24" type="xs:long" nillable="true">
							<xs:annotation>
								<xs:documentation>Tổng TNCT làm căn cứ tính giảm thuế</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="ct25" type="xs:long" nillable="true">
							<xs:annotation>
								<xs:documentation>Tổng TNCT được miễn giảm theo Hiệp định</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="ct26" type="xs:long" nillable="true">
							<xs:annotation>
								<xs:documentation>Tổng TNCT phát sinh ngoài Việt Nam</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="ct27" type="xs:long" nillable="true">
							<xs:annotation>
								<xs:documentation>Số người phụ thuộc</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="ct28" type="xs:long" nillable="true">
							<xs:annotation>
								<xs:documentation>Các khoản giảm trừ [28]=[29]+[30]+[31]+[32]+[33]</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="ct29" type="xs:long" nillable="true">
							<xs:annotation>
								<xs:documentation>a. Cho bản thân cá nhân</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="ct30" type="xs:long" nillable="true">
							<xs:annotation>
								<xs:documentation>b. Cho những người phụ thuộc được giảm trừ</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="ct31" type="xs:long" nillable="true">
							<xs:annotation>
								<xs:documentation>c. Từ thiện, nhân đạo, khuyến học</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="ct32" type="xs:long" nillable="true">
							<xs:annotation>
								<xs:documentation>d. Các khoản đóng bảo hiểm được trừ</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="ct33" type="xs:long" nillable="true">
							<xs:annotation>
								<xs:documentation>e. Khoản đóng quỹ hưu trí tự nguyện được trừ</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="ct34" type="xs:long" nillable="true">
							<xs:annotation>
								<xs:documentation>Tổng thu nhập tính thuế [34]=[22]-[25]-[28]</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="ct35" type="xs:long" nillable="true">
							<xs:annotation>
								<xs:documentation>Tổng số thuế thu nhập cá nhân (TNCN) phát sinh trong kỳ</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="ct36" type="xs:long" nillable="true">
							<xs:annotation>
								<xs:documentation>Tổng số thuế đã tạm nộp, đã khấu trừ, đã nộp trong kỳ  [36]=[37]+[38]+[39] + [40]</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="ct37" type="xs:long" nillable="true">
							<xs:annotation>
								<xs:documentation>a. Đã khấu trừ</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="ct38" type="xs:long" nillable="true">
							<xs:annotation>
								<xs:documentation>b. Đã tạm nộp</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="ct39" type="xs:long" nillable="true">
							<xs:annotation>
								<xs:documentation>c. Đã nộp ở nước ngoài được giảm trừ (nếu có)</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="ct40" type="xs:long" nillable="true">
							<xs:annotation>
								<xs:documentation>d. Đã khấu trừ hoặc tạm nộp trùng do quyết toán vắt năm</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="ct41" type="xs:long" nillable="true">
							<xs:annotation>
								<xs:documentation>Tổng số thuế TNCN được giảm trong kỳ [41]=[42]+[43]</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="ct42" type="xs:long" nillable="true">
							<xs:annotation>
								<xs:documentation>a. Tổng số thuế TNCN được giảm do làm việc trong khu kinh tế</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="ct43" type="xs:long" nillable="true">
							<xs:annotation>
								<xs:documentation>b. Tổng số thuế TNCN được giảm khác </xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="ct44" type="xs:long" nillable="true">
							<xs:annotation>
								<xs:documentation>Tổng số thuế còn phải nộp trong kỳ 
[44]=[35]-[36]-[41] >= 0
</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="ct45" type="xs:long" nillable="true">
							<xs:annotation>
								<xs:documentation>Tổng số thuế nộp thừa trong kỳ
[45] = [35]-[36]-[41]  
</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="ct46" type="xs:long" nillable="true">
							<xs:annotation>
								<xs:documentation>Tổng số thuế đề nghị hoàn trả [46]=[47]+[48]</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="ct47" type="xs:long" nillable="true">
							<xs:annotation>
								<xs:documentation>a. Số thuế hoàn trả vào tài khoản người nộp thuế</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="ct48" type="xs:long" nillable="true">
							<xs:annotation>
								<xs:documentation>b. Số thuế bù trừ cho khoản phải nộp Ngân sách nhà nước khác</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="ct49" type="xs:long" nillable="true">
							<xs:annotation>
								<xs:documentation>Tổng số thuế bù trừ cho các phát sinh của kỳ sau [49]=[45]-[46]</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
		<xs:complexType name="PLucType">
			<xs:complexContent>
				<xs:extension base="PLucType">
					<xs:sequence>
						<xs:element name="PLuc_02_1_BK_QTT_TNCN" minOccurs="0">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="Header">
										<xs:annotation>
											<xs:documentation>Thông tin chung</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>
												<xs:element name="ct04" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>Họ và tên vợ (chồng) nếu có</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct05" type="TINType" nillable="true">
													<xs:annotation>
														<xs:documentation>Mã số thuế</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct06" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>Số CMND/ Số hộ chiếu vợ (chồng)</xs:documentation>
													</xs:annotation>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name="NPTCoCMND_MST">
										<xs:annotation>
											<xs:documentation>I. Người phụ thuộc đã có MST/CMND/Hộ chiếu</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>
												<xs:element name="CTiet" maxOccurs="unbounded">
													<xs:complexType>
														<xs:sequence>
															<xs:element name="ct10" type="xs:string" nillable="true">
																<xs:annotation>
																	<xs:documentation>Họ và tên</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="ct11" type="xs:date" nillable="true">
																<xs:annotation>
																	<xs:documentation>Ngày sinh</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="ct12" type="TINType" nillable="true">
																<xs:annotation>
																	<xs:documentation>Mã số thuế</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="ct13_ma" type="xs:string" nillable="true">
																<xs:annotation>
																	<xs:documentation>Mã Quốc tịch</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="ct13_ten" type="xs:string" nillable="true">
																<xs:annotation>
																	<xs:documentation>Tên Quốc tịch</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="ct14" type="xs:string" nillable="true">
																<xs:annotation>
																	<xs:documentation>Số CMND/ Hộ chiếu</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="ct15_ma" type="xs:string" nillable="true">
																<xs:annotation>
																	<xs:documentation>Mã Quan hệ với người nộp thuế</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="ct15_ten" type="xs:string" nillable="true">
																<xs:annotation>
																	<xs:documentation>Tên Quan hệ với người nộp thuế</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="ct16" type="xs:string" nillable="true">
																<xs:annotation>
																	<xs:documentation>Thời gian được tính giảm trừ trong năm - Từ tháng</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="ct17" type="xs:string" nillable="true">
																<xs:annotation>
																	<xs:documentation>Thời gian được tính giảm trừ trong năm - Đến tháng</xs:documentation>
																</xs:annotation>
															</xs:element>
														</xs:sequence>
														<xs:attribute name="id" type="xs:string"/>
													</xs:complexType>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name="NPTChuaCoCMND_MST">
										<xs:annotation>
											<xs:documentation>II. Người phụ thuộc chưa có MST/CMND/Hộ chiếu</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>
												<xs:element name="CTiet" maxOccurs="unbounded">
													<xs:complexType>
														<xs:sequence>
															<xs:element name="ct19" type="xs:string" nillable="true">
																<xs:annotation>
																	<xs:documentation>Họ và tên</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="ct20" type="xs:date" nillable="true">
																<xs:annotation>
																	<xs:documentation>Thông tin trên giấy khai sinh - Ngày sinh</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="ct21" type="xs:string" nillable="true">
																<xs:annotation>
																	<xs:documentation>Thông tin trên giấy khai sinh - Số</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="ct22" type="xs:string" nillable="true">
																<xs:annotation>
																	<xs:documentation>Thông tin trên giấy khai sinh - Quyển số</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="ct23_ma" type="xs:string" nillable="true">
																<xs:annotation>
																	<xs:documentation>Thông tin trên giấy khai sinh - Mã Quốc gia</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="ct23_ten" type="xs:string" nillable="true">
																<xs:annotation>
																	<xs:documentation>Thông tin trên giấy khai sinh - Tên Quốc gia</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="ct24_ma" type="xs:string" nillable="true">
																<xs:annotation>
																	<xs:documentation>Thông tin trên giấy khai sinh - Mã Tỉnh/ Thành phố</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="ct24_ten" type="xs:string" nillable="true">
																<xs:annotation>
																	<xs:documentation>Thông tin trên giấy khai sinh - Tên Tỉnh/ Thành phố</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="ct25_ma" type="xs:string" nillable="true">
																<xs:annotation>
																	<xs:documentation>Thông tin trên giấy khai sinh - Mã Quận/Huyện
</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="ct25_ten" type="xs:string" nillable="true">
																<xs:annotation>
																	<xs:documentation>Thông tin trên giấy khai sinh - Tên Quận/Huyện
</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="ct26_ma" type="xs:string" nillable="true">
																<xs:annotation>
																	<xs:documentation>Thông tin trên giấy khai sinh - Mã Phường/Xã
</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="ct26_ten" type="xs:string" nillable="true">
																<xs:annotation>
																	<xs:documentation>Thông tin trên giấy khai sinh - Tên Phường/Xã
</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="ct27_ma" type="xs:string" nillable="true">
																<xs:annotation>
																	<xs:documentation>Mã Quốc tịch</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="ct27_ten" type="xs:string" nillable="true">
																<xs:annotation>
																	<xs:documentation>Tên Quốc tịch</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="ct28_ma" type="xs:string" nillable="true">
																<xs:annotation>
																	<xs:documentation>Mã Quan hệ với người nộp thuế</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="ct28_ten" type="xs:string" nillable="true">
																<xs:annotation>
																	<xs:documentation>Tên Quan hệ với người nộp thuế</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="ct29" type="xs:string" nillable="true">
																<xs:annotation>
																	<xs:documentation>Thời gian được tính giảm trừ trong năm - Từ tháng</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="ct30" type="xs:string" nillable="true">
																<xs:annotation>
																	<xs:documentation>Thời gian được tính giảm trừ trong năm - Đến tháng</xs:documentation>
																</xs:annotation>
															</xs:element>
														</xs:sequence>
														<xs:attribute name="id" type="xs:string"/>
													</xs:complexType>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:redefine>
</xs:schema>
