HTKK/InterfaceTemplates/Validate/02_TAIN_VSP_DK_TT80_251.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2010 rel. 3 (http://www.altova.com) by MESMERiZE (MSM) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://kekhaithue.gdt.gov.vn/TKhaiThue" targetNamespace="http://kekhaithue.gdt.gov.vn/TKhaiThue" elementFormDefault="qualified" attributeFormDefault="unqualified" version="2.0.0">
	<xs:redefine schemaLocation="../TKhaiThue.xsd">
		<xs:complexType name="CTieuTKhaiChinhType">
			<xs:complexContent>
				<xs:extension base="CTieuTKhaiChinhType">
					<xs:sequence>
						<xs:element name="Header">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="LoaiDauKhi">
										<xs:annotation>
											<xs:documentation>Loại dầu khí</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>
												<xs:element name="ct01" type="xs:boolean" nillable="true">
													<xs:annotation>
														<xs:documentation>[01] Dầu thô:</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct02" type="xs:boolean" nillable="true">
													<xs:annotation>
														<xs:documentation>[02] Condensate:</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct03" type="xs:boolean" nillable="true">
													<xs:annotation>
														<xs:documentation>[03] Khí thiên nhiên:</xs:documentation>
													</xs:annotation>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name="ct15" type="xs:string" nillable="true">
										<xs:annotation>
											<xs:documentation>[15] Hợp đồng dầu khí lô: </xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct16" type="TINType" nillable="true">
										<xs:annotation>
											<xs:documentation>[16] Mã số thuế nhà điều hành hợp đồng dầu khí:</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="CT17">
										<xs:annotation>
											<xs:documentation>Loại hình ủy quyền</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>
												<xs:element name="donViUyQuyen" type="xs:boolean" minOccurs="0">
													<xs:annotation>
														<xs:documentation>Đơn vị được uỷ quyền</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="daiLyThue" type="xs:boolean" minOccurs="0">
													<xs:annotation>
														<xs:documentation>Đại lý thuế </xs:documentation>
													</xs:annotation>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name="tenDonViUyQuyen" type="xs:string" nillable="true">
										<xs:annotation>
											<xs:documentation>Tên đơn vị uỷ quyền</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ma_THQuyetToan" type="xs:string" nillable="true">
										<xs:annotation>
											<xs:documentation>Trường hợp quyết toán</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ten_THQuyetToan" type="xs:string" nillable="true">
										<xs:annotation>
											<xs:documentation>Tên trường hợp quyết toán</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="ten_DonVi" type="xs:string" nillable="true">
							<xs:annotation>
								<xs:documentation>Tên đơn vị (USD;VND)</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="ma_DonVi" type="xs:string" nillable="true">
							<xs:annotation>
								<xs:documentation>Mã đơn vị (USD;VND)</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="CT26">
							<xs:annotation>
								<xs:documentation>1. Sản lượng dầu khí chịu thuế tài nguyên trong kỳ tính thuế
[26]=[26a]+[26b]
</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="ma_donvitinh" type="xs:string" nillable="true">
										<xs:annotation>
											<xs:documentation>Mã đơn vị tính</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ten_donvitinh" type="xs:string" nillable="true">
										<xs:annotation>
											<xs:documentation>Tên đơn vị tính</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="giaTri" type="xs:decimal" nillable="true">
										<xs:annotation>
											<xs:documentation>Giá trị</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="CT26a">
							<xs:annotation>
								<xs:documentation>1.1 Sản lượng xuất khẩu</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="ma_donvitinh" type="xs:string" nillable="true">
										<xs:annotation>
											<xs:documentation>Mã đơn vị tính</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ten_donvitinh" type="xs:string" nillable="true">
										<xs:annotation>
											<xs:documentation>Tên đơn vị tính</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="giaTri" type="xs:decimal" nillable="true">
										<xs:annotation>
											<xs:documentation>Giá trị</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="CT26b">
							<xs:annotation>
								<xs:documentation>1.2 Sản lượng xuất bán tại Việt Nam</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="ma_donvitinh" type="xs:string" nillable="true">
										<xs:annotation>
											<xs:documentation>Mã đơn vị tính</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ten_donvitinh" type="xs:string" nillable="true">
										<xs:annotation>
											<xs:documentation>Tên đơn vị tính</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="giaTri" type="xs:decimal" nillable="true">
										<xs:annotation>
											<xs:documentation>Giá trị</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="ct27" type="xs:decimal" nillable="true">
							<xs:annotation>
								<xs:documentation>2. Tổng doanh thu xuất bán trong kỳ tính thuế</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="CT28">
							<xs:annotation>
								<xs:documentation>3.Giá tính thuế tài nguyên trong kỳ tính thuế [28]=[27]/[26]</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="ma_donvitinh" type="xs:string" nillable="true">
										<xs:annotation>
											<xs:documentation>Mã đơn vị tính</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ten_donvitinh" type="xs:string" nillable="true">
										<xs:annotation>
											<xs:documentation>Tên đơn vị tính</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="giaTri" type="xs:decimal" nillable="true">
										<xs:annotation>
											<xs:documentation>Giá trị</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="CT29">
							<xs:annotation>
								<xs:documentation>4.Thuế tài nguyên bằng dầu khí phải nộp trong kỳ tính thuế </xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="ma_donvitinh" type="xs:string" nillable="true">
										<xs:annotation>
											<xs:documentation>Mã đơn vị tính</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ten_donvitinh" type="xs:string" nillable="true">
										<xs:annotation>
											<xs:documentation>Tên đơn vị tính</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="giaTri" type="xs:decimal" nillable="true">
										<xs:annotation>
											<xs:documentation>Giá trị</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="ct30" type="xs:decimal" nillable="true">
							<xs:annotation>
								<xs:documentation>5.Số tiền thuế tài nguyên phải nộp trong kỳ tính thuế [30]=[28]x[29]</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="ct31" type="xs:decimal" nillable="true">
							<xs:annotation>
								<xs:documentation>6.Số tiền thuế tài nguyên tạm tính đã kê khai trong kỳ tính thuế</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="ct32" type="xs:decimal" nillable="true">
							<xs:annotation>
								<xs:documentation>7.Chênh lệch giữa số tiền thuế phải nộp theo quyết toán với số đã kê khai trong kỳ tính thuế [32]=[30]-[31]</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="ct33" type="xs:decimal" nillable="true">
							<xs:annotation>
								<xs:documentation>8. Tỷ giá quy đổi</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
		<xs:complexType name="PLucType">
			<xs:complexContent>
				<xs:extension base="PLucType">
					<xs:sequence>
						<xs:element name="PL02_1_TAIN_VSP" minOccurs="0">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="BangSLuongVaDThu">
										<xs:complexType>
											<xs:sequence>
												<xs:element name="XuatBanTrongNuoc">
													<xs:annotation>
														<xs:documentation>Xuất bán trong nước</xs:documentation>
													</xs:annotation>
													<xs:complexType>
														<xs:sequence>
															<xs:element name="ChiTiet" type="NoiDungXuatBanVaDoanhThuType" maxOccurs="unbounded"/>
														</xs:sequence>
													</xs:complexType>
												</xs:element>
												<xs:element name="BanXuatKhau">
													<xs:annotation>
														<xs:documentation>Bán xuất khẩu</xs:documentation>
													</xs:annotation>
													<xs:complexType>
														<xs:sequence>
															<xs:element name="ChiTiet" type="NoiDungXuatBanVaDoanhThuType" maxOccurs="unbounded"/>
														</xs:sequence>
													</xs:complexType>
												</xs:element>
												<xs:element name="tongCot5" type="xs:decimal" nillable="true">
													<xs:annotation>
														<xs:documentation>Tổng cộng cột 5</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="tongCot7" type="xs:decimal" nillable="true">
													<xs:annotation>
														<xs:documentation>Tổng cộng cột 7</xs:documentation>
													</xs:annotation>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:redefine>
	<xs:complexType name="NoiDungXuatBanVaDoanhThuType">
		<xs:sequence>
			<xs:element name="ct2" type="xs:date" nillable="true">
				<xs:annotation>
					<xs:documentation>Ngày tháng Khai thác dầu khí</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ct3" type="xs:decimal" nillable="true">
				<xs:annotation>
					<xs:documentation>Sản lượng (thùng hoặc m3) Khai thác dầu khí</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ct4" type="xs:date" nillable="true">
				<xs:annotation>
					<xs:documentation>Ngày tháng Xuất bán dầu khí</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ct5" type="xs:decimal" nillable="true">
				<xs:annotation>
					<xs:documentation>Số lượng (thùng hoặc m3) Xuất bán dầu khí</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ct6" type="xs:decimal" nillable="true">
				<xs:annotation>
					<xs:documentation>Giá tính thuế tài nguyên tạm tính xuất bán dầu khí</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ct7" type="xs:decimal" nillable="true">
				<xs:annotation>
					<xs:documentation>Doanh thu (USD; VND) xuất bán dầu khí</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ct8" type="xs:string" nillable="true">
				<xs:annotation>
					<xs:documentation>Ghi chú</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="id" type="xs:string"/>
	</xs:complexType>
</xs:schema>
