HTKK/InterfaceTemplates/Validate/04_TKQT_TNCN_251.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2010 rel. 3 (http://www.altova.com) by MESMERiZE (MSM) -->
<xs:schema xmlns="http://kekhaithue.gdt.gov.vn/TKhaiThue" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://kekhaithue.gdt.gov.vn/TKhaiThue" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:redefine schemaLocation="..\TKhaiThue.xsd">
		<xs:complexType name="CTieuTKhaiChinhType">
			<xs:complexContent>
				<xs:extension base="CTieuTKhaiChinhType">
					<xs:sequence>
						<xs:element name="Header" nillable="true">
							<xs:annotation>
								<xs:documentation>I. THÔNG TIN CÁ NHÂN NHẬN THỪA KẾ, QUÀ TẶNG </xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="caNhanDuocMienGiamThue" type="xs:boolean" nillable="true">
										<xs:annotation>
											<xs:documentation>Cá nhân được miễn, giảm thuế theo Hiệp định tránh đánh thuế hai lần (*)</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct06_cmt" type="xs:string" nillable="true">
										<xs:annotation>
											<xs:documentation>Số CMND/CCCD/Hộ chiếu</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct07_ten_quocTich" type="xs:string" nillable="true">
										<xs:annotation>
											<xs:documentation>Tên quốc tịch</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct07_ma_quocTich" type="xs:string" nillable="true">
										<xs:annotation>
											<xs:documentation>Mã quốc tịch</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="VanBanGiaoNhan" nillable="true">
							<xs:annotation>
								<xs:documentation>II. VĂN BẢN GIAO NHẬN THỪA KỀ, QUÀ TẶNG</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="ct17_diaDiem" type="xs:string" nillable="true">
										<xs:annotation>
											<xs:documentation>Làm tại</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct17_ngay_lam" type="xs:date" nillable="true">
										<xs:annotation>
											<xs:documentation>Ngày tháng năm làm</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct17_ngay_chungNhan" type="xs:date" nillable="true">
										<xs:annotation>
											<xs:documentation>Ngày được Cơ quan công chứng chứng nhận </xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="ThongTinCaNhan" nillable="true">
							<xs:annotation>
								<xs:documentation>III. THÔNG TIN VỀ CÁ NHÂN CHO THỪA KẾ, QUÀ TẶNG</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="ct18_hoTen" type="xs:string" nillable="true">
										<xs:annotation>
											<xs:documentation>Họ và tên</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct19_mst" type="TINType" nillable="true">
										<xs:annotation>
											<xs:documentation>Mã số thuế</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct20_cmt" type="xs:string" nillable="true">
										<xs:annotation>
											<xs:documentation>Số CMND/CCCD/Hộ chiếu</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct21_ten_quocTich" type="xs:string" nillable="true">
										<xs:annotation>
											<xs:documentation>Tên quốc tịch</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct21_ma_quocTich" type="xs:string" nillable="true">
										<xs:annotation>
											<xs:documentation>Mã quốc tịch</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct22_dchi" type="xs:string" nillable="true">
										<xs:annotation>
											<xs:documentation>Địa chỉ</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct22_maQuanHuyen" type="xs:string" nillable="true">
										<xs:annotation>
											<xs:documentation>Mã quận/huyện</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct22_tenQuanHuyen" type="xs:string" nillable="true">
										<xs:annotation>
											<xs:documentation>Tên quận/huyện</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct22_maTinh" type="xs:string" nillable="true">
										<xs:annotation>
											<xs:documentation>Mã tỉnh/thành phố</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct22_tenTinh" type="xs:string" nillable="true">
										<xs:annotation>
											<xs:documentation>Tên tỉnh/thành phố</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct23_dthoai" type="xs:string" nillable="true">
										<xs:annotation>
											<xs:documentation>Điện thoại</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct24_fax" type="xs:string" nillable="true">
										<xs:annotation>
											<xs:documentation>Fax</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct25_email" type="xs:string" nillable="true">
										<xs:annotation>
											<xs:documentation>Email</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="LoaiTaiSan" nillable="true">
							<xs:annotation>
								<xs:documentation>IV. LOẠI TÀI SẢN ĐƯỢC NHẬN THỪA KẾ, QUÀ TẶNG</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="ct26_chungKhoan" type="xs:boolean" nillable="true">
										<xs:annotation>
											<xs:documentation>Chứng khoán</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct27_vonGop" type="xs:boolean" nillable="true">
										<xs:annotation>
											<xs:documentation>Vốn góp</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct28_taiSan" type="xs:boolean" nillable="true">
										<xs:annotation>
											<xs:documentation>Tài sản phải đăng ký sở hữu hoặc sử dụng</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="GiayChungNhan" nillable="true">
							<xs:annotation>
								<xs:documentation>V(a). [29] GIẤY CHỨNG NHẬN QUYỀN SỬ DỤNG HOẶC SỞ HỮU TÀI SẢN THỪA KẾ, QUÀ TẶNG SỐ</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="ct29_so" type="xs:string" nillable="true">
										<xs:annotation>
											<xs:documentation>GIẤY CHỨNG NHẬN QUYỀN SỬ DỤNG HOẶC SỞ HỮU TÀI SẢN THỪA KẾ, QUÀ TẶNG SỐ</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct29_coQuanCap" type="xs:string" nillable="true">
										<xs:annotation>
											<xs:documentation>Do cơ quan</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct29_ngayCap" type="xs:date" nillable="true">
										<xs:annotation>
											<xs:documentation>Cấp ngày</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="ToChucPhatHanh" nillable="true">
							<xs:annotation>
								<xs:documentation>V(b). THÔNG TIN TỔ CHỨC PHÁT HÀNH CHỨNG KHOÁN HOẶC TỔ CHỨC NƠI CÁ NHÂN CÓ VỐN GÓP </xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="ct30_ten" type="xs:string" nillable="true">
										<xs:annotation>
											<xs:documentation>Tên tổ chức</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct31_mst" type="TINType" nillable="true">
										<xs:annotation>
											<xs:documentation>Mã số thuế</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct32_dchi" type="xs:string" nillable="true">
										<xs:annotation>
											<xs:documentation>Địa chỉ</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct33_maQuanHuyen" type="xs:string" nillable="true">
										<xs:annotation>
											<xs:documentation>Mã quận/huyện</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct33_tenQuanHuyen" type="xs:string" nillable="true">
										<xs:annotation>
											<xs:documentation>Tên quận/huyện</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct34_maTinh" type="xs:string" nillable="true">
										<xs:annotation>
											<xs:documentation>Mã tỉnh/thành phố</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct34_tenTinh" type="xs:string" nillable="true">
										<xs:annotation>
											<xs:documentation>Tên tỉnh/thành phố</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct35_dthoai" type="xs:string" nillable="true">
										<xs:annotation>
											<xs:documentation>Điện thoại</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct36_fax" type="xs:string" nillable="true">
										<xs:annotation>
											<xs:documentation>Fax</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct37_email" type="xs:string" nillable="true">
										<xs:annotation>
											<xs:documentation>Email</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="ThuNhap" nillable="true">
							<xs:annotation>
								<xs:documentation>VI. THU NHẬP TỪ NHẬN THỪA KẾ, QUÀ TẶNG </xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="ct38_soTien" type="xs:nonNegativeInteger" nillable="true">
										<xs:annotation>
											<xs:documentation>Số tiền</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct38_vietBangChu" type="xs:string" nillable="true">
										<xs:annotation>
											<xs:documentation>Viết bằng chữ</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="ThuNhapDuocMien" nillable="true">
							<xs:annotation>
								<xs:documentation>VII. THU NHẬP ĐƯỢC MIỄN GIẢM THEO HIỆP ĐỊNH TRÁNH ĐÁNH THUẾ HAI LẦN </xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="ct39_soTien" type="xs:nonNegativeInteger" nillable="true">
										<xs:annotation>
											<xs:documentation>Số tiền</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct39_vietBangChu" type="xs:string" nillable="true">
										<xs:annotation>
											<xs:documentation>Viết bằng chữ</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:redefine>
</xs:schema>
