HTKK/InterfaceTemplates/Validate/133_B01_DNN_BCTC_KLT_232.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2010 rel. 3 (http://www.altova.com) by MESMERiZE (MSM) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://kekhaithue.gdt.gov.vn/TKhaiThue" targetNamespace="http://kekhaithue.gdt.gov.vn/TKhaiThue" elementFormDefault="qualified" attributeFormDefault="unqualified" version="2.0.0">
	<xs:redefine schemaLocation="../TKhaiThue.xsd">
		<xs:complexType name="CTieuTKhaiChinhType">
			<xs:complexContent>
				<xs:extension base="CTieuTKhaiChinhType">
					<xs:sequence>
						<xs:element name="bctcDaKiemToan" type="xs:boolean" nillable="true">
							<xs:annotation>
								<xs:documentation>Báo cáo tài chính đã được kiểm toán</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="maYKienKToan" type="xs:string" nillable="true">
							<xs:annotation>
								<xs:documentation>Mã ý kiến kiểm toán</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="tenYKienKToan" type="xs:string" nillable="true">
							<xs:annotation>
								<xs:documentation>Tên ý kiến kiểm toán</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="ThuyetMinh">
							<xs:annotation>
								<xs:documentation>Thuyết minh</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="ct110" type="xs:string" nillable="true">
										<xs:annotation>
											<xs:documentation>I. Tiền và các khoản tương đương tiền </xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct120" type="xs:string" nillable="true">
										<xs:annotation>
											<xs:documentation>II. Đầu tư tài chính </xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct121" type="xs:string" nillable="true">
										<xs:annotation>
											<xs:documentation>  1. Chứng khoán kinh doanh</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct122" type="xs:string" nillable="true">
										<xs:annotation>
											<xs:documentation>2. Đầu tư nắm giữ đến ngày đáo hạn</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct123" type="xs:string" nillable="true">
										<xs:annotation>
											<xs:documentation>3. Đầu tư góp vốn vào đơn vị khác</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct130" type="xs:string" nillable="true">
										<xs:annotation>
											<xs:documentation>III. Các khoản phải thu </xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct131" type="xs:string" nillable="true">
										<xs:annotation>
											<xs:documentation>1. Phải thu của khách hàng</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct132" type="xs:string" nillable="true">
										<xs:annotation>
											<xs:documentation>2. Trả trước cho người bán</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct133" type="xs:string" nillable="true">
										<xs:annotation>
											<xs:documentation>3. Vốn kinh doanh ở đơn vị trực thuộc</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct134" type="xs:string" nillable="true">
										<xs:annotation>
											<xs:documentation>4. Phải thu khác</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct135" type="xs:string" nillable="true">
										<xs:annotation>
											<xs:documentation>5. Tài sản thiếu chờ xử lý</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct140" type="xs:string" nillable="true">
										<xs:annotation>
											<xs:documentation>IV. Hàng tồn kho </xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct150" type="xs:string" nillable="true">
										<xs:annotation>
											<xs:documentation>V. Tài sản cố định và bất động sản đầu tư</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct160" type="xs:string" nillable="true">
										<xs:annotation>
											<xs:documentation>VI. Xây dựng cơ bản dở dang</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct170" type="xs:string" nillable="true">
										<xs:annotation>
											<xs:documentation>VII. Tài sản khác</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct171" type="xs:string" nillable="true">
										<xs:annotation>
											<xs:documentation>1. Thuế GTGT được khấu trừ</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct172" type="xs:string" nillable="true">
										<xs:annotation>
											<xs:documentation>2. Tài sản khác</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct200" type="xs:string" nillable="true">
										<xs:annotation>
											<xs:documentation>TỔNG CỘNG TÀI SẢN
(200=110+120+130+140+150+160+170)
</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct300" type="xs:string" nillable="true">
										<xs:annotation>
											<xs:documentation>I. Nợ phải trả</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct311" type="xs:string" nillable="true">
										<xs:annotation>
											<xs:documentation>1. Phải trả người bán</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct312" type="xs:string" nillable="true">
										<xs:annotation>
											<xs:documentation>2. Người mua trả tiền trước</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct313" type="xs:string" nillable="true">
										<xs:annotation>
											<xs:documentation>3. Thuế và các khoản phải nộp Nhà nước</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct314" type="xs:string" nillable="true">
										<xs:annotation>
											<xs:documentation>4. Phải trả người lao động</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct315" type="xs:string" nillable="true">
										<xs:annotation>
											<xs:documentation>5. Phải trả khác</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct316" type="xs:string" nillable="true">
										<xs:annotation>
											<xs:documentation>6. Vay và nợ thuê tài chính</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct317" type="xs:string" nillable="true">
										<xs:annotation>
											<xs:documentation>7. Phải trả nội bộ về vốn kinh doanh</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct318" type="xs:string" nillable="true">
										<xs:annotation>
											<xs:documentation>8. Dự phòng phải trả</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct319" type="xs:string" nillable="true">
										<xs:annotation>
											<xs:documentation>9. Quỹ khen thưởng, phúc lợi</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct320" type="xs:string" nillable="true">
										<xs:annotation>
											<xs:documentation>10. Quỹ phát triển khoa học và công nghệ</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct400" type="xs:string" nillable="true">
										<xs:annotation>
											<xs:documentation>II. Vốn chủ sở hữu</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct411" type="xs:string" nillable="true">
										<xs:annotation>
											<xs:documentation>1. Vốn góp của chủ sở hữu</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct412" type="xs:string" nillable="true">
										<xs:annotation>
											<xs:documentation>2. Thặng dư vốn cổ phần</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct413" type="xs:string" nillable="true">
										<xs:annotation>
											<xs:documentation>3. Vốn khác của chủ sở hữu</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct414" type="xs:string" nillable="true">
										<xs:annotation>
											<xs:documentation>4. Cổ phiếu quỹ (*)</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct415" type="xs:string" nillable="true">
										<xs:annotation>
											<xs:documentation>5. Chênh lệch tỷ giá hối đoái</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct416" type="xs:string" nillable="true">
										<xs:annotation>
											<xs:documentation>6. Các quỹ thuộc vốn chủ sở hữu</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct417" type="xs:string" nillable="true">
										<xs:annotation>
											<xs:documentation>7. Lợi nhuận sau thuế chưa phân phối</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct500" type="xs:string" nillable="true">
										<xs:annotation>
											<xs:documentation>TỔNG CỘNG NGUỒN VỐN
(500=300+400)
</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="SoCuoiNam">
							<xs:annotation>
								<xs:documentation>số cuối năm</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="ct110" type="xs:long" nillable="true">
										<xs:annotation>
											<xs:documentation>I. Tiền và các khoản tương đương tiền </xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct120" type="xs:long" nillable="true">
										<xs:annotation>
											<xs:documentation>II. Đầu tư tài chính </xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct121" type="xs:long" nillable="true">
										<xs:annotation>
											<xs:documentation>  1. Chứng khoán kinh doanh</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct122" type="xs:long" nillable="true">
										<xs:annotation>
											<xs:documentation>2. Đầu tư nắm giữ đến ngày đáo hạn</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct123" type="xs:long" nillable="true">
										<xs:annotation>
											<xs:documentation>3. Đầu tư góp vốn vào đơn vị khác</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct130" type="xs:long" nillable="true">
										<xs:annotation>
											<xs:documentation>III. Các khoản phải thu </xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct131" type="xs:long" nillable="true">
										<xs:annotation>
											<xs:documentation>1. Phải thu của khách hàng</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct132" type="xs:long" nillable="true">
										<xs:annotation>
											<xs:documentation>2. Trả trước cho người bán</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct133" type="xs:long" nillable="true">
										<xs:annotation>
											<xs:documentation>3. Vốn kinh doanh ở đơn vị trực thuộc</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct134" type="xs:long" nillable="true">
										<xs:annotation>
											<xs:documentation>4. Phải thu khác</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct135" type="xs:long" nillable="true">
										<xs:annotation>
											<xs:documentation>5. Tài sản thiếu chờ xử lý</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct140" type="xs:long" nillable="true">
										<xs:annotation>
											<xs:documentation>IV. Hàng tồn kho </xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct150" type="xs:long" nillable="true">
										<xs:annotation>
											<xs:documentation>V. Tài sản cố định và bất động sản đầu tư</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct160" type="xs:long" nillable="true">
										<xs:annotation>
											<xs:documentation>VI. Xây dựng cơ bản dở dang</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct170" type="xs:long" nillable="true">
										<xs:annotation>
											<xs:documentation>VII. Tài sản khác</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct171" type="xs:long" nillable="true">
										<xs:annotation>
											<xs:documentation>1. Thuế GTGT được khấu trừ</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct172" type="xs:long" nillable="true">
										<xs:annotation>
											<xs:documentation>2. Tài sản khác</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct200" type="xs:long" nillable="true">
										<xs:annotation>
											<xs:documentation>TỔNG CỘNG TÀI SẢN
(200=110+120+130+140+150+160+170)
</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct300" type="xs:long" nillable="true">
										<xs:annotation>
											<xs:documentation>I. Nợ phải trả</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct311" type="xs:long" nillable="true">
										<xs:annotation>
											<xs:documentation>1. Phải trả người bán</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct312" type="xs:long" nillable="true">
										<xs:annotation>
											<xs:documentation>2. Người mua trả tiền trước</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct313" type="xs:long" nillable="true">
										<xs:annotation>
											<xs:documentation>3. Thuế và các khoản phải nộp Nhà nước</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct314" type="xs:long" nillable="true">
										<xs:annotation>
											<xs:documentation>4. Phải trả người lao động</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct315" type="xs:long" nillable="true">
										<xs:annotation>
											<xs:documentation>5. Phải trả khác</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct316" type="xs:long" nillable="true">
										<xs:annotation>
											<xs:documentation>6. Vay và nợ thuê tài chính</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct317" type="xs:long" nillable="true">
										<xs:annotation>
											<xs:documentation>7. Phải trả nội bộ về vốn kinh doanh</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct318" type="xs:long" nillable="true">
										<xs:annotation>
											<xs:documentation>8. Dự phòng phải trả</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct319" type="xs:long" nillable="true">
										<xs:annotation>
											<xs:documentation>9. Quỹ khen thưởng, phúc lợi</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct320" type="xs:long" nillable="true">
										<xs:annotation>
											<xs:documentation>10. Quỹ phát triển khoa học và công nghệ</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct400" type="xs:long" nillable="true">
										<xs:annotation>
											<xs:documentation>II. Vốn chủ sở hữu</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct411" type="xs:long" nillable="true">
										<xs:annotation>
											<xs:documentation>1. Vốn góp của chủ sở hữu</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct412" type="xs:long" nillable="true">
										<xs:annotation>
											<xs:documentation>2. Thặng dư vốn cổ phần</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct413" type="xs:long" nillable="true">
										<xs:annotation>
											<xs:documentation>3. Vốn khác của chủ sở hữu</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct414" type="xs:long" nillable="true">
										<xs:annotation>
											<xs:documentation>4. Cổ phiếu quỹ (*)</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct415" type="xs:long" nillable="true">
										<xs:annotation>
											<xs:documentation>5. Chênh lệch tỷ giá hối đoái</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct416" type="xs:long" nillable="true">
										<xs:annotation>
											<xs:documentation>6. Các quỹ thuộc vốn chủ sở hữu</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct417" type="xs:long" nillable="true">
										<xs:annotation>
											<xs:documentation>7. Lợi nhuận sau thuế chưa phân phối</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct500" type="xs:long" nillable="true">
										<xs:annotation>
											<xs:documentation>TỔNG CỘNG NGUỒN VỐN
(500=300+400)
</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="SoDauNam">
							<xs:annotation>
								<xs:documentation>số đầu năm</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="ct110" type="xs:long" nillable="true">
										<xs:annotation>
											<xs:documentation>I. Tiền và các khoản tương đương tiền </xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct120" type="xs:long" nillable="true">
										<xs:annotation>
											<xs:documentation>II. Đầu tư tài chính </xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct121" type="xs:long" nillable="true">
										<xs:annotation>
											<xs:documentation>  1. Chứng khoán kinh doanh</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct122" type="xs:long" nillable="true">
										<xs:annotation>
											<xs:documentation>2. Đầu tư nắm giữ đến ngày đáo hạn</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct123" type="xs:long" nillable="true">
										<xs:annotation>
											<xs:documentation>3. Đầu tư góp vốn vào đơn vị khác</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct130" type="xs:long" nillable="true">
										<xs:annotation>
											<xs:documentation>III. Các khoản phải thu </xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct131" type="xs:long" nillable="true">
										<xs:annotation>
											<xs:documentation>1. Phải thu của khách hàng</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct132" type="xs:long" nillable="true">
										<xs:annotation>
											<xs:documentation>2. Trả trước cho người bán</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct133" type="xs:long" nillable="true">
										<xs:annotation>
											<xs:documentation>3. Vốn kinh doanh ở đơn vị trực thuộc</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct134" type="xs:long" nillable="true">
										<xs:annotation>
											<xs:documentation>4. Phải thu khác</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct135" type="xs:long" nillable="true">
										<xs:annotation>
											<xs:documentation>5. Tài sản thiếu chờ xử lý</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct140" type="xs:long" nillable="true">
										<xs:annotation>
											<xs:documentation>IV. Hàng tồn kho </xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct150" type="xs:long" nillable="true">
										<xs:annotation>
											<xs:documentation>V. Tài sản cố định và bất động sản đầu tư</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct160" type="xs:long" nillable="true">
										<xs:annotation>
											<xs:documentation>VI. Xây dựng cơ bản dở dang</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct170" type="xs:long" nillable="true">
										<xs:annotation>
											<xs:documentation>VII. Tài sản khác</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct171" type="xs:long" nillable="true">
										<xs:annotation>
											<xs:documentation>1. Thuế GTGT được khấu trừ</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct172" type="xs:long" nillable="true">
										<xs:annotation>
											<xs:documentation>2. Tài sản khác</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct200" type="xs:long" nillable="true">
										<xs:annotation>
											<xs:documentation>TỔNG CỘNG TÀI SẢN
(200=110+120+130+140+150+160+170)
</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct300" type="xs:long" nillable="true">
										<xs:annotation>
											<xs:documentation>I. Nợ phải trả</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct311" type="xs:long" nillable="true">
										<xs:annotation>
											<xs:documentation>1. Phải trả người bán</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct312" type="xs:long" nillable="true">
										<xs:annotation>
											<xs:documentation>2. Người mua trả tiền trước</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct313" type="xs:long" nillable="true">
										<xs:annotation>
											<xs:documentation>3. Thuế và các khoản phải nộp Nhà nước</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct314" type="xs:long" nillable="true">
										<xs:annotation>
											<xs:documentation>4. Phải trả người lao động</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct315" type="xs:long" nillable="true">
										<xs:annotation>
											<xs:documentation>5. Phải trả khác</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct316" type="xs:long" nillable="true">
										<xs:annotation>
											<xs:documentation>6. Vay và nợ thuê tài chính</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct317" type="xs:long" nillable="true">
										<xs:annotation>
											<xs:documentation>7. Phải trả nội bộ về vốn kinh doanh</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct318" type="xs:long" nillable="true">
										<xs:annotation>
											<xs:documentation>8. Dự phòng phải trả</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct319" type="xs:long" nillable="true">
										<xs:annotation>
											<xs:documentation>9. Quỹ khen thưởng, phúc lợi</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct320" type="xs:long" nillable="true">
										<xs:annotation>
											<xs:documentation>10. Quỹ phát triển khoa học và công nghệ</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct400" type="xs:long" nillable="true">
										<xs:annotation>
											<xs:documentation>II. Vốn chủ sở hữu</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct411" type="xs:long" nillable="true">
										<xs:annotation>
											<xs:documentation>1. Vốn góp của chủ sở hữu</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct412" type="xs:long" nillable="true">
										<xs:annotation>
											<xs:documentation>2. Thặng dư vốn cổ phần</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct413" type="xs:long" nillable="true">
										<xs:annotation>
											<xs:documentation>3. Vốn khác của chủ sở hữu</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct414" type="xs:long" nillable="true">
										<xs:annotation>
											<xs:documentation>4. Cổ phiếu quỹ (*)</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct415" type="xs:long" nillable="true">
										<xs:annotation>
											<xs:documentation>5. Chênh lệch tỷ giá hối đoái</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct416" type="xs:long" nillable="true">
										<xs:annotation>
											<xs:documentation>6. Các quỹ thuộc vốn chủ sở hữu</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct417" type="xs:long" nillable="true">
										<xs:annotation>
											<xs:documentation>7. Lợi nhuận sau thuế chưa phân phối</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct500" type="xs:long" nillable="true">
										<xs:annotation>
											<xs:documentation>TỔNG CỘNG NGUỒN VỐN
(500=300+400)
</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="nguoiLapBieu" type="xs:string" nillable="true">
							<xs:annotation>
								<xs:documentation>Người lập biểu </xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="keToanTruong" type="xs:string" nillable="true">
							<xs:annotation>
								<xs:documentation>Kế toán trưởng </xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="ngayLap" type="xs:date" nillable="true">
							<xs:annotation>
								<xs:documentation>Lập ngày </xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="nguoiDaiDienTheoPhapLuat" type="xs:string" nillable="true">
							<xs:annotation>
								<xs:documentation>Người đại diện theo pháp luật</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
		<xs:complexType name="PLucType">
			<xs:complexContent>
				<xs:extension base="PLucType">
					<xs:sequence>
						<xs:element name="PL_KQHDSXKD" minOccurs="0">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="ThuyetMinh">
										<xs:annotation>
											<xs:documentation>Thuyết minh</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>
												<xs:element name="ct01" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>1. Doanh thu bán hàng và cung cấp dịch vụ</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct02" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>2. Các khoản giảm trừ doanh thu</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct10" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>3. Doanh thu thuần về bán hàng và cung cấp dịch vụ (10 = 01 - 02)</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct11" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>4. Giá vốn hàng bán</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct20" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>5. Lợi nhuận gộp về bán hàng và cung cấp dịch vụ (20 = 10 - 11)</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct21" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>6. Doanh thu hoạt động tài chính</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct22" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>7. Chi phí tài chính</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct23" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>  - Trong đó: Chi phí lãi vay </xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct24" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>8.Chi phí quản lý kinh doanh</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct30" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>9. Lợi nhuận thuần từ hoạt động kinh doanh (30 = 20 + 21 - 22 - 24)</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct31" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>10. Thu nhập khác</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct32" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>11. Chi phí khác</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct40" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>12. Lợi nhuận khác (40 = 31 - 32)</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct50" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>13. Tổng lợi nhuận kế toán trước thuế (50 = 30 + 40)</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct51" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>14. Chi phí thuế TNDN</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct60" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>15. Lợi nhuận sau thuế thu nhập doanh nghiệp (60 = 50 - 51 )</xs:documentation>
													</xs:annotation>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name="NamNay">
										<xs:annotation>
											<xs:documentation>Năm nay</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>
												<xs:element name="ct01" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>1. Doanh thu bán hàng và cung cấp dịch vụ</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct02" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>2. Các khoản giảm trừ doanh thu</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct10" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>3. Doanh thu thuần về bán hàng và cung cấp dịch vụ (10 = 01 - 02)</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct11" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>4. Giá vốn hàng bán</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct20" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>5. Lợi nhuận gộp về bán hàng và cung cấp dịch vụ (20 = 10 - 11)</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct21" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>6. Doanh thu hoạt động tài chính</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct22" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>7. Chi phí tài chính</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct23" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>  - Trong đó: Chi phí lãi vay </xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct24" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>8.Chi phí quản lý kinh doanh</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct30" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>9. Lợi nhuận thuần từ hoạt động kinh doanh (30 = 20 + 21 - 22 - 24)</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct31" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>10. Thu nhập khác</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct32" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>11. Chi phí khác</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct40" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>12. Lợi nhuận khác (40 = 31 - 32)</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct50" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>13. Tổng lợi nhuận kế toán trước thuế (50 = 30 + 40)</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct51" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>14. Chi phí thuế TNDN</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct60" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>15. Lợi nhuận sau thuế thu nhập doanh nghiệp (60 = 50 - 51 )</xs:documentation>
													</xs:annotation>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name="NamTruoc">
										<xs:annotation>
											<xs:documentation>Năm trước</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>
												<xs:element name="ct01" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>1. Doanh thu bán hàng và cung cấp dịch vụ</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct02" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>2. Các khoản giảm trừ doanh thu</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct10" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>3. Doanh thu thuần về bán hàng và cung cấp dịch vụ (10 = 01 - 02)</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct11" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>4. Giá vốn hàng bán</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct20" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>5. Lợi nhuận gộp về bán hàng và cung cấp dịch vụ (20 = 10 - 11)</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct21" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>6. Doanh thu hoạt động tài chính</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct22" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>7. Chi phí tài chính</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct23" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>  - Trong đó: Chi phí lãi vay </xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct24" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>8.Chi phí quản lý kinh doanh</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct30" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>9. Lợi nhuận thuần từ hoạt động kinh doanh (30 = 20 + 21 - 22 - 24)</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct31" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>10. Thu nhập khác</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct32" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>11. Chi phí khác</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct40" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>12. Lợi nhuận khác (40 = 31 - 32)</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct50" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>13. Tổng lợi nhuận kế toán trước thuế (50 = 30 + 40)</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct51" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>14. Chi phí thuế TNDN</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct60" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>15. Lợi nhuận sau thuế thu nhập doanh nghiệp (60 = 50 - 51 )</xs:documentation>
													</xs:annotation>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="PL_LCTTTT" minOccurs="0">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="ThuyetMinh">
										<xs:annotation>
											<xs:documentation>Thuyết minh</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>
												<xs:element name="ct01" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation> 1.Tiền thu từ bán hàng, cung cấp dịch vụ và doanh thu khác</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct02" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>2.Tiền chi trả cho người cung cấp hàng hóa và dịch vụ</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct03" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>3.Tiền chi trả cho người lao động</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct04" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>4. Tiền lãi vay đã trả</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct05" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>5.Thuế thu nhập doanh nghiệp đã nộp</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct06" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>6.Tiền thu khác từ hoạt động kinh doanh</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct07" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>7.Tiền chi khác cho hoạt động kinh doanh</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct20" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>Lưu chuyển tiền thuần từ hoạt động kinh doanh</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct21" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>1. Tiền chi để mua sắm, xây dựng TSCĐ, BĐSĐT và các tài sản dài hạn khác</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct22" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>2. Tiền thu từ thanh lý, nhượng bán TSCĐ, BĐSĐT và các tài sản dài hạn khác</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct23" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>3. Tiền chi cho vay, đầu tư góp vốn vào đơn vị khác</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct24" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>4. Tiền thu hồi cho vay, đầu tư góp vốn vào đơn vị khác</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct25" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>5. Tiền thu lãi cho vay, cổ tức và lợi nhuận được chia</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct30" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>Lưu chuyển tiền thuần từ hoạt động đầu tư</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct31" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>   1.Tiền thu từ phát hành cổ phiếu, nhận vốn góp của chủ sở hữu</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct32" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>2. Tiền trả lại vốn góp cho các chủ sở hữu, mua lại cổ phiếu của doanh nghiệp đã phát hành</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct33" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>3. Tiền thu từ đi vay</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct34" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>4. Tiền trả nợ gốc vay và nợ thuê tài chính</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct35" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>5. Cổ tức, lợi nhuận đã trả cho chủ sở hữu</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct40" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>Lưu chuyển tiền thuần từ hoạt động tài chính</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct50" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>Lưu chuyển tiền thuần trong kỳ (50 = 20+30+40)</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct60" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>Tiền và tương đương tiền đầu kỳ</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct61" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>Ảnh hưởng của thay đổi tỷ giá hối đoái quy đổi ngoại tệ</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct70" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>Tiền và tương đương tiền cuối kỳ (70 = 50+60+61)</xs:documentation>
													</xs:annotation>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name="NamNay">
										<xs:annotation>
											<xs:documentation>Năm nay</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>
												<xs:element name="ct01" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation> 1.Tiền thu từ bán hàng, cung cấp dịch vụ và doanh thu khác</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct02" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>2.Tiền chi trả cho người cung cấp hàng hóa và dịch vụ</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct03" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>3.Tiền chi trả cho người lao động</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct04" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>4. Tiền lãi vay đã trả</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct05" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>5.Thuế thu nhập doanh nghiệp đã nộp</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct06" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>6.Tiền thu khác từ hoạt động kinh doanh</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct07" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>7.Tiền chi khác cho hoạt động kinh doanh</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct20" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>Lưu chuyển tiền thuần từ hoạt động kinh doanh</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct21" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>1. Tiền chi để mua sắm, xây dựng TSCĐ, BĐSĐT và các tài sản dài hạn khác</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct22" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>2. Tiền thu từ thanh lý, nhượng bán TSCĐ, BĐSĐT và các tài sản dài hạn khác</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct23" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>3. Tiền chi cho vay, đầu tư góp vốn vào đơn vị khác</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct24" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>4. Tiền thu hồi cho vay, đầu tư góp vốn vào đơn vị khác</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct25" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>5. Tiền thu lãi cho vay, cổ tức và lợi nhuận được chia</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct30" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>Lưu chuyển tiền thuần từ hoạt động đầu tư</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct31" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>   1.Tiền thu từ phát hành cổ phiếu, nhận vốn góp của chủ sở hữu</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct32" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>2. Tiền trả lại vốn góp cho các chủ sở hữu, mua lại cổ phiếu của doanh nghiệp đã phát hành</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct33" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>3. Tiền thu từ đi vay</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct34" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>4. Tiền trả nợ gốc vay và nợ thuê tài chính</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct35" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>5. Cổ tức, lợi nhuận đã trả cho chủ sở hữu</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct40" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>Lưu chuyển tiền thuần từ hoạt động tài chính</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct50" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>Lưu chuyển tiền thuần trong kỳ (50 = 20+30+40)</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct60" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>Tiền và tương đương tiền đầu kỳ</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct61" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>Ảnh hưởng của thay đổi tỷ giá hối đoái quy đổi ngoại tệ</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct70" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>Tiền và tương đương tiền cuối kỳ (70 = 50+60+61)</xs:documentation>
													</xs:annotation>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name="NamTruoc">
										<xs:annotation>
											<xs:documentation>Năm trước</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>
												<xs:element name="ct01" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation> 1.Tiền thu từ bán hàng, cung cấp dịch vụ và doanh thu khác</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct02" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>2.Tiền chi trả cho người cung cấp hàng hóa và dịch vụ</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct03" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>3.Tiền chi trả cho người lao động</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct04" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>4. Tiền lãi vay đã trả</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct05" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>5.Thuế thu nhập doanh nghiệp đã nộp</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct06" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>6.Tiền thu khác từ hoạt động kinh doanh</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct07" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>7.Tiền chi khác cho hoạt động kinh doanh</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct20" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>Lưu chuyển tiền thuần từ hoạt động kinh doanh</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct21" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>1. Tiền chi để mua sắm, xây dựng TSCĐ, BĐSĐT và các tài sản dài hạn khác</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct22" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>2. Tiền thu từ thanh lý, nhượng bán TSCĐ, BĐSĐT và các tài sản dài hạn khác</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct23" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>3. Tiền chi cho vay, đầu tư góp vốn vào đơn vị khác</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct24" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>4. Tiền thu hồi cho vay, đầu tư góp vốn vào đơn vị khác</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct25" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>5. Tiền thu lãi cho vay, cổ tức và lợi nhuận được chia</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct30" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>Lưu chuyển tiền thuần từ hoạt động đầu tư</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct31" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>   1.Tiền thu từ phát hành cổ phiếu, nhận vốn góp của chủ sở hữu</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct32" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>2. Tiền trả lại vốn góp cho các chủ sở hữu, mua lại cổ phiếu của doanh nghiệp đã phát hành</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct33" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>3. Tiền thu từ đi vay</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct34" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>4. Tiền trả nợ gốc vay và nợ thuê tài chính</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct35" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>5. Cổ tức, lợi nhuận đã trả cho chủ sở hữu</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct40" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>Lưu chuyển tiền thuần từ hoạt động tài chính</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct50" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>Lưu chuyển tiền thuần trong kỳ (50 = 20+30+40)</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct60" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>Tiền và tương đương tiền đầu kỳ</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct61" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>Ảnh hưởng của thay đổi tỷ giá hối đoái quy đổi ngoại tệ</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct70" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>Tiền và tương đương tiền cuối kỳ (70 = 50+60+61)</xs:documentation>
													</xs:annotation>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="PL_LCTTGT" minOccurs="0">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="ThuyetMinh">
										<xs:annotation>
											<xs:documentation>Thuyết minh</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>
												<xs:element name="ct01" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>1. Lợi nhuận trước thuế</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct02" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>Điều chỉnh cho các khoản</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct03" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>Khấu hao TSCĐ và BĐSĐT</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct04" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>Các khoản dự phòng</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct05" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>- Lãi, lỗ chênh lệch tỷ giá hối đoái do đánh giá lại các khoản mục tiền tệ có gốc ngoại tệ</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct06" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>Lãi, lỗ từ hoạt động đầu tư</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct07" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>Chi phí lãi vay </xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct08" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>Các khoản điều chỉnh khác</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct09" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>3. Lợi nhuận từ hoạt động kinh doanh trước thay đổi vốn lưu động</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct10" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>Tăng, giảm các khoản phải thu</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct11" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>Tăng, giảm hàng tồn kho</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct12" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>- Tăng, giảm các khoản phải trả (Không kể lãi vay phải trả, thuế thu nhập doanh nghiệp phải nộp) </xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct13" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>Tăng, giảm chi phí trả trước</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct14" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>Tăng, giảm chứng khoán kinh doanh</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct15" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>Tiền lãi vay đã trả</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct16" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>Thuế thu nhập doanh nghiệp đã nộp</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct17" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>Tiền thu khác từ hoạt động kinh doanh</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct18" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>Tiền chi khác cho hoạt động kinh doanh</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct20" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>Lưu chuyển tiền thuần từ hoạt động kinh doanh</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct21" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>1. Tiền chi để mua sắm, xây dựng TSCĐ, BĐSĐT và các tài sản dài hạn khác</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct22" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>2. Tiền thu từ thanh lý, nhượng bán TSCĐ, BĐSĐT và các tài sản dài hạn khác</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct23" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>3. Tiền chi cho vay, đầu tư góp vốn vào đơn vị khác</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct24" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>4. Tiền thu hồi cho vay, đầu tư góp vốn vào đơn vị khác</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct25" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>5.Tiền thu lãi cho vay, cổ tức và lợi nhuận được chia</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct30" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>Lưu chuyển tiền thuần từ hoạt động đầu tư</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct31" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>1.Tiền thu từ phát hành cổ phiếu, nhận vốn góp của chủ sở hữu</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct32" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>2.Tiền trả lại vốn góp cho các chủ sở hữu, mua lại cổ phiếu của doanh nghiệp đã phát hành</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct33" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>3.Tiền thu từ đi vay</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct34" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>4. Tiền trả nợ gốc vay và nợ gốc thuê tài chính</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct35" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>6. Cổ tức, lợi nhuận đã trả cho chủ sở hữu</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct40" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>Lưu chuyển tiền thuần từ hoạt động tài chính</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct50" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>Lưu chuyển tiền thuần trong kỳ (50 = 20+30+40)</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct60" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>Tiền và tương đương tiền đầu kỳ</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct61" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>Ảnh hưởng của thay đổi tỷ giá hối đoái quy đổi ngoại tệ</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct70" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>Tiền và tương đương tiền cuối kỳ (70 = 50+60+61)</xs:documentation>
													</xs:annotation>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name="NamNay">
										<xs:annotation>
											<xs:documentation>Năm Nay</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>
												<xs:element name="ct01" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>1. Lợi nhuận trước thuế</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct02" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>Điều chỉnh cho các khoản</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct03" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>Khấu hao TSCĐ và BĐSĐT</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct04" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>Các khoản dự phòng</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct05" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>- Lãi, lỗ chênh lệch tỷ giá hối đoái do đánh giá lại các khoản mục tiền tệ có gốc ngoại tệ</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct06" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>Lãi, lỗ từ hoạt động đầu tư</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct07" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>Chi phí lãi vay </xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct08" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>Các khoản điều chỉnh khác</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct09" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>3. Lợi nhuận từ hoạt động kinh doanh trước thay đổi vốn lưu động</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct10" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>Tăng, giảm các khoản phải thu</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct11" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>Tăng, giảm hàng tồn kho</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct12" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>- Tăng, giảm các khoản phải trả (Không kể lãi vay phải trả, thuế thu nhập doanh nghiệp phải nộp) </xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct13" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>Tăng, giảm chi phí trả trước</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct14" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>Tăng, giảm chứng khoán kinh doanh</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct15" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>Tiền lãi vay đã trả</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct16" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>Thuế thu nhập doanh nghiệp đã nộp</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct17" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>Tiền thu khác từ hoạt động kinh doanh</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct18" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>Tiền chi khác cho hoạt động kinh doanh</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct20" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>Lưu chuyển tiền thuần từ hoạt động kinh doanh</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct21" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>1. Tiền chi để mua sắm, xây dựng TSCĐ, BĐSĐT và các tài sản dài hạn khác</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct22" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>2. Tiền thu từ thanh lý, nhượng bán TSCĐ, BĐSĐT và các tài sản dài hạn khác</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct23" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>3. Tiền chi cho vay, đầu tư góp vốn vào đơn vị khác</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct24" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>4. Tiền thu hồi cho vay, đầu tư góp vốn vào đơn vị khác</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct25" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>5.Tiền thu lãi cho vay, cổ tức và lợi nhuận được chia</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct30" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>Lưu chuyển tiền thuần từ hoạt động đầu tư</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct31" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>1.Tiền thu từ phát hành cổ phiếu, nhận vốn góp của chủ sở hữu</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct32" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>2.Tiền trả lại vốn góp cho các chủ sở hữu, mua lại cổ phiếu của doanh nghiệp đã phát hành</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct33" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>3.Tiền thu từ đi vay</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct34" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>4. Tiền trả nợ gốc vay và nợ gốc thuê tài chính</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct35" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>6. Cổ tức, lợi nhuận đã trả cho chủ sở hữu</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct40" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>Lưu chuyển tiền thuần từ hoạt động tài chính</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct50" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>Lưu chuyển tiền thuần trong kỳ (50 = 20+30+40)</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct60" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>Tiền và tương đương tiền đầu kỳ</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct61" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>Ảnh hưởng của thay đổi tỷ giá hối đoái quy đổi ngoại tệ</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct70" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>Tiền và tương đương tiền cuối kỳ (70 = 50+60+61)</xs:documentation>
													</xs:annotation>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name="NamTruoc">
										<xs:annotation>
											<xs:documentation>Năm Trước</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>
												<xs:element name="ct01" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>1. Lợi nhuận trước thuế</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct02" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>Điều chỉnh cho các khoản</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct03" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>Khấu hao TSCĐ và BĐSĐT</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct04" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>Các khoản dự phòng</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct05" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>- Lãi, lỗ chênh lệch tỷ giá hối đoái do đánh giá lại các khoản mục tiền tệ có gốc ngoại tệ</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct06" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>Lãi, lỗ từ hoạt động đầu tư</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct07" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>Chi phí lãi vay </xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct08" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>Các khoản điều chỉnh khác</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct09" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>3. Lợi nhuận từ hoạt động kinh doanh trước thay đổi vốn lưu động</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct10" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>Tăng, giảm các khoản phải thu</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct11" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>Tăng, giảm hàng tồn kho</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct12" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>- Tăng, giảm các khoản phải trả (Không kể lãi vay phải trả, thuế thu nhập doanh nghiệp phải nộp) </xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct13" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>Tăng, giảm chi phí trả trước</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct14" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>Tăng, giảm chứng khoán kinh doanh</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct15" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>Tiền lãi vay đã trả</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct16" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>Thuế thu nhập doanh nghiệp đã nộp</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct17" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>Tiền thu khác từ hoạt động kinh doanh</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct18" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>Tiền chi khác cho hoạt động kinh doanh</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct20" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>Lưu chuyển tiền thuần từ hoạt động kinh doanh</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct21" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>1. Tiền chi để mua sắm, xây dựng TSCĐ, BĐSĐT và các tài sản dài hạn khác</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct22" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>2. Tiền thu từ thanh lý, nhượng bán TSCĐ, BĐSĐT và các tài sản dài hạn khác</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct23" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>3. Tiền chi cho vay, đầu tư góp vốn vào đơn vị khác</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct24" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>4. Tiền thu hồi cho vay, đầu tư góp vốn vào đơn vị khác</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct25" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>5.Tiền thu lãi cho vay, cổ tức và lợi nhuận được chia</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct30" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>Lưu chuyển tiền thuần từ hoạt động đầu tư</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct31" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>1.Tiền thu từ phát hành cổ phiếu, nhận vốn góp của chủ sở hữu</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct32" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>2.Tiền trả lại vốn góp cho các chủ sở hữu, mua lại cổ phiếu của doanh nghiệp đã phát hành</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct33" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>3.Tiền thu từ đi vay</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct34" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>4. Tiền trả nợ gốc vay và nợ gốc thuê tài chính</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct35" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>6. Cổ tức, lợi nhuận đã trả cho chủ sở hữu</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct40" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>Lưu chuyển tiền thuần từ hoạt động tài chính</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct50" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>Lưu chuyển tiền thuần trong kỳ (50 = 20+30+40)</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct60" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>Tiền và tương đương tiền đầu kỳ</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct61" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>Ảnh hưởng của thay đổi tỷ giá hối đoái quy đổi ngoại tệ</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct70" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>Tiền và tương đương tiền cuối kỳ (70 = 50+60+61)</xs:documentation>
													</xs:annotation>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:redefine>
</xs:schema>
