HTKK/InterfaceTemplates/Validate/200_01_CDKT_TL_HN_226.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2010 rel. 3 (http://www.altova.com) by MESMERiZE (MSM) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://kekhaithue.gdt.gov.vn/TKhaiThue" targetNamespace="http://kekhaithue.gdt.gov.vn/TKhaiThue" elementFormDefault="qualified" attributeFormDefault="unqualified" version="2.0.0">
	<xs:redefine schemaLocation="../TKhaiThue.xsd">
		<xs:complexType name="CTieuTKhaiChinhType">
			<xs:complexContent>
				<xs:extension base="CTieuTKhaiChinhType">
					<xs:sequence>
						<xs:element name="ThuyetMinh">
							<xs:annotation>
								<xs:documentation>Thuyết minh</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="ct100" type="xs:string" nillable="true">
										<xs:annotation>
											<xs:documentation>A- Tài sản ngắn hạn (100=110+120+130+140+150)</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct110" type="xs:string" nillable="true">
										<xs:annotation>
											<xs:documentation>I. Tiền và các khoản tương đương tiền </xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct120" type="xs:string" nillable="true">
										<xs:annotation>
											<xs:documentation>II. Các khoản đầu tư chính ngắn hạn </xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct130" type="xs:string" nillable="true">
										<xs:annotation>
											<xs:documentation>III. Các khoản phải thu ngắn hạn </xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct140" type="xs:string" nillable="true">
										<xs:annotation>
											<xs:documentation>IV. Hàng tồn kho </xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct150" type="xs:string" nillable="true">
										<xs:annotation>
											<xs:documentation>V. Tài sản ngắn hạn khác </xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct200" type="xs:string" nillable="true">
										<xs:annotation>
											<xs:documentation>B - TÀI SẢN DÀI HẠN (200 = 210 + 220 + 240 + 250 + 260)</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct210" type="xs:string" nillable="true">
										<xs:annotation>
											<xs:documentation>I- Các khoản phải thu dài hạn </xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct220" type="xs:string" nillable="true">
										<xs:annotation>
											<xs:documentation>II. Tài sản cố định </xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct240" type="xs:string" nillable="true">
										<xs:annotation>
											<xs:documentation>III. Bất động sản đầu tư </xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct250" type="xs:string" nillable="true">
										<xs:annotation>
											<xs:documentation>V. Đầu tư tài chính dài hạn (250 = 251 + …+ 255)</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct260" type="xs:string" nillable="true">
										<xs:annotation>
											<xs:documentation>V. Tài sản dài hạn khác (260 = 261 + 262 + 263 + 268)</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct270" type="xs:string" nillable="true">
										<xs:annotation>
											<xs:documentation>TỔNG CỘNG TÀI SẢN (270 = 100 + 200)</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct300" type="xs:string" nillable="true">
										<xs:annotation>
											<xs:documentation>NGUỒN VỐN-  A NỢ PHẢI TRẢ (300= 310 + 330)</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct310" type="xs:string" nillable="true">
										<xs:annotation>
											<xs:documentation>I. Nợ ngắn hạn (310 = 311 + 312 +…+ 323 + 324)</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct330" type="xs:string" nillable="true">
										<xs:annotation>
											<xs:documentation>II. Nợ dài hạn (330 = 331 + 332 +…+ 342 + 343)</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct400" type="xs:string" nillable="true">
										<xs:annotation>
											<xs:documentation>NGUỒN VỐN - B VỐN CHỦ SỞ HỮU (400 = 410 + 430)</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct410" type="xs:string" nillable="true">
										<xs:annotation>
											<xs:documentation>I. Vốn chủ sở hữu (410 = 411 + 412 +…+ 421 + 422)</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct430" type="xs:string" nillable="true">
										<xs:annotation>
											<xs:documentation>II. Nguồn kinh phí và quỹ khác (430 = 431 + 432)</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct440" type="xs:string" nillable="true">
										<xs:annotation>
											<xs:documentation>TỔNG CỘNG NGUỒN VỐN (440 = 300 + 400)</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="SoCuoiQuy" type="CanDoiKToan01Type">
							<xs:annotation>
								<xs:documentation>Số năm nay</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="SoDauNam" type="CanDoiKToan01Type">
							<xs:annotation>
								<xs:documentation>Số năm nay</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="nguoiLapBieu" type="xs:string" nillable="true">
							<xs:annotation>
								<xs:documentation>Người lập biểu </xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="keToanTruong" type="xs:string" nillable="true">
							<xs:annotation>
								<xs:documentation>Kế toán trưởng </xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="ngayLap" type="xs:date" nillable="true">
							<xs:annotation>
								<xs:documentation>Lập ngày </xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="giamDoc" type="xs:string" nillable="true">
							<xs:annotation>
								<xs:documentation>Giám đốc </xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="soChungChiHanhNghe" type="xs:string" nillable="true">
							<xs:annotation>
								<xs:documentation>Số chứng chỉ hành nghề</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="donViCCapDVuKToan" type="xs:string" nillable="true">
							<xs:annotation>
								<xs:documentation>Đơn vị cung cấp dịch vụ kế toán</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
		<xs:complexType name="PLucType">
			<xs:complexContent>
				<xs:extension base="PLucType">
					<xs:sequence>
						<xs:element name="PL_KQHDSXKD" minOccurs="0">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="ThuyetMinh">
										<xs:annotation>
											<xs:documentation>Thuyết minh</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>
												<xs:element name="ct01" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>1. Doanh thu bán hàng và cung cấp dịch vụ</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct31" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>2. Thu nhập khác</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct50" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>3. Tổng lợi nhuận kế toán trước thuế (50 = 30 + 40)</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct60" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>4. Lợi nhuận sau thuế thu nhập doanh nghiệp (60 = 50 - 51 - 52)</xs:documentation>
													</xs:annotation>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name="QuyNamNay">
										<xs:annotation>
											<xs:documentation>Năm nay</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>
												<xs:element name="ct01" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>1. Doanh thu bán hàng và cung cấp dịch vụ</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct31" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>2. Thu nhập khác</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct50" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>3. Tổng lợi nhuận kế toán trước thuế (50 = 30 + 40)</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct60" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>4. Lợi nhuận sau thuế thu nhập doanh nghiệp (60 = 50 - 51 - 52)</xs:documentation>
													</xs:annotation>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name="QuyNamTruoc">
										<xs:annotation>
											<xs:documentation>Năm nay</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>
												<xs:element name="ct01" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>1. Doanh thu bán hàng và cung cấp dịch vụ</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct31" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>2. Thu nhập khác</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct50" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>3. Tổng lợi nhuận kế toán trước thuế (50 = 30 + 40)</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct60" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>4. Lợi nhuận sau thuế thu nhập doanh nghiệp (60 = 50 - 51 - 52)</xs:documentation>
													</xs:annotation>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name="LuyKeNamNay">
										<xs:annotation>
											<xs:documentation>Năm nay</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>
												<xs:element name="ct01" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>1. Doanh thu bán hàng và cung cấp dịch vụ</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct31" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>2. Thu nhập khác</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct50" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>3. Tổng lợi nhuận kế toán trước thuế (50 = 30 + 40)</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct60" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>4. Lợi nhuận sau thuế thu nhập doanh nghiệp (60 = 50 - 51 - 52)</xs:documentation>
													</xs:annotation>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name="LuyKeNamTruoc">
										<xs:annotation>
											<xs:documentation>Năm nay</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>
												<xs:element name="ct01" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>1. Doanh thu bán hàng và cung cấp dịch vụ</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct31" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>2. Thu nhập khác</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct50" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>3. Tổng lợi nhuận kế toán trước thuế (50 = 30 + 40)</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct60" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>4. Lợi nhuận sau thuế thu nhập doanh nghiệp (60 = 50 - 51 - 52)</xs:documentation>
													</xs:annotation>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name="PhanKy">
										<xs:complexType>
											<xs:sequence>
												<xs:element name="nguoiLapBieu" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>Người lập biểu </xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="keToanTruong" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>Kế toán trưởng </xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ngayLap" type="xs:date" nillable="true">
													<xs:annotation>
														<xs:documentation>Lập ngày </xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="giamDoc" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>Giám đốc </xs:documentation>
													</xs:annotation>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="PL_LCTT" minOccurs="0">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="ThuyetMinh">
										<xs:annotation>
											<xs:documentation>Thuyết minh</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>
												<xs:element name="ct20" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>1.Lưu chuyển tiền thuần từ hoạt động kinh doanh</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct30" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>2.Lưu chuyển tiền thuần từ hoạt động đầu tư</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct40" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>3.Lưu chuyển tiền thuần từ hoạt động tài chính</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct50" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>4.Lưu chuyển tiền thuần trong kỳ (50 = 20+30+40)</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct60" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>5.Tiền và tương đương tiền đầu kỳ</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct61" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>6.Ảnh hưởng của thay đổi tỷ giá hối đoái quy đổi ngoại</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct62" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>7.Ảnh hưởng của việc tái phân loại các khoản tương đương tiền cuối kỳ</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct70" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>8.Tiền và tương đương tiền cuối kỳ (70 = 50+60+61)</xs:documentation>
													</xs:annotation>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name="QuyNamNay">
										<xs:annotation>
											<xs:documentation>Năm nay</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>
												<xs:element name="ct20" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>1.Lưu chuyển tiền thuần từ hoạt động kinh doanh</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct30" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>2.Lưu chuyển tiền thuần từ hoạt động đầu tư</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct40" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>3.Lưu chuyển tiền thuần từ hoạt động tài chính</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct50" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>4.Lưu chuyển tiền thuần trong kỳ (50 = 20+30+40)</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct60" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>5.Tiền và tương đương tiền đầu kỳ</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct61" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>6.Ảnh hưởng của thay đổi tỷ giá hối đoái quy đổi ngoại</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct62" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>7.Ảnh hưởng của việc tái phân loại các khoản tương đương tiền cuối kỳ</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct70" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>8.Tiền và tương đương tiền cuối kỳ (70 = 50+60+61)</xs:documentation>
													</xs:annotation>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name="QuyNamTruoc">
										<xs:annotation>
											<xs:documentation>Năm nay</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>
												<xs:element name="ct20" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>1.Lưu chuyển tiền thuần từ hoạt động kinh doanh</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct30" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>2.Lưu chuyển tiền thuần từ hoạt động đầu tư</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct40" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>3.Lưu chuyển tiền thuần từ hoạt động tài chính</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct50" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>4.Lưu chuyển tiền thuần trong kỳ (50 = 20+30+40)</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct60" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>5.Tiền và tương đương tiền đầu kỳ</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct61" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>6.Ảnh hưởng của thay đổi tỷ giá hối đoái quy đổi ngoại</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct62" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>7.Ảnh hưởng của việc tái phân loại các khoản tương đương tiền cuối kỳ</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct70" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>8.Tiền và tương đương tiền cuối kỳ (70 = 50+60+61)</xs:documentation>
													</xs:annotation>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name="LuyKeNamNay">
										<xs:annotation>
											<xs:documentation>Năm nay</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>
												<xs:element name="ct20" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>1.Lưu chuyển tiền thuần từ hoạt động kinh doanh</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct30" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>2.Lưu chuyển tiền thuần từ hoạt động đầu tư</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct40" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>3.Lưu chuyển tiền thuần từ hoạt động tài chính</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct50" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>4.Lưu chuyển tiền thuần trong kỳ (50 = 20+30+40)</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct60" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>5.Tiền và tương đương tiền đầu kỳ</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct61" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>6.Ảnh hưởng của thay đổi tỷ giá hối đoái quy đổi ngoại</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct62" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>7.Ảnh hưởng của việc tái phân loại các khoản tương đương tiền cuối kỳ</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct70" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>8.Tiền và tương đương tiền cuối kỳ (70 = 50+60+61)</xs:documentation>
													</xs:annotation>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name="LuyKeNamTruoc">
										<xs:annotation>
											<xs:documentation>Năm nay</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>
												<xs:element name="ct20" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>1.Lưu chuyển tiền thuần từ hoạt động kinh doanh</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct30" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>2.Lưu chuyển tiền thuần từ hoạt động đầu tư</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct40" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>3.Lưu chuyển tiền thuần từ hoạt động tài chính</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct50" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>4.Lưu chuyển tiền thuần trong kỳ (50 = 20+30+40)</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct60" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>5.Tiền và tương đương tiền đầu kỳ</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct61" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>6.Ảnh hưởng của thay đổi tỷ giá hối đoái quy đổi ngoại</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct62" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>7.Ảnh hưởng của việc tái phân loại các khoản tương đương tiền cuối kỳ</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct70" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>8.Tiền và tương đương tiền cuối kỳ (70 = 50+60+61)</xs:documentation>
													</xs:annotation>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:redefine>
	<xs:complexType name="CanDoiKToan01Type">
		<xs:sequence>
			<xs:element name="ct100" type="xs:long" nillable="true">
				<xs:annotation>
					<xs:documentation>A- Tài sản ngắn hạn (100=110+120+130+140+150)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ct110" type="xs:long" nillable="true">
				<xs:annotation>
					<xs:documentation>I. Tiền và các khoản tương đương tiền </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ct120" type="xs:long" nillable="true">
				<xs:annotation>
					<xs:documentation>II. Các khoản đầu tư chính ngắn hạn </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ct130" type="xs:long" nillable="true">
				<xs:annotation>
					<xs:documentation>III. Các khoản phải thu ngắn hạn </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ct140" type="xs:long" nillable="true">
				<xs:annotation>
					<xs:documentation>IV. Hàng tồn kho </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ct150" type="xs:long" nillable="true">
				<xs:annotation>
					<xs:documentation>V. Tài sản ngắn hạn khác </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ct200" type="xs:long" nillable="true">
				<xs:annotation>
					<xs:documentation>B - TÀI SẢN DÀI HẠN (200 = 210 + 220 + 240 + 250 + 260)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ct210" type="xs:long" nillable="true">
				<xs:annotation>
					<xs:documentation>I- Các khoản phải thu dài hạn </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ct220" type="xs:long" nillable="true">
				<xs:annotation>
					<xs:documentation>II. Tài sản cố định </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ct240" type="xs:long" nillable="true">
				<xs:annotation>
					<xs:documentation>III. Bất động sản đầu tư </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ct250" type="xs:long" nillable="true">
				<xs:annotation>
					<xs:documentation>V. Đầu tư tài chính dài hạn (250 = 251 + …+ 255)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ct260" type="xs:long" nillable="true">
				<xs:annotation>
					<xs:documentation>V. Tài sản dài hạn khác (260 = 261 + 262 + 263 + 268)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ct270" type="xs:long" nillable="true">
				<xs:annotation>
					<xs:documentation>TỔNG CỘNG TÀI SẢN (270 = 100 + 200)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ct300" type="xs:long" nillable="true">
				<xs:annotation>
					<xs:documentation>NGUỒN VỐN-  A NỢ PHẢI TRẢ (300= 310 + 330)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ct310" type="xs:long" nillable="true">
				<xs:annotation>
					<xs:documentation>I. Nợ ngắn hạn (310 = 311 + 312 +…+ 323 + 324)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ct330" type="xs:long" nillable="true">
				<xs:annotation>
					<xs:documentation>II. Nợ dài hạn (330 = 331 + 332 +…+ 342 + 343)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ct400" type="xs:long" nillable="true">
				<xs:annotation>
					<xs:documentation>NGUỒN VỐN - B VỐN CHỦ SỞ HỮU (400 = 410 + 430)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ct410" type="xs:long" nillable="true">
				<xs:annotation>
					<xs:documentation>I. Vốn chủ sở hữu (410 = 411 + 412 +…+ 421 + 422)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ct430" type="xs:long" nillable="true">
				<xs:annotation>
					<xs:documentation>II. Nguồn kinh phí và quỹ khác (430 = 431 + 432)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ct440" type="xs:long" nillable="true">
				<xs:annotation>
					<xs:documentation>TỔNG CỘNG NGUỒN VỐN (440 = 300 + 400)</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CanDoiKToan02Type">
		<xs:sequence>
			<xs:element name="ct100" type="xs:long" nillable="true">
				<xs:annotation>
					<xs:documentation>A. TÀI SẢN</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ct110" type="xs:long" nillable="true">
				<xs:annotation>
					<xs:documentation>I. Tiền và các khoản tương đương tiền</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ct111" type="xs:long" nillable="true">
				<xs:annotation>
					<xs:documentation>1. Tiền </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ct112" type="xs:long" nillable="true">
				<xs:annotation>
					<xs:documentation> 2. Các khoản tương đương tiền</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ct120" type="xs:long" nillable="true">
				<xs:annotation>
					<xs:documentation>II. Đầu tư tài chính </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ct121" type="xs:long" nillable="true">
				<xs:annotation>
					<xs:documentation>1. Chứng khoán kinh doanh</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ct122" type="xs:long" nillable="true">
				<xs:annotation>
					<xs:documentation>2. Đầu tư nắm giữ đến ngày đáo hạn</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ct123" type="xs:long" nillable="true">
				<xs:annotation>
					<xs:documentation>3. Đầu tư vào công ty con </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ct124" type="xs:long" nillable="true">
				<xs:annotation>
					<xs:documentation>4. Đầu tư vào công ty liên doanh, liên kết</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ct125" type="xs:long" nillable="true">
				<xs:annotation>
					<xs:documentation>5. Đầu tư góp vốn vào đơn vị khác</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ct130" type="xs:long" nillable="true">
				<xs:annotation>
					<xs:documentation>III. Các khoản phải thu</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ct131" type="xs:long" nillable="true">
				<xs:annotation>
					<xs:documentation>1. Phải thu của khách hàng </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ct132" type="xs:long" nillable="true">
				<xs:annotation>
					<xs:documentation>2. Trả trước cho người bán </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ct133" type="xs:long" nillable="true">
				<xs:annotation>
					<xs:documentation>3. Vốn kinh doanh ở đơn vị trực thuộc</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ct134" type="xs:long" nillable="true">
				<xs:annotation>
					<xs:documentation>4. Phải thu nội bộ </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ct135" type="xs:long" nillable="true">
				<xs:annotation>
					<xs:documentation>5. Phải thu về cho vay</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ct136" type="xs:long" nillable="true">
				<xs:annotation>
					<xs:documentation>6. Phải thu theo tiến độ kế hoạch hợp đồng xây dựng</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ct137" type="xs:long" nillable="true">
				<xs:annotation>
					<xs:documentation>7. Phải thu khác</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ct138" type="xs:long" nillable="true">
				<xs:annotation>
					<xs:documentation>8. Tài sản thiếu chờ xử lý</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ct140" type="xs:long" nillable="true">
				<xs:annotation>
					<xs:documentation>IV. Hàng tồn kho</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ct150" type="xs:long" nillable="true">
				<xs:annotation>
					<xs:documentation>V. Tài sản cố định</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ct151" type="xs:long" nillable="true">
				<xs:annotation>
					<xs:documentation>1. Tài sản cố định hữu hình</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ct152" type="xs:long" nillable="true">
				<xs:annotation>
					<xs:documentation>2. Tài sản cố định thuê tài chính</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ct153" type="xs:long" nillable="true">
				<xs:annotation>
					<xs:documentation>3. Tài sản cố định vô hình</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ct160" type="xs:long" nillable="true">
				<xs:annotation>
					<xs:documentation>VI. Bất động sản đầu tư</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ct170" type="xs:long" nillable="true">
				<xs:annotation>
					<xs:documentation>VII. Chi phí xây dựng cơ bản dở dang</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ct180" type="xs:long" nillable="true">
				<xs:annotation>
					<xs:documentation>VIII. Tài sản khác</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ct181" type="xs:long" nillable="true">
				<xs:annotation>
					<xs:documentation>1. Chi phí trả trước </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ct182" type="xs:long" nillable="true">
				<xs:annotation>
					<xs:documentation>2. Thuế GTGT được khấu trừ</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ct183" type="xs:long" nillable="true">
				<xs:annotation>
					<xs:documentation>3. Thuế và các khoản khác phải thu Nhà nước</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ct184" type="xs:long" nillable="true">
				<xs:annotation>
					<xs:documentation>4. Giao dịch mua bán lại trái phiếu Chính phủ</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ct185" type="xs:long" nillable="true">
				<xs:annotation>
					<xs:documentation>5. Tài sản thuế thu nhập hoãn lại</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ct186" type="xs:long" nillable="true">
				<xs:annotation>
					<xs:documentation>6. Tài sản khác</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ct300" type="xs:long" nillable="true">
				<xs:annotation>
					<xs:documentation>B. NỢ PHẢI TRẢ</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ct311" type="xs:long" nillable="true">
				<xs:annotation>
					<xs:documentation>1. Phải trả người bán </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ct312" type="xs:long" nillable="true">
				<xs:annotation>
					<xs:documentation>2. Người mua trả tiền trước </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ct313" type="xs:long" nillable="true">
				<xs:annotation>
					<xs:documentation>3. Thuế và các khoản phải nộp Nhà nước</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ct314" type="xs:long" nillable="true">
				<xs:annotation>
					<xs:documentation>4. Phải trả người lao động</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ct315" type="xs:long" nillable="true">
				<xs:annotation>
					<xs:documentation> 5. Chi phí phải trả </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ct334" type="xs:long" nillable="true">
				<xs:annotation>
					<xs:documentation>6. Phải trả nội bộ về vốn kinh doanh</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ct316" type="xs:long" nillable="true">
				<xs:annotation>
					<xs:documentation>7. Phải trả nội bộ khác</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ct317" type="xs:long" nillable="true">
				<xs:annotation>
					<xs:documentation>8. Phải trả theo tiến độ kế hoạch hợp đồng xây dựng</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ct318" type="xs:long" nillable="true">
				<xs:annotation>
					<xs:documentation>9. Doanh thu chưa thực hiện </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ct319" type="xs:long" nillable="true">
				<xs:annotation>
					<xs:documentation>10. Phải trả khác</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ct320" type="xs:long" nillable="true">
				<xs:annotation>
					<xs:documentation>11. Vay và nợ thuê tài chính </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ct339" type="xs:long" nillable="true">
				<xs:annotation>
					<xs:documentation>12. Trái phiếu chuyển đổi</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ct340" type="xs:long" nillable="true">
				<xs:annotation>
					<xs:documentation>13. Cổ phiếu ưu đãi</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ct341" type="xs:long" nillable="true">
				<xs:annotation>
					<xs:documentation>14. Thuế thu nhập hoãn lại phải trả </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ct321" type="xs:long" nillable="true">
				<xs:annotation>
					<xs:documentation>15. Dự phòng phải trả </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ct322" type="xs:long" nillable="true">
				<xs:annotation>
					<xs:documentation>16. Quỹ khen thưởng, phúc lợi </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ct343" type="xs:long" nillable="true">
				<xs:annotation>
					<xs:documentation>17. Quỹ phát triển khoa học và công nghệ</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ct323" type="xs:long" nillable="true">
				<xs:annotation>
					<xs:documentation>18. Quỹ bình ổn giá</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ct324" type="xs:long" nillable="true">
				<xs:annotation>
					<xs:documentation>19. Giao dịch mua bán lại trái phiếu Chính phủ</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ct400" type="xs:long" nillable="true">
				<xs:annotation>
					<xs:documentation>C - VỐN CHỦ SỞ HỮU</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ct410" type="xs:long" nillable="true">
				<xs:annotation>
					<xs:documentation>I. Vốn chủ sở hữu</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ct411" type="xs:long" nillable="true">
				<xs:annotation>
					<xs:documentation>1. Vốn góp của chủ sở hữu</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ct411a" type="xs:long" nillable="true">
				<xs:annotation>
					<xs:documentation>   - Cổ phiếu phổ thông có quyền biểu quyết</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ct411b" type="xs:long" nillable="true">
				<xs:annotation>
					<xs:documentation> - Cổ phiếu ưu đãi</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ct412" type="xs:long" nillable="true">
				<xs:annotation>
					<xs:documentation> 2. Thặng dư vốn cổ phần</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ct413" type="xs:long" nillable="true">
				<xs:annotation>
					<xs:documentation>3. Quyền chọn chuyển đổi trái phiếu</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ct414" type="xs:long" nillable="true">
				<xs:annotation>
					<xs:documentation>4. Vốn khác của chủ sở hữu </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ct415" type="xs:long" nillable="true">
				<xs:annotation>
					<xs:documentation>5. Cổ phiếu quỹ (*)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ct418" type="xs:long" nillable="true">
				<xs:annotation>
					<xs:documentation> 6. Quỹ đầu tư phát triển</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ct419" type="xs:long" nillable="true">
				<xs:annotation>
					<xs:documentation>7. Quỹ hỗ trợ sắp xếp doanh nghiệp</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ct420" type="xs:long" nillable="true">
				<xs:annotation>
					<xs:documentation>8. Quỹ khác thuộc vốn chủ sở hữu</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ct421" type="xs:long" nillable="true">
				<xs:annotation>
					<xs:documentation>9. Lợi nhuận sau thuế chưa phân phối</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ct421a" type="xs:long" nillable="true">
				<xs:annotation>
					<xs:documentation>LNST chưa phân phối lũy kế đến cuối kỳ trước</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ct421b" type="xs:long" nillable="true">
				<xs:annotation>
					<xs:documentation>LNST chưa phân phối kỳ này</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ct422" type="xs:long" nillable="true">
				<xs:annotation>
					<xs:documentation>10. Nguồn vốn đầu tư XDCB</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ct430" type="xs:long" nillable="true">
				<xs:annotation>
					<xs:documentation>II. Nguồn kinh phí và quỹ khác</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ct431" type="xs:long" nillable="true">
				<xs:annotation>
					<xs:documentation>  1. Nguồn kinh phí </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ct432" type="xs:long" nillable="true">
				<xs:annotation>
					<xs:documentation>  2. Nguồn kinh phí đã hình thành TSCĐ</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ct440" type="xs:long" nillable="true">
				<xs:annotation>
					<xs:documentation>Tổng cộng nguồn vốn (440 = 300 + 400)</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
