HTKK/InterfaceTemplates/Validate/BC26_AC_SL_201.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2008 rel. 2 sp2 (http://www.altova.com) by SHOCK (SHOCK) -->
<xs:schema xmlns="http://kekhaithue.gdt.gov.vn/TKhaiThue" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://kekhaithue.gdt.gov.vn/TKhaiThue" elementFormDefault="qualified" attributeFormDefault="unqualified" version="2.0.1">
	<xs:redefine schemaLocation="../TKhaiThue.xsd">
		<xs:complexType name="CTieuTKhaiChinhType">
			<xs:complexContent>
				<xs:extension base="CTieuTKhaiChinhType">
					<xs:sequence>
						<xs:element name="kyBCaoCuoi" type="xs:boolean" nillable="true">
							<xs:annotation>
								<xs:documentation>Kỳ báo cáo cuối cùng</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="chuyenDiaDiem" type="xs:boolean" nillable="true">
							<xs:annotation>
								<xs:documentation>Chuyển địa điểm</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="ngayDauKyBC" type="xs:date">
							<xs:annotation>
								<xs:documentation>Ngày đầu kỳ báo cáo</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="ngayCuoiKyBC" type="xs:date">
							<xs:annotation>
								<xs:documentation>Ngày cuối kỳ báo cáo</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="HoaDon">
							<xs:annotation>
								<xs:documentation>Hóa đơn</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="ChiTiet" type="ChiTietTkhaiChinhType" minOccurs="0" maxOccurs="unbounded"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="tongCongSoTonDKy" type="xs:nonNegativeInteger" nillable="true">
							<xs:annotation>
								<xs:documentation>Tổng cộng số tồn đầu kỳ</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="tongCongSoMuaPHanhTKy" type="xs:nonNegativeInteger" nillable="true">
							<xs:annotation>
								<xs:documentation>Tổng cộng số mua phát hành trong kỳ</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="tongCongSoSuDung" type="xs:nonNegativeInteger" nillable="true">
							<xs:annotation>
								<xs:documentation>Tổng cộng số sử dụng</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="tongCongSoXoaBo" type="xs:nonNegativeInteger" nillable="true">
							<xs:annotation>
								<xs:documentation>Tổng cộng số xóa bỏ</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="tongCongSoMat" type="xs:nonNegativeInteger" nillable="true">
							<xs:annotation>
								<xs:documentation>Tổng cộng số mất</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="tongCongSoHuy" type="xs:nonNegativeInteger" nillable="true">
							<xs:annotation>
								<xs:documentation>Tổng cộng số hủy</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="tongCong_Cong" type="xs:nonNegativeInteger" nillable="true">
							<xs:annotation>
								<xs:documentation>Tổng cộng số sử dụng trong kỳ</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="tongCongTonCuoiKy" type="xs:nonNegativeInteger" nillable="true">
							<xs:annotation>
								<xs:documentation>Tổng cộng tồn cuối kỳ</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="nguoiLapBieu" type="xs:string" nillable="true">
							<xs:annotation>
								<xs:documentation>Người lập biểu </xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="nguoiDaiDien" type="xs:string" nillable="true">
							<xs:annotation>
								<xs:documentation>Người đại diện theo pháp luật</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="ngayBCao" type="xs:date">
							<xs:annotation>
								<xs:documentation>Ngày báo cáo</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
		<xs:complexType name="PLucType">
			<xs:complexContent>
				<xs:extension base="PLucType">
					<xs:sequence>
						<xs:element name="PL_BK_01AC_01" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Bảng kê chi tiết hoá đơn tổ chức, cá nhân đến thời điểm quyết toán hoá đơn</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="HDonHetGTriSDung">
										<xs:annotation>
											<xs:documentation>I. HÓA ĐƠN HẾT GIÁ TRỊ SỬ DỤNG</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>
												<xs:element name="ChiTietHoaDon" type="ChiTietHoaDonType" maxOccurs="unbounded"/>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name="HDonDKiTiepSDung">
										<xs:annotation>
											<xs:documentation>II. HÓA ĐƠN ĐĂNG KÝ TIẾP SỬ DỤNG</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>
												<xs:element name="ChiTietHoaDon" type="ChiTietHoaDonType" maxOccurs="unbounded"/>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name="cqtChuyenDen" type="xs:string" nillable="true">
										<xs:annotation>
											<xs:documentation>Cơ quan thuế chuyển đến (trường hợp chuyển địa điểm): </xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="PL_BK_01AC_02" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Bảng kê hoá đơn chưa sử dụng của tổ chức, cá nhân chuyển địa điểm kinh doanh khác địa bàn cơ quan</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="ChiTietHoaDon" type="ChiTietHoaDonType" maxOccurs="unbounded"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:redefine>
	<xs:complexType name="ChiTietHoaDonType">
		<xs:sequence>
			<xs:element name="maHoaDon" nillable="true">
				<xs:annotation>
					<xs:documentation>mã loại hóa đơn</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="tenHoaDon" type="xs:string" nillable="true">
				<xs:annotation>
					<xs:documentation>Tên loại hóa đơn</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="kyHieuMau" type="xs:string" nillable="true">
				<xs:annotation>
					<xs:documentation>Ký hiệu mẫu</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="kyHieuHD" type="xs:string" nillable="true">
				<xs:annotation>
					<xs:documentation>Ký hiệu hóa đơn</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="soLuong" type="xs:nonNegativeInteger" nillable="true">
				<xs:annotation>
					<xs:documentation>Số lượng</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="tuSo" type="xs:nonNegativeInteger" nillable="true">
				<xs:annotation>
					<xs:documentation>Từ số</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="denSo" type="xs:nonNegativeInteger" nillable="true">
				<xs:annotation>
					<xs:documentation>Đến số</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="id" type="xs:string"/>
	</xs:complexType>
	<xs:complexType name="ChiTietTkhaiChinhType">
		<xs:sequence>
			<xs:element name="maHoaDon" type="xs:string" nillable="true">
				<xs:annotation>
					<xs:documentation>Mã hóa đơn</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="tenHDon" type="xs:string" nillable="true">
				<xs:annotation>
					<xs:documentation>Tên loại hóa đơn</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="kHieuMauHDon" type="xs:string" nillable="true">
				<xs:annotation>
					<xs:documentation>Ký hiệu mẫu hoá đơn</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="hinhThucHDon" type="xs:string">
				<xs:annotation>
					<xs:documentation>Hình thức hóa đơn</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="soLuongTonDauKy" type="xs:nonNegativeInteger" nillable="true">
				<xs:annotation>
					<xs:documentation>Số lượng tồn đầu ký</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="soLuongMuaPHanhTKy" type="xs:nonNegativeInteger" nillable="true">
				<xs:annotation>
					<xs:documentation>Số lượng mua, phát hành trong kỳ</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="soLuongSuDung" type="xs:nonNegativeInteger" nillable="true">
				<xs:annotation>
					<xs:documentation>Sử dụng trong kỳ: Sử dụng</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="soLuongXoaBo" type="xs:nonNegativeInteger" nillable="true">
				<xs:annotation>
					<xs:documentation>Sử dụng trong kỳ: Xóa bỏ</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="soLuongMat" type="xs:nonNegativeInteger" nillable="true">
				<xs:annotation>
					<xs:documentation>Sử dụng trong kỳ: Mất</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="soLuongHuy" type="xs:nonNegativeInteger" nillable="true">
				<xs:annotation>
					<xs:documentation>Sử dụng trong kỳ: Hủy</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="cong_SuDungTKy" type="xs:nonNegativeInteger" nillable="true">
				<xs:annotation>
					<xs:documentation>Sử dụng trong kỳ: Cộng</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="tonCuoiKy" type="xs:nonNegativeInteger" nillable="true">
				<xs:annotation>
					<xs:documentation>Tồn cuối kỳ</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ghiChu" type="xs:string" nillable="true">
				<xs:annotation>
					<xs:documentation>Ghi chú</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="id" type="xs:string"/>
	</xs:complexType>
</xs:schema>
