HTKK/InterfaceTemplates/Validate/KHBS_01_TNDN_DK_224.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2010 rel. 3 (http://www.altova.com) by MESMERiZE (MSM) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://kekhaithue.gdt.gov.vn/TKhaiThue" targetNamespace="http://kekhaithue.gdt.gov.vn/TKhaiThue" elementFormDefault="qualified" attributeFormDefault="unqualified" version="2.0.0">
	<xs:redefine schemaLocation="../TKhaiThue.xsd">
		<xs:complexType name="CTieuTKhaiChinhType">
			<xs:complexContent>
				<xs:extension base="CTieuTKhaiChinhType">
					<xs:sequence>
						<xs:sequence>
							<xs:element name="LoaiDauKhi">
								<xs:annotation>
									<xs:documentation>Loại dầu khí</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="ct01" type="xs:boolean" nillable="true">
											<xs:annotation>
												<xs:documentation>Dầu thô</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="ct02" type="xs:boolean" nillable="true">
											<xs:annotation>
												<xs:documentation>Condensate</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="ct03" type="xs:boolean" nillable="true">
											<xs:annotation>
												<xs:documentation>Khí thiên nhiên</xs:documentation>
											</xs:annotation>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="ct05" type="xs:string" nillable="true">
								<xs:annotation>
									<xs:documentation>Lần xuất bán thứ</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="ct08" type="xs:boolean" nillable="true">
								<xs:annotation>
									<xs:documentation>Xuất khẩu</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="ct09" type="xs:boolean" nillable="true">
								<xs:annotation>
									<xs:documentation>Xuất bán tại Việt Nam</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="ct10" type="xs:date" nillable="true">
								<xs:annotation>
									<xs:documentation>Ngày xuất hóa đơn đối với xuất bán tại Việt Nam</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="ct19" type="xs:string" nillable="true">
								<xs:annotation>
									<xs:documentation>Hợp đồng dầu khí lô</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="CT20">
								<xs:annotation>
									<xs:documentation>Loại hình ủy quyền</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="donViUyQuyen" type="xs:boolean" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Đơn vị được uỷ quyền</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="daiLyThue" type="xs:boolean" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Đại lý thuế </xs:documentation>
											</xs:annotation>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="tenDonViUyQuyen" type="xs:string" nillable="true">
								<xs:annotation>
									<xs:documentation>Tên đơn vị uỷ quyền</xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:sequence>
						<xs:element name="ct29" type="xs:decimal" nillable="true">
							<xs:annotation>
								<xs:documentation>Sản lượng dầu khí xuất bán</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="ct30" type="xs:decimal" nillable="true">
							<xs:annotation>
								<xs:documentation>Giá bán</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="ct31" type="xs:decimal" nillable="true">
							<xs:annotation>
								<xs:documentation>Doanh thu [31]=[29]x[30]</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="ct32" type="xs:decimal" nillable="true">
							<xs:annotation>
								<xs:documentation>Tỷ lệ thuế TNDN tạm tính</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="ct33" type="xs:decimal" nillable="true">
							<xs:annotation>
								<xs:documentation>Thu nhập khác liên quan trực tiếp đến hoạt động dầu khí</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="ct34" type="xs:decimal" nillable="true">
							<xs:annotation>
								<xs:documentation>Thuế suất thuế TNDN hoạt động dầu khí</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="ct35" type="xs:decimal" nillable="true">
							<xs:annotation>
								<xs:documentation>Số thuế TNDN tạm tính phải nộp [35]=[31]x[32]+[33]x[34]</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="ct36" type="xs:decimal" nillable="true">
							<xs:annotation>
								<xs:documentation>Số thuế TNDN được miễn hoặc giảm (nếu có)</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="ct37" type="xs:decimal" nillable="true">
							<xs:annotation>
								<xs:documentation>Số thuế TNDN tạm tính phải nộp sau khi miễn hoặc giảm (nếu có) [37]= [35]-[36]</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="ct38" type="xs:nonNegativeInteger" nillable="true">
							<xs:annotation>
								<xs:documentation>Tỷ giá quy đổi</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
		<xs:complexType name="PLucType">
			<xs:complexContent>
				<xs:extension base="PLucType">
					<xs:sequence>
						<xs:element name="PL01_KHBS" minOccurs="0">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="NDUNGKHAIBOSUNGDIEUCHINH">
										<xs:annotation>
											<xs:documentation>A. Nội dung bổ sung, điều chỉnh thông tin đã kê khai</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>
												<xs:element name="DieuChinhTang">
													<xs:annotation>
														<xs:documentation>I. Chỉ tiêu điều chỉnh tăng số thuế phải nộp</xs:documentation>
													</xs:annotation>
													<xs:complexType>
														<xs:sequence>
															<xs:element name="KHBSDieuChinhTang" maxOccurs="unbounded">
																<xs:complexType>
																	<xs:complexContent>
																		<xs:extension base="NoiDungKHBSGTGTType"/>
																	</xs:complexContent>
																</xs:complexType>
															</xs:element>
														</xs:sequence>
													</xs:complexType>
												</xs:element>
												<xs:element name="DieuChinhGiam">
													<xs:annotation>
														<xs:documentation>II. Chỉ tiêu điều chỉnh giảm số thuế phải nộp</xs:documentation>
													</xs:annotation>
													<xs:complexType>
														<xs:sequence>
															<xs:element name="KHBSDieuChinhGiam" maxOccurs="unbounded">
																<xs:complexType>
																	<xs:complexContent>
																		<xs:extension base="NoiDungKHBSGTGTType"/>
																	</xs:complexContent>
																</xs:complexType>
															</xs:element>
														</xs:sequence>
													</xs:complexType>
												</xs:element>
												<xs:element name="TongHopDCTangGiamPNop" type="NoiDungKHBSGTGTType">
													<xs:annotation>
														<xs:documentation>III. Tổng hợp điều chỉnh số thuế phải nộp (tăng: +, giảm: -)</xs:documentation>
													</xs:annotation>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name="PhatChamNop">
										<xs:annotation>
											<xs:documentation>B. Tính số tiền chậm nộp</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>
												<xs:element name="soNgayNopCham" type="xs:nonNegativeInteger" nillable="true">
													<xs:annotation>
														<xs:documentation>Số ngày nộp chậm</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="soTienPhatNopCham" type="xs:decimal" nillable="true">
													<xs:annotation>
														<xs:documentation>Số tiền phạt nộp chậm: </xs:documentation>
													</xs:annotation>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name="NOIDUNGGIAITHICH">
										<xs:annotation>
											<xs:documentation>C. Nội dung giải thích và tài liệu đính kèm </xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>
												<xs:element name="soTienTraNSNN" type="xs:decimal" nillable="true">
													<xs:annotation>
														<xs:documentation>Người nộp thuế tự phát hiện số tiền thuế đã được hoàn phải nộp trả NSNN là ... đồng </xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="quyetDinhHoanThueSo" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>Lệnh hoàn trả khoản thu NSNN hoặc Lệnh hoàn trả kiêm bù trừ khoản thu NSNN số </xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ngay" type="xs:date" nillable="true">
													<xs:annotation>
														<xs:documentation>ngày ..... </xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="coQuanThue" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>Mã cơ quan thuế</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="soNgayNhanDuocTienHoan" type="xs:nonNegativeInteger" nillable="true">
													<xs:annotation>
														<xs:documentation>Số ngày nhận được tiền hoàn thuế</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="soTienChamNop" type="xs:decimal" nillable="true">
													<xs:annotation>
														<xs:documentation>Số tiền chậm nộp (= số tiền đã được hoàn phải nộp trả NSNN x số ngày nhận được tiền hoàn thuế x mức tiền chậm nộp %)</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="lyDoKhac" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>Lý do khác</xs:documentation>
													</xs:annotation>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:redefine>
	<xs:complexType name="NoiDungKHBSGTGTType">
		<xs:sequence>
			<xs:element name="ct2" type="xs:string" nillable="true">
				<xs:annotation>
					<xs:documentation>Chỉ tiêu điều chỉnh</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ct3" type="xs:string" nillable="true">
				<xs:annotation>
					<xs:documentation>Mã số chỉ tiêu</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ct4" type="xs:decimal" nillable="true">
				<xs:annotation>
					<xs:documentation>Số đã kê khai</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ct5" type="xs:decimal" nillable="true">
				<xs:annotation>
					<xs:documentation>Số điều chỉnh</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ct6" type="xs:decimal" nillable="true">
				<xs:annotation>
					<xs:documentation>Chênh lệch giữa số điều chỉnh với số đã kê khai</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="id" type="xs:string"/>
	</xs:complexType>
</xs:schema>
