HTKK/InterfaceTemplates/Validate/KHBS_01_TKN_CNKD_249.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2010 rel. 3 (http://www.altova.com) by MESMERiZE (MSM) -->
<xs:schema xmlns="http://kekhaithue.gdt.gov.vn/TKhaiThue" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://kekhaithue.gdt.gov.vn/TKhaiThue" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:redefine schemaLocation="..\TKhaiThue.xsd">
		<xs:complexType name="CTieuTKhaiChinhType">
			<xs:complexContent>
				<xs:extension base="CTieuTKhaiChinhType">
					<xs:sequence>
						<xs:element name="Header">
							<xs:annotation>
								<xs:documentation>Thông tin chung</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="CNKDChuaDangKyThue">
										<xs:annotation>
											<xs:documentation>Trường hợp cá nhân kinh doanh chưa đăng ký thuế thì khai thêm các thông tin sau</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>
												<xs:element name="ct10a_ngaySinh" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>Ngày sinh</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct10b_maQuocTich" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>Mã quốc tịch</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct10b_tenQuocTich" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>Tên quốc tịch</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct10c_ma" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>Mã loại giấy tờ</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct10c_ten" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>Tên loại giấy tờ</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct10c_soCMND_CCCD" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>CMND/CCCD</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct10c_1_ngayCap" type="xs:date" nillable="true">
													<xs:annotation>
														<xs:documentation>Ngày cấp:.......................... </xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct10c_2_noiCap_loai" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>- Nếu là danh mục tỉnh/Thành phố thì truyền mã 01
- Nếu là danh mục quốc gia thì truyền mã 02
- Nếu nhập text truyền mã 03</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct10c_2_noiCap_ten" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>Truyền tên Tỉnh/Thành Phố hoặc tên quốc gia đối với loại giấy tờ là CMND hoặc Hộ chiếu, CCCD; Hoặc nơi cấp là dạng text</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct10c_2_noiCap_ma" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>Truyền mã Tỉnh/Thành Phố hoặc Mã quốc gia đối với loại giấy tờ là CMND hoặc Hộ chiếu; CMT biên giới</xs:documentation>
													</xs:annotation>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name="CNKDKhongCoCMND_CCCD">
										<xs:annotation>
											<xs:documentation>Trường hợp cá nhân kinh doanh thuộc đối tượng không có CMND/CCCD tại Việt Nam thì kê khai thông tin tại một trong các thông tin sau</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>
												<xs:element name="ct10d_ma" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>Mã loại giấy tờ</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct10d_ten" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>Tên loại giấy tờ</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct10d_soHoChieu" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>Số hộ chiếu</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct10d_1_ngayCap" type="xs:date" nillable="true">
													<xs:annotation>
														<xs:documentation>Ngày cấp:.......................... </xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct10d_2_noiCap_loai" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>- Nếu là danh mục tỉnh/Thành phố thì truyền mã 01
- Nếu là danh mục quốc gia thì truyền mã 02
- Nếu nhập text truyền mã 03</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct10d_2_noiCap_ten" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>Truyền tên Tỉnh/Thành Phố hoặc tên quốc gia đối với loại giấy tờ là CMND hoặc Hộ chiếu, CCCD; Hoặc nơi cấp là dạng text</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct10d_2_noiCap_ma" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>Truyền mã Tỉnh/Thành Phố hoặc Mã quốc gia đối với loại giấy tờ là CMND hoặc Hộ chiếu; CMT biên giới</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct10dd_ma" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>Mã loại giấy tờ</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct10dd_ten" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>Tên loại giấy tờ</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct10dd_soGiayThongHanh" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>Số giấy thông hành (đối với thương nhân nước ngoài)</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct10dd_1_ngayCap" type="xs:date" nillable="true">
													<xs:annotation>
														<xs:documentation>Ngày cấp:.......................... </xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct10dd_2_noiCap_loai" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>- Nếu là danh mục tỉnh/Thành phố thì truyền mã 01
- Nếu là danh mục quốc gia thì truyền mã 02
- Nếu nhập text truyền mã 03</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct10dd_2_noiCap_ten" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>Truyền tên Tỉnh/Thành Phố hoặc tên quốc gia đối với loại giấy tờ là CMND hoặc Hộ chiếu, CCCD; Hoặc nơi cấp là dạng text</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct10dd_2_noiCap_ma" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>Truyền mã Tỉnh/Thành Phố hoặc Mã quốc gia đối với loại giấy tờ là CMND hoặc Hộ chiếu; CMT biên giới</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct10e_ma" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>Mã loại giấy tờ</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct10e_ten" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>Tên loại giấy tờ</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct10e_soCMNDBienGioi" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>Số CMND biên giới (đối với thương nhân nước ngoài)</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct10e_1_ngayCap" type="xs:date" nillable="true">
													<xs:annotation>
														<xs:documentation>Ngày cấp:.......................... </xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct10e_2_noiCap_loai" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>- Nếu là danh mục tỉnh/Thành phố thì truyền mã 01
- Nếu là danh mục quốc gia thì truyền mã 02
- Nếu nhập text truyền mã 03</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct10e_2_noiCap_ten" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>Truyền tên Tỉnh/Thành Phố hoặc tên quốc gia đối với loại giấy tờ là CMND hoặc Hộ chiếu, CCCD; Hoặc nơi cấp là dạng text</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct10e_2_noiCap_ma" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>Truyền mã Tỉnh/Thành Phố hoặc Mã quốc gia đối với loại giấy tờ là CMND hoặc Hộ chiếu; CMT biên giới</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct10f_ma" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>Mã loại giấy tờ</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct10f_ten" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>Tên loại giấy tờ</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct10f_soGiayToKhac" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>Số Giấy tờ chứng thực cá nhân khác</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct10f_1_ngayCap" type="xs:date" nillable="true">
													<xs:annotation>
														<xs:documentation>Ngày cấp:.......................... </xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct10f_2_noiCap_loai" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>- Nếu là danh mục tỉnh/Thành phố thì truyền mã 01
- Nếu là danh mục quốc gia thì truyền mã 02
- Nếu nhập text truyền mã 03</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct10f_2_noiCap_ten" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>Truyền tên Tỉnh/Thành Phố hoặc tên quốc gia đối với loại giấy tờ là CMND hoặc Hộ chiếu, CCCD; Hoặc nơi cấp là dạng text</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct10f_2_noiCap_ma" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>Truyền mã Tỉnh/Thành Phố hoặc Mã quốc gia đối với loại giấy tờ là CMND hoặc Hộ chiếu; CMT biên giới</xs:documentation>
													</xs:annotation>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name="CT10g">
										<xs:annotation>
											<xs:documentation>Nơi đăng ký thường trú</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>
												<xs:element name="ct10g_soNha" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>Số nhà, đường phố, thôn, xóm:</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct10g_maPhuong" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>mã  Phường/xã</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct10g_tenPhuong" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>tên  Phường/xã</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct10g_maQuan" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>mã Quận/ Huyện:</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct10g_tenQuan" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>Tên Quận/ Huyện:</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct10g_maTinh" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>mã Tỉnh/ Thành phố:</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct10g_tenTinh" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>Tên Tỉnh/ Thành phố: </xs:documentation>
													</xs:annotation>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name="CT10h">
										<xs:annotation>
											<xs:documentation>Nơi ở hiện tại</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>
												<xs:element name="ct10h_soNha" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>Số nhà, đường phố, thôn, xóm:</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct10h_maPhuong" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>mã  Phường/xã</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct10h_tenPhuong" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>tên  Phường/xã</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct10h_maQuan" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>mã Quận/ Huyện:</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct10h_tenQuan" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>Tên Quận/ Huyện:</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct10h_maTinh" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>mã Tỉnh/ Thành phố:</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct10h_tenTinh" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>Tên Tỉnh/ Thành phố: </xs:documentation>
													</xs:annotation>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name="CT10i">
										<xs:annotation>
											<xs:documentation>Giấy chứng nhận đăng ký hộ kinh doanh (nếu có)</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>
												<xs:element name="ct10i_soGiayTo" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>Số giấy chứng nhận đăng ký hộ kinh doanh</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct10i_ngayCap" type="xs:date" nillable="true">
													<xs:annotation>
														<xs:documentation>Ngày cấp</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct10i_coQuanCap" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>Cơ quan cấp</xs:documentation>
													</xs:annotation>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name="ct10k" type="xs:long" nillable="true">
										<xs:annotation>
											<xs:documentation>Vốn kinh doanh (đồng): </xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="CT14">
										<xs:annotation>
											<xs:documentation>Văn bản uỷ quyền (nếu có):</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>
												<xs:element name="soVanBanUQ" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>Số văn bản ủy quyền</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ngayVanBanUQ" type="xs:date" nillable="true">
													<xs:annotation>
														<xs:documentation>Ngày văn bản ủy quyền</xs:documentation>
													</xs:annotation>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="TongDoanhThuTrongNam" type="ChiTiet">
							<xs:annotation>
								<xs:documentation>Tổng doanh thu  trong năm (a)
</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="ThueGTGTPhaiNop" type="ChiTiet">
							<xs:annotation>
								<xs:documentation>Số thuế GTGT phải nộp phải nộp (b)
</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="ThueTNCNPhaiNop" type="ChiTiet">
							<xs:annotation>
								<xs:documentation>Số thuế TNCN phải nộp phải nộp (c)
</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="ThueGTGTDaKhauTruTamNop" type="ChiTiet">
							<xs:annotation>
								<xs:documentation>Số thuế GTGT đã khấu trừ, đã tạm nộp
(d)
</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="ThueTNCNDaKhauTruTamNop" type="ChiTiet">
							<xs:annotation>
								<xs:documentation>Số thuế TNCN đã khấu trừ, đã tạm nộp
(đ)
</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="ThueGTGTPhaiNopThem" type="ChiTiet">
							<xs:annotation>
								<xs:documentation>Số thuế GTGT phải nộp thêm (e)=(b)-(d)</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="ThueTNCNPhaiNopThem" type="ChiTiet">
							<xs:annotation>
								<xs:documentation>Số thuế TNCN phải nộp thêm (g)=(c)-(đ)</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="ThueGTGTNopThua" type="ChiTiet">
							<xs:annotation>
								<xs:documentation>Số thuế GTGT nộp thừa (h)=(d)-(b</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="ThueTNCNNopThua" type="ChiTiet">
							<xs:annotation>
								<xs:documentation>Số thuế TNCN nộp thừa (i)=(đ)-(c)</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
		<xs:complexType name="PLucType">
			<xs:complexContent>
				<xs:extension base="PLucType">
					<xs:sequence>
						<xs:element name="PL01_KHBS" minOccurs="0">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="Header">
										<xs:annotation>
											<xs:documentation>Thông tin chung</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>
												<xs:element name="maTKhai" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>Mã tờ khai</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="tenTKhai" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>Tên tờ khai</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="maGiaoDich" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>Mã giao dịch điện tử</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="KyKKhaiThue">
													<xs:annotation>
														<xs:documentation>Kỳ kê khai thuế</xs:documentation>
													</xs:annotation>
													<xs:complexType>
														<xs:sequence>
															<xs:element name="kieuKy">
																<xs:annotation>
																	<xs:documentation>Kiểu kỳ</xs:documentation>
																</xs:annotation>
																<xs:simpleType>
																	<xs:restriction base="xs:string">
																		<xs:pattern value="D|M|Y|K|Q"/>
																	</xs:restriction>
																</xs:simpleType>
															</xs:element>
															<xs:element name="kyKKhai" type="xs:string">
																<xs:annotation>
																	<xs:documentation>Quý: Q/YYYY, ngày: DD/MM/YYYY, tháng: MM/YYYY, năm: YYYY, Kỳ: K/YYYY</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="kyKKhaiTuNgay" type="xs:string">
																<xs:annotation>
																	<xs:documentation>Định dạng DD/MM/YYYY</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="kyKKhaiDenNgay" type="xs:string">
																<xs:annotation>
																	<xs:documentation>Định dạng DD/MM/YYYY</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="kyKKhaiTuThang" type="xs:string">
																<xs:annotation>
																	<xs:documentation>Định dạng MM/YYYY</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="kyKKhaiDenThang" type="xs:string">
																<xs:annotation>
																	<xs:documentation>Định dạng MM/YYYY</xs:documentation>
																</xs:annotation>
															</xs:element>
														</xs:sequence>
													</xs:complexType>
												</xs:element>
												<xs:element name="soLan" type="xs:nonNegativeInteger">
													<xs:annotation>
														<xs:documentation>Số lần</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="mst" type="TINType">
													<xs:annotation>
														<xs:documentation>Mã số thuế NNT</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="tenNNT" type="xs:token">
													<xs:annotation>
														<xs:documentation>Tên NNT</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="mstDLyThue" type="TINType" nillable="true">
													<xs:annotation>
														<xs:documentation>Mã số thuế đại lý thuế</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="tenDLyThue" type="xs:token" nillable="true">
													<xs:annotation>
														<xs:documentation>Tên đại lý thuế</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="soHDongDLyThue" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>Số hợp đồng đại lý thuế</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ngayKyHDDLyThue" type="xs:date" nillable="true">
													<xs:annotation>
														<xs:documentation>Ngày ký hợp đồng</xs:documentation>
													</xs:annotation>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name="ma_DonViTien" type="xs:string" nillable="true">
										<xs:annotation>
											<xs:documentation>Mã đơn vị tiền</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ten_DonViTien" type="xs:string" nillable="true">
										<xs:annotation>
											<xs:documentation>Tên đơn vị tiền</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="Muc_A">
										<xs:annotation>
											<xs:documentation>A. Xác định tăng/giảm số thuế phải nộp và tiền chậm nộp, tăng/giảm số thuế được khấu trừ, tăng/giảm số thuế đề nghị hoàn</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>
												<xs:element name="Muc_I">
													<xs:annotation>
														<xs:documentation>I. Xác định tăng/giảm số thuế phải nộp và tiền chậm nộp:</xs:documentation>
													</xs:annotation>
													<xs:complexType>
														<xs:sequence>
															<xs:element name="Muc_1">
																<xs:annotation>
																	<xs:documentation>1. Số thuế phải nộp trên tờ khai điều chỉnh tăng/giảm</xs:documentation>
																</xs:annotation>
																<xs:complexType>
																	<xs:sequence>
																		<xs:element name="ChiTiet" maxOccurs="unbounded">
																			<xs:complexType>
																				<xs:sequence>
																					<xs:element name="ct2_ma" type="xs:string" nillable="true">
																						<xs:annotation>
																							<xs:documentation>Mã tiểu mục</xs:documentation>
																						</xs:annotation>
																					</xs:element>
																					<xs:element name="ct2_ten" type="xs:string" nillable="true">
																						<xs:annotation>
																							<xs:documentation>Tên tiểu mục</xs:documentation>
																						</xs:annotation>
																					</xs:element>
																					<xs:element name="ct3" type="xs:long" nillable="true">
																						<xs:annotation>
																							<xs:documentation>Tăng/giảm số thuế phải nộp (tăng ghi (+), giảm ghi (-))</xs:documentation>
																						</xs:annotation>
																					</xs:element>
																				</xs:sequence>
																				<xs:attribute name="id" type="xs:string" use="required"/>
																			</xs:complexType>
																		</xs:element>
																		<xs:element name="tongCong_ct10" type="xs:long" nillable="true">
																			<xs:annotation>
																				<xs:documentation>Tăng/giảm số thuế phải nộp (tăng ghi (+), giảm ghi (-))</xs:documentation>
																			</xs:annotation>
																		</xs:element>
																	</xs:sequence>
																</xs:complexType>
															</xs:element>
															<xs:element name="Muc_2">
																<xs:annotation>
																	<xs:documentation>2. Số thuế phải nộp trên Phụ lục phân bổ điều chỉnh tăng/giảm</xs:documentation>
																</xs:annotation>
																<xs:complexType>
																	<xs:sequence>
																		<xs:element name="DSachPLuc">
																			<xs:complexType>
																				<xs:sequence>
																					<xs:element name="BKePLuc" maxOccurs="unbounded">
																						<xs:complexType>
																							<xs:sequence>
																								<xs:element name="ma_PLuc" type="xs:string" nillable="true">
																									<xs:annotation>
																										<xs:documentation>Mã phụ lục</xs:documentation>
																									</xs:annotation>
																								</xs:element>
																								<xs:element name="ten_PLuc" type="xs:string" nillable="true">
																									<xs:annotation>
																										<xs:documentation>Tên phụ lục</xs:documentation>
																									</xs:annotation>
																								</xs:element>
																								<xs:element name="CTietPLuc">
																									<xs:complexType>
																										<xs:sequence>
																											<xs:element name="ChiTiet" minOccurs="0" maxOccurs="unbounded">
																												<xs:complexType>
																													<xs:sequence>
																														<xs:element name="ct2_ma" type="xs:string" nillable="true">
																															<xs:annotation>
																																<xs:documentation>Mã đơn vị phụ thuộc, địa điểm kinh doanh/tên mặt hàng/tỉnh nơi không có đơn vị phụ thuộc/địa điểm kinh doanh/đơn vị tiêu thụ/cơ sở khai thác></xs:documentation>
																															</xs:annotation>
																														</xs:element>
																														<xs:element name="ct2_ten" type="xs:string" nillable="true">
																															<xs:annotation>
																																<xs:documentation>Tên đơn vị phụ thuộc, địa điểm kinh doanh/tên mặt hàng/tỉnh nơi không có đơn vị phụ thuộc/địa điểm kinh doanh/đơn vị tiêu thụ/cơ sở khai thác</xs:documentation>
																															</xs:annotation>
																														</xs:element>
																														<xs:element name="ct3_ma" type="xs:string" nillable="true">
																															<xs:annotation>
																																<xs:documentation>Mã số thuế/mã số địa điểm kinh doanh (nếu có)</xs:documentation>
																															</xs:annotation>
																														</xs:element>
																														<xs:element name="ct3_ten" type="xs:string" nillable="true">
																															<xs:annotation>
																																<xs:documentation>Tên Mã số thuế/mã số địa điểm kinh doanh (nếu có)</xs:documentation>
																															</xs:annotation>
																														</xs:element>
																														<xs:element name="ct04_ma" type="xs:string" nillable="true">
																															<xs:annotation>
																																<xs:documentation>Mã huyện</xs:documentation>
																															</xs:annotation>
																														</xs:element>
																														<xs:element name="ct04_ten" type="xs:string" nillable="true">
																															<xs:annotation>
																																<xs:documentation>Tên huyện</xs:documentation>
																															</xs:annotation>
																														</xs:element>
																														<xs:element name="ct05_ma" type="xs:string" nillable="true">
																															<xs:annotation>
																																<xs:documentation>Mã tỉnh</xs:documentation>
																															</xs:annotation>
																														</xs:element>
																														<xs:element name="ct05_ten" type="xs:string" nillable="true">
																															<xs:annotation>
																																<xs:documentation>Tên tỉnh</xs:documentation>
																															</xs:annotation>
																														</xs:element>
																														<xs:element name="ct06_ma" type="xs:string" nillable="true">
																															<xs:annotation>
																																<xs:documentation>Mã cơ quan thuế quản lý địa bàn nhận phân bổ</xs:documentation>
																															</xs:annotation>
																														</xs:element>
																														<xs:element name="ct06_ten" type="xs:string" nillable="true">
																															<xs:annotation>
																																<xs:documentation>Tên cơ quan thuế quản lý địa bàn nhận phân bổ</xs:documentation>
																															</xs:annotation>
																														</xs:element>
																														<xs:element name="ct7" type="xs:long" nillable="true">
																															<xs:annotation>
																																<xs:documentation>Số tiền thuế phải nộp điều chỉnh tăng/ giảm (tăng ghi (+), giảm ghi (-))</xs:documentation>
																															</xs:annotation>
																														</xs:element>
																													</xs:sequence>
																													<xs:attribute name="id" type="xs:string" use="required"/>
																												</xs:complexType>
																											</xs:element>
																										</xs:sequence>
																									</xs:complexType>
																								</xs:element>
																							</xs:sequence>
																							<xs:attribute name="id" type="xs:string" use="required"/>
																						</xs:complexType>
																					</xs:element>
																					<xs:element name="tongCong_ct11" type="xs:long" nillable="true">
																						<xs:annotation>
																							<xs:documentation>Tăng/giảm số thuế phải nộp (tăng ghi (+), giảm ghi (-))</xs:documentation>
																						</xs:annotation>
																					</xs:element>
																				</xs:sequence>
																			</xs:complexType>
																		</xs:element>
																	</xs:sequence>
																</xs:complexType>
															</xs:element>
															<xs:element name="Muc_3">
																<xs:annotation>
																	<xs:documentation>3. Xác định số tiền chậm nộp điều chỉnh tăng/giảm (tăng ghi (+), giảm ghi (-)):</xs:documentation>
																</xs:annotation>
																<xs:complexType>
																	<xs:sequence>
																		<xs:element name="ct3a_1" type="xs:date" nillable="true">
																			<xs:annotation>
																				<xs:documentation>Đến ngày</xs:documentation>
																			</xs:annotation>
																		</xs:element>
																		<xs:element name="ct3a_2" type="xs:long" nillable="true">
																			<xs:annotation>
																				<xs:documentation>Số ngày chậm nộp</xs:documentation>
																			</xs:annotation>
																		</xs:element>
																		<xs:element name="ct3b" type="xs:long" nillable="true">
																			<xs:annotation>
																				<xs:documentation>Số tiền chậm nộp tăng/giảm</xs:documentation>
																			</xs:annotation>
																		</xs:element>
																	</xs:sequence>
																</xs:complexType>
															</xs:element>
														</xs:sequence>
													</xs:complexType>
												</xs:element>
												<xs:element name="Muc_II">
													<xs:annotation>
														<xs:documentation>II. Số thuế được khấu trừ điều chỉnh tăng/giảm</xs:documentation>
													</xs:annotation>
													<xs:complexType>
														<xs:sequence>
															<xs:element name="ChiTiet" maxOccurs="unbounded">
																<xs:complexType>
																	<xs:sequence>
																		<xs:element name="ct2_ma" type="xs:string" nillable="true">
																			<xs:annotation>
																				<xs:documentation>Mã tiểu mục</xs:documentation>
																			</xs:annotation>
																		</xs:element>
																		<xs:element name="ct2_ten" type="xs:string" nillable="true">
																			<xs:annotation>
																				<xs:documentation>Tên tiểu mục</xs:documentation>
																			</xs:annotation>
																		</xs:element>
																		<xs:element name="ct3" type="xs:long" nillable="true">
																			<xs:annotation>
																				<xs:documentation>Tăng/giảm số thuế phải nộp (tăng ghi (+), giảm ghi (-))</xs:documentation>
																			</xs:annotation>
																		</xs:element>
																	</xs:sequence>
																	<xs:attribute name="id" type="xs:string" use="required"/>
																</xs:complexType>
															</xs:element>
															<xs:element name="tongCong_ct12" type="xs:long" nillable="true">
																<xs:annotation>
																	<xs:documentation>Tăng/giảm số thuế phải nộp (tăng ghi (+), giảm ghi (-))</xs:documentation>
																</xs:annotation>
															</xs:element>
														</xs:sequence>
													</xs:complexType>
												</xs:element>
												<xs:element name="Muc_III">
													<xs:annotation>
														<xs:documentation>III. Số thuế đề nghị hoàn điều chỉnh tăng/giảm</xs:documentation>
													</xs:annotation>
													<xs:complexType>
														<xs:sequence>
															<xs:element name="ChiTiet" maxOccurs="unbounded">
																<xs:complexType>
																	<xs:sequence>
																		<xs:element name="ct2_ma" type="xs:string" nillable="true">
																			<xs:annotation>
																				<xs:documentation>Mã tiểu mục</xs:documentation>
																			</xs:annotation>
																		</xs:element>
																		<xs:element name="ct2_ten" type="xs:string" nillable="true">
																			<xs:annotation>
																				<xs:documentation>Tên tiểu mục</xs:documentation>
																			</xs:annotation>
																		</xs:element>
																		<xs:element name="ct3" type="xs:long" nillable="true">
																			<xs:annotation>
																				<xs:documentation>Tăng/giảm số thuế phải nộp (tăng ghi (+), giảm ghi (-))</xs:documentation>
																			</xs:annotation>
																		</xs:element>
																	</xs:sequence>
																	<xs:attribute name="id" type="xs:string" use="required"/>
																</xs:complexType>
															</xs:element>
															<xs:element name="tongCong_ct13" type="xs:long" nillable="true">
																<xs:annotation>
																	<xs:documentation>Tăng/giảm số thuế phải nộp (tăng ghi (+), giảm ghi (-))</xs:documentation>
																</xs:annotation>
															</xs:element>
														</xs:sequence>
													</xs:complexType>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name="Muc_B">
										<xs:annotation>
											<xs:documentation>B. Số thuế thu hồi hoàn và tiền chậm nộp (nếu có):</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>
												<xs:element name="Muc_I">
													<xs:annotation>
														<xs:documentation>I. Số thuế thu hồi hoàn</xs:documentation>
													</xs:annotation>
													<xs:complexType>
														<xs:sequence>
															<xs:element name="ct_1" type="xs:long" nillable="true">
																<xs:annotation>
																	<xs:documentation>1. Số tiền thu hồi hoàn</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="ct_2_so" type="xs:string" nillable="true">
																<xs:annotation>
																	<xs:documentation>Quyết định hoàn thuế: Số </xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="ct_2_ngay" type="xs:date" nillable="true">
																<xs:annotation>
																	<xs:documentation>Quyết định hoàn thuế: ngày</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="ct_2_CQT_ma" type="xs:string" nillable="true">
																<xs:annotation>
																	<xs:documentation>Quyết định hoàn thuế: CQT ban hành</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="ct_2_CQT_ten" type="xs:string" nillable="true">
																<xs:annotation>
																	<xs:documentation>Quyết định hoàn thuế: CQT ban hành</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="ct_3_so" type="xs:string" nillable="true">
																<xs:annotation>
																	<xs:documentation>Lệnh hoàn thuế: Số </xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="ct_3_ngay" type="xs:date" nillable="true">
																<xs:annotation>
																	<xs:documentation>Lệnh hoàn thuế: Ngày</xs:documentation>
																</xs:annotation>
															</xs:element>
														</xs:sequence>
													</xs:complexType>
												</xs:element>
												<xs:element name="Muc_II">
													<xs:annotation>
														<xs:documentation>II. Tiền chậm nộp</xs:documentation>
													</xs:annotation>
													<xs:complexType>
														<xs:sequence>
															<xs:element name="ct_1" type="xs:long" nillable="true">
																<xs:annotation>
																	<xs:documentation>1. Số ngày nhận được tiền hoàn thuế</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="ct_2" type="xs:long" nillable="true">
																<xs:annotation>
																	<xs:documentation>2. Số tiền chậm nộp </xs:documentation>
																</xs:annotation>
															</xs:element>
														</xs:sequence>
													</xs:complexType>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="PL01_1_KHBS" minOccurs="0">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="Header">
										<xs:annotation>
											<xs:documentation>Thông tin chung</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>
												<xs:element name="maTKhai" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>Mã tờ khai</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="tenTKhai" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>Tên tờ khai</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="maGiaoDich" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>Mã giao dịch điện tử</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="KyKKhaiThue">
													<xs:annotation>
														<xs:documentation>Kỳ kê khai thuế</xs:documentation>
													</xs:annotation>
													<xs:complexType>
														<xs:sequence>
															<xs:element name="kieuKy">
																<xs:annotation>
																	<xs:documentation>Kiểu kỳ</xs:documentation>
																</xs:annotation>
																<xs:simpleType>
																	<xs:restriction base="xs:string">
																		<xs:pattern value="D|M|Y|K|Q"/>
																	</xs:restriction>
																</xs:simpleType>
															</xs:element>
															<xs:element name="kyKKhai" type="xs:string">
																<xs:annotation>
																	<xs:documentation>Quý: Q/YYYY, ngày: DD/MM/YYYY, tháng: MM/YYYY, năm: YYYY, Kỳ: K/YYYY</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="kyKKhaiTuNgay" type="xs:string">
																<xs:annotation>
																	<xs:documentation>Định dạng DD/MM/YYYY</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="kyKKhaiDenNgay" type="xs:string">
																<xs:annotation>
																	<xs:documentation>Định dạng DD/MM/YYYY</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="kyKKhaiTuThang" type="xs:string">
																<xs:annotation>
																	<xs:documentation>Định dạng MM/YYYY</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="kyKKhaiDenThang" type="xs:string">
																<xs:annotation>
																	<xs:documentation>Định dạng MM/YYYY</xs:documentation>
																</xs:annotation>
															</xs:element>
														</xs:sequence>
													</xs:complexType>
												</xs:element>
												<xs:element name="soLan" type="xs:nonNegativeInteger">
													<xs:annotation>
														<xs:documentation>Số lần</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="mst" type="TINType">
													<xs:annotation>
														<xs:documentation>Mã số thuế NNT</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="tenNNT" type="xs:token">
													<xs:annotation>
														<xs:documentation>Tên NNT</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="mstDLyThue" type="TINType" nillable="true">
													<xs:annotation>
														<xs:documentation>Mã số thuế đại lý thuế</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="tenDLyThue" type="xs:token" nillable="true">
													<xs:annotation>
														<xs:documentation>Tên đại lý thuế</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="soHDongDLyThue" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>Số hợp đồng đại lý thuế</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ngayKyHDDLyThue" type="xs:date" nillable="true">
													<xs:annotation>
														<xs:documentation>Ngày ký hợp đồng</xs:documentation>
													</xs:annotation>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name="ma_DonViTien" type="xs:string" nillable="true">
										<xs:annotation>
											<xs:documentation>Mã đơn vị tiền</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ten_DonViTien" type="xs:string" nillable="true">
										<xs:annotation>
											<xs:documentation>Tên đơn vị tiền</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="Muc_A">
										<xs:annotation>
											<xs:documentation>A. Thông tin khai bổ sung</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>
												<xs:element name="DSachHSo">
													<xs:complexType>
														<xs:sequence>
															<xs:element name="BKeHSo" maxOccurs="unbounded">
																<xs:complexType>
																	<xs:sequence>
																		<xs:element name="ma_HSo" type="xs:string" nillable="true">
																			<xs:annotation>
																				<xs:documentation>Mã hồ sơ</xs:documentation>
																			</xs:annotation>
																		</xs:element>
																		<xs:element name="ten_HSo" type="xs:string" nillable="true">
																			<xs:annotation>
																				<xs:documentation>Tên hồ sơ</xs:documentation>
																			</xs:annotation>
																		</xs:element>
																		<xs:element name="CTietHSo">
																			<xs:complexType>
																				<xs:sequence>
																					<xs:element name="ChiTiet" minOccurs="0" maxOccurs="unbounded">
																						<xs:complexType>
																							<xs:sequence>
																								<xs:element name="ct2_ma" type="xs:string" nillable="true">
																									<xs:annotation>
																										<xs:documentation>Mã Tên chỉ tiêu 
điều chỉnh/ Tên hàng hóa, dịch vụ</xs:documentation>
																									</xs:annotation>
																								</xs:element>
																								<xs:element name="ct2_ten" type="xs:string" nillable="true">
																									<xs:annotation>
																										<xs:documentation>Tên Tên chỉ tiêu 
điều chỉnh/ Tên hàng hóa, dịch vụ</xs:documentation>
																									</xs:annotation>
																								</xs:element>
																								<xs:element name="ct3_ma" type="xs:string" nillable="true">
																									<xs:annotation>
																										<xs:documentation>Mã số chỉ tiêu</xs:documentation>
																									</xs:annotation>
																								</xs:element>
																								<xs:element name="ct3_ten" type="xs:string" nillable="true">
																									<xs:annotation>
																										<xs:documentation>Tên Mã số chỉ tiêu</xs:documentation>
																									</xs:annotation>
																								</xs:element>
																								<xs:element name="ct3_1_ma" type="xs:string" nillable="true">
																									<xs:annotation>
																										<xs:documentation>Mã số chỉ tiêu Dành cho đơn vị phụ thuộc/nhà máy...</xs:documentation>
																									</xs:annotation>
																								</xs:element>
																								<xs:element name="ct3_1_ten" type="xs:string" nillable="true">
																									<xs:annotation>
																										<xs:documentation>Tên Mã số chỉ tiêu Dành cho đơn vị phụ thuộc/nhà máy...</xs:documentation>
																									</xs:annotation>
																								</xs:element>
																								<xs:element name="ct3_2_ma" type="xs:string" nillable="true">
																									<xs:annotation>
																										<xs:documentation>Mã số chỉ tiêu Dành cho đ  những mẫu không có key, nhập dạng text </xs:documentation>
																									</xs:annotation>
																								</xs:element>
																								<xs:element name="ct3_2_ten" type="xs:string" nillable="true">
																									<xs:annotation>
																										<xs:documentation>Tên Mã số chỉ tiêu Dành cho  những mẫu không có key, nhập dạng text .</xs:documentation>
																									</xs:annotation>
																								</xs:element>
																								<xs:element name="ct04" type="xs:string" nillable="true">
																									<xs:annotation>
																										<xs:documentation>Số đã kê khai</xs:documentation>
																									</xs:annotation>
																								</xs:element>
																								<xs:element name="ct05" type="xs:string" nillable="true">
																									<xs:annotation>
																										<xs:documentation>Số điều chỉnh</xs:documentation>
																									</xs:annotation>
																								</xs:element>
																								<xs:element name="ct06" type="xs:decimal" nillable="true">
																									<xs:annotation>
																										<xs:documentation>Chênh lệch/thay đổi giữa số điều chỉnh với số đã kê khai</xs:documentation>
																									</xs:annotation>
																								</xs:element>
																								<xs:element name="ct7" type="xs:decimal" nillable="true">
																									<xs:annotation>
																										<xs:documentation>Điều chỉnh tăng/giảm nghĩa vụ thuế</xs:documentation>
																									</xs:annotation>
																								</xs:element>
																								<xs:element name="ct8" type="xs:string" nillable="true">
																									<xs:annotation>
																										<xs:documentation>Lý do</xs:documentation>
																									</xs:annotation>
																								</xs:element>
																							</xs:sequence>
																							<xs:attribute name="id" type="xs:string" use="required"/>
																						</xs:complexType>
																					</xs:element>
																				</xs:sequence>
																			</xs:complexType>
																		</xs:element>
																	</xs:sequence>
																	<xs:attribute name="id" type="xs:string" use="required"/>
																</xs:complexType>
															</xs:element>
															<xs:element name="TongCong">
																<xs:complexType>
																	<xs:sequence>
																		<xs:element name="tongCong_7" type="xs:long" nillable="true">
																			<xs:annotation>
																				<xs:documentation>Tổng cộng (tăng +, giảm -) phải nộp:</xs:documentation>
																			</xs:annotation>
																		</xs:element>
																		<xs:element name="tongCong_8" type="xs:long" nillable="true">
																			<xs:annotation>
																				<xs:documentation>Tổng cộng (tăng +, giảm -) khấu trừ:</xs:documentation>
																			</xs:annotation>
																		</xs:element>
																		<xs:element name="tongCong_9" type="xs:long" nillable="true">
																			<xs:annotation>
																				<xs:documentation>Tổng cộng (tăng +, giảm -) đề nghị hoàn:</xs:documentation>
																			</xs:annotation>
																		</xs:element>
																	</xs:sequence>
																</xs:complexType>
															</xs:element>
														</xs:sequence>
													</xs:complexType>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name="Muc_B">
										<xs:annotation>
											<xs:documentation>B. Tài liệu kèm theo (nếu có)</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>
												<xs:element name="CTietTaiLieu" maxOccurs="unbounded">
													<xs:complexType>
														<xs:sequence>
															<xs:element name="ma_TLieu" type="xs:string" nillable="true">
																<xs:annotation>
																	<xs:documentation>Mã tài liệu</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="ten_TLieu" type="xs:string" nillable="true">
																<xs:annotation>
																	<xs:documentation>Tên tài liệu</xs:documentation>
																</xs:annotation>
															</xs:element>
														</xs:sequence>
														<xs:attribute name="id" type="xs:string" use="required"/>
													</xs:complexType>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:redefine>
	<xs:complexType name="ChiTiet">
		<xs:sequence>
			<xs:element name="ct15" type="xs:long" nillable="true">
				<xs:annotation>
					<xs:documentation>Hoạt động đại lý xổ số</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ct16" type="xs:long" nillable="true">
				<xs:annotation>
					<xs:documentation>Hoạt động đại lý bảo hiểm </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ct17" type="xs:long" nillable="true">
				<xs:annotation>
					<xs:documentation>Hoạt  động bán hàng đa cấp</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ct18" type="xs:long" nillable="true">
				<xs:annotation>
					<xs:documentation>Hoạt động kinh doanh được trả thu nhập từ nước ngoài</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ct19" type="xs:long" nillable="true">
				<xs:annotation>
					<xs:documentation>Hoạt động kinh doanh khác</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ct20" type="xs:long" nillable="true">
				<xs:annotation>
					<xs:documentation>Tổng cộng</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
