HTKK/InterfaceTemplates/Validate/KHBS_01_CNKD_251.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2010 rel. 3 (http://www.altova.com) by MESMERiZE (MSM) -->
<xs:schema xmlns="http://kekhaithue.gdt.gov.vn/TKhaiThue" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://kekhaithue.gdt.gov.vn/TKhaiThue" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:redefine schemaLocation="..\TKhaiThue.xsd">
		<xs:complexType name="CTieuTKhaiChinhType">
			<xs:complexContent>
				<xs:extension base="CTieuTKhaiChinhType">
					<xs:sequence>
						<xs:element name="Header">
							<xs:annotation>
								<xs:documentation>Thông tin chung</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="CT5a">
										<xs:annotation>
											<xs:documentation>[5a] Số CMND(trường hợp cá nhân quốc tịch Việt Nam): </xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>
												<xs:element name="ct5a1" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>Số CMND</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct5a2" type="xs:date" nillable="true">
													<xs:annotation>
														<xs:documentation>Ngày cấp</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct5a3" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>Nơi cấp</xs:documentation>
													</xs:annotation>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name="CT5b">
										<xs:annotation>
											<xs:documentation>[5b] Hộ chiếu (trường hợp cá nhân không có quốc tịch Việt nam):</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>
												<xs:element name="ct5b1" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>Số Hộ chiếu</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct5b2" type="xs:date" nillable="true">
													<xs:annotation>
														<xs:documentation>Ngày cấp</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct5b3" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>Nơi cấp</xs:documentation>
													</xs:annotation>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name="ct05c" type="xs:string" nillable="true">
										<xs:annotation>
											<xs:documentation>Thông tin Giấy chứng nhận đăng ký kinh doanh</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="CT06" nillable="true">
										<xs:annotation>
											<xs:documentation>Ngành nghề kinh doanh</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>
												<xs:element name="NNgheKDoanh" maxOccurs="unbounded">
													<xs:complexType>
														<xs:sequence>
															<xs:element name="maNNgheKDoanh" type="xs:string" nillable="true">
																<xs:annotation>
																	<xs:documentation>Mã ngành nghề kinh doanh</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="tenNNgheKDoanh" type="xs:string" nillable="true">
																<xs:annotation>
																	<xs:documentation>Tên ngành nghề kinh doanh</xs:documentation>
																</xs:annotation>
															</xs:element>
														</xs:sequence>
														<xs:attribute name="id" type="xs:string"/>
													</xs:complexType>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name="ct07" type="xs:decimal" nillable="true">
										<xs:annotation>
											<xs:documentation>Diện tích kinh doanh</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct07a" type="xs:boolean" nillable="true">
										<xs:annotation>
											<xs:documentation>Đi thuê</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct08" type="xs:long" nillable="true">
										<xs:annotation>
											<xs:documentation>Số lượng lao động sử dụng thường xuyên</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="CT09">
										<xs:annotation>
											<xs:documentation>Thời gian hoạt động trong ngày</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>
												<xs:element name="tuGio" type="xs:nonNegativeInteger" nillable="true">
													<xs:annotation>
														<xs:documentation>từ giờ</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="tuPhut" type="xs:nonNegativeInteger" nillable="true">
													<xs:annotation>
														<xs:documentation>từ phút</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="denGio" type="xs:nonNegativeInteger" nillable="true">
													<xs:annotation>
														<xs:documentation>đến giờ</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="denPhut" type="xs:nonNegativeInteger" nillable="true">
													<xs:annotation>
														<xs:documentation>đến phút</xs:documentation>
													</xs:annotation>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name="CT10">
										<xs:annotation>
											<xs:documentation>Địa chỉ kinh doanh</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>
												<xs:element name="diaChi" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>Địa chỉ</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct10.1_ma" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>Mã Phường/Xã</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct10.1_ten" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>Tên Phường/Xã</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct10.2_ma" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>Mã Quận/Huyện</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct10.2_ten" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>Tên Quận/Huyện</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct10.3_ma" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>Mã Tỉnh/Thành phố</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct10.3_ten" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>Tên Tỉnh/Thành phố</xs:documentation>
													</xs:annotation>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name="CT14">
										<xs:annotation>
											<xs:documentation>Văn bản ủy quyền</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>
												<xs:element name="tenVanBanUQ" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>Tên văn bản ủy quyền</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ngayVanBanUQ" type="xs:date" nillable="true">
													<xs:annotation>
														<xs:documentation>Ngày văn bản ủy quyền</xs:documentation>
													</xs:annotation>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name="ToChucKThay">
										<xs:annotation>
											<xs:documentation>Tổ chức khai thay</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>
												<xs:element name="ct24" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>Tên Tổ chức khai thay</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct25" type="TINType" nillable="true">
													<xs:annotation>
														<xs:documentation>Mã số thuế</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct26" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>Địa chỉ</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct27" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>Điện thoại</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct28" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>Fax</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct29" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>Email</xs:documentation>
													</xs:annotation>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name="kyDieuChinh" type="xs:string" nillable="true">
										<xs:annotation>
											<xs:documentation>Kỳ điều chỉnh</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="KKThueGTGT_TNCN">
							<xs:annotation>
								<xs:documentation>A. KÊ KHAI THUẾ GIÁ TRỊ GIA TĂNG (GTGT), THUẾ THU NHẬP CÁ NHÂN (TNCN)</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="DoanhThuThueGTGT" type="BangKKThueGTGT">
										<xs:annotation>
											<xs:documentation>Doanh thu thuế GTGT (a)</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ThueGTGTPhatSinh" type="BangKKThueGTGT">
										<xs:annotation>
											<xs:documentation>Số thuế GTGT phát sinh (b)</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="DoanhThuThueTNCN" type="BangKKThueGTGT">
										<xs:annotation>
											<xs:documentation>Doanh thu thuế TNCN (c)</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ThueTNCNPhatSinh" type="BangKKThueGTGT">
										<xs:annotation>
											<xs:documentation>Số thuế TNCN phát sinh (d)</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="XDinhNVuThue">
							<xs:annotation>
								<xs:documentation>Xác định nghĩa vụ thuế TNCN phải nộp:</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="ct35" type="xs:long" nillable="true">
										<xs:annotation>
											<xs:documentation>Doanh thu tính thuế TNCN do kinh doanh trong khu kinh tế</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct36" type="xs:long" nillable="true">
										<xs:annotation>
											<xs:documentation>Số thuế TNCN được giảm trong khu kinh tế</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct37" type="xs:long" nillable="true">
										<xs:annotation>
											<xs:documentation>Số thuế TNCN phải nộp [37]=[34d]-[36]</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="KKhaiThueTTDB">
							<xs:annotation>
								<xs:documentation>B. KÊ KHAI THUẾ TIÊU THỤ ĐẶC BIỆT (TTĐB)</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="CTietKKhaiThueTTDB" maxOccurs="unbounded">
										<xs:complexType>
											<xs:sequence>
												<xs:element name="ct2_ma" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>Mã Hàng hoá, dịch vụ chịu thuế tiêu thụ đặc biệt (TTĐB)</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct2_ten" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>Tên Hàng hoá, dịch vụ chịu thuế tiêu thụ đặc biệt (TTĐB)</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct3" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>Mã chỉ tiêu</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct4" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>Đơn vị tính</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct5" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>Doanh thu  tính thuế TTĐB</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct6" type="xs:decimal" nillable="true">
													<xs:annotation>
														<xs:documentation>Thuế suất</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct7" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>Số thuế phải nộp</xs:documentation>
													</xs:annotation>
												</xs:element>
											</xs:sequence>
											<xs:attribute name="id" type="xs:string"/>
										</xs:complexType>
									</xs:element>
									<xs:element name="tong_ct5" type="xs:long" nillable="true">
										<xs:annotation>
											<xs:documentation>Tổng doanh thu tính thuế TTĐB</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="tong_ct7" type="xs:long" nillable="true">
										<xs:annotation>
											<xs:documentation>Tổng số thuế phải nộp </xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="KKhaiTBVMT_TN">
							<xs:annotation>
								<xs:documentation>C. KÊ KHAI THUẾ/PHÍ BẢO VỆ MÔI TRƯỜNG HOẶC THUẾ TÀI NGUYÊN </xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="ThueTaiNguyen">
										<xs:annotation>
											<xs:documentation>Khai thuế tài nguyên</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>
												<xs:element name="CTietThueTaiNguyen" maxOccurs="unbounded">
													<xs:complexType>
														<xs:sequence>
															<xs:element name="ct2_ma" type="xs:string" nillable="true">
																<xs:annotation>
																	<xs:documentation>Mã tài nguyên</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="ct2_ten" type="xs:string" nillable="true">
																<xs:annotation>
																	<xs:documentation>Tên tài nguyên</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="ct3" type="xs:string" nillable="true">
																<xs:annotation>
																	<xs:documentation>Mã chỉ tiêu</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="ct4" type="xs:string" nillable="true">
																<xs:annotation>
																	<xs:documentation>Đơn vị tính</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="ct5" type="xs:decimal" nillable="true">
																<xs:annotation>
																	<xs:documentation>Sản lượng/ Số lượng</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="ct6" type="xs:decimal" nillable="true">
																<xs:annotation>
																	<xs:documentation>Giá tính thuế tài nguyên/ mức thuế hoặc phí BVMT</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="ct7" type="xs:decimal" nillable="true">
																<xs:annotation>
																	<xs:documentation>Thuế suất</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="ct8" type="xs:decimal" nillable="true">
																<xs:annotation>
																	<xs:documentation>Số thuế phải nộp</xs:documentation>
																</xs:annotation>
															</xs:element>
														</xs:sequence>
														<xs:attribute name="id" type="xs:string"/>
													</xs:complexType>
												</xs:element>
												<xs:element name="tongCong" type="xs:decimal" nillable="true">
													<xs:annotation>
														<xs:documentation>Tổng cộng</xs:documentation>
													</xs:annotation>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name="ThueBVMT">
										<xs:annotation>
											<xs:documentation>Khai thuế bảo vệ môi trường</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>
												<xs:element name="CTietThueBVMT" maxOccurs="unbounded">
													<xs:complexType>
														<xs:sequence>
															<xs:element name="ct2_ma" type="xs:string" nillable="true">
																<xs:annotation>
																	<xs:documentation>Mã hàng hóa</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="ct2_ten" type="xs:string" nillable="true">
																<xs:annotation>
																	<xs:documentation>Tên hàng hóa</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="ct3" type="xs:string" nillable="true">
																<xs:annotation>
																	<xs:documentation>Mã chỉ tiêu</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="ct4" type="xs:string" nillable="true">
																<xs:annotation>
																	<xs:documentation>Đơn vị tính</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="ct5" type="xs:decimal" nillable="true">
																<xs:annotation>
																	<xs:documentation>Sản lượng/ Số lượng</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="ct6" type="xs:decimal" nillable="true">
																<xs:annotation>
																	<xs:documentation>Giá tính thuế tài nguyên/ mức thuế hoặc phí BVMT</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="ct8" type="xs:decimal" nillable="true">
																<xs:annotation>
																	<xs:documentation>Số thuế phải nộp</xs:documentation>
																</xs:annotation>
															</xs:element>
														</xs:sequence>
														<xs:attribute name="id" type="xs:string"/>
													</xs:complexType>
												</xs:element>
												<xs:element name="tongCong" type="xs:decimal" nillable="true">
													<xs:annotation>
														<xs:documentation>Tổng cộng</xs:documentation>
													</xs:annotation>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name="PhiBVMT">
										<xs:annotation>
											<xs:documentation>Khai phí bảo vệ môi trường</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>
												<xs:element name="CTietPhiBVMT" maxOccurs="unbounded">
													<xs:complexType>
														<xs:sequence>
															<xs:element name="ct2_ma" type="xs:string" nillable="true">
																<xs:annotation>
																	<xs:documentation>Mã hàng hóa</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="ct2_ten" type="xs:string" nillable="true">
																<xs:annotation>
																	<xs:documentation>Tên hàng hóa</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="ct3" type="xs:string" nillable="true">
																<xs:annotation>
																	<xs:documentation>Mã chỉ tiêu</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="ct4" type="xs:string" nillable="true">
																<xs:annotation>
																	<xs:documentation>Đơn vị tính</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="ct5" type="xs:decimal" nillable="true">
																<xs:annotation>
																	<xs:documentation>Sản lượng/ Số lượng</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="ct6" type="xs:decimal" nillable="true">
																<xs:annotation>
																	<xs:documentation>Giá tính thuế tài nguyên/ mức thuế hoặc phí BVMT</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="ct8" type="xs:decimal" nillable="true">
																<xs:annotation>
																	<xs:documentation>Số thuế phải nộp</xs:documentation>
																</xs:annotation>
															</xs:element>
														</xs:sequence>
														<xs:attribute name="id" type="xs:string"/>
													</xs:complexType>
												</xs:element>
												<xs:element name="tongCong" type="xs:decimal" nillable="true">
													<xs:annotation>
														<xs:documentation>Tổng cộng</xs:documentation>
													</xs:annotation>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
		<xs:complexType name="PLucType">
			<xs:complexContent>
				<xs:extension base="PLucType">
					<xs:sequence>
						<xs:element name="PLuc_01_1_BK_CNKD" minOccurs="0">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="maNhomNNghe" type="xs:string" nillable="true">
										<xs:annotation>
											<xs:documentation>Mã nhóm ngành nghề</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="tenNhomNNghe" type="xs:string" nillable="true">
										<xs:annotation>
											<xs:documentation>Tên nhóm ngành nghề</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="BKeCNKD">
										<xs:annotation>
											<xs:documentation>Bảng kê chi tiết cá nhân kinh doanh</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>
												<xs:element name="CTietCNKD" maxOccurs="unbounded">
													<xs:complexType>
														<xs:sequence>
															<xs:element name=" ct07" type="xs:string" nillable="true">
																<xs:annotation>
																	<xs:documentation>Họ và tên NNT</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="ct08" type="TINType" nillable="true">
																<xs:annotation>
																	<xs:documentation>Mã số thuế</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="ct09" type="xs:string" nillable="true">
																<xs:annotation>
																	<xs:documentation>Số CMND/ Hộ chiếu</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="ct10" type="xs:long" nillable="true">
																<xs:annotation>
																	<xs:documentation>Doanh thu trong kỳ</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="ct11" type="xs:long" nillable="true">
																<xs:annotation>
																	<xs:documentation>Tổng Doanh thu thuộc diện chịu thuế</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="ct12" type="xs:long" nillable="true">
																<xs:annotation>
																	<xs:documentation>Doanh thu thuộc diện chịu thuế: phần làm việc trong khu kinh tế</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="ct13" type="xs:long" nillable="true">
																<xs:annotation>
																	<xs:documentation>Số thuế GTGT phát sinh</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="ct14" type="xs:long" nillable="true">
																<xs:annotation>
																	<xs:documentation>Số thuế TNCN phát sinh</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="ct15" type="xs:long" nillable="true">
																<xs:annotation>
																	<xs:documentation>Số thuế TNCN được giảm trong khu kinh tế</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="ct16" type="xs:long" nillable="true">
																<xs:annotation>
																	<xs:documentation>Số thuế TNCN phải nộp [16]=[14]-[15]</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="ct17" type="xs:long" nillable="true">
																<xs:annotation>
																	<xs:documentation>Tổng số thuế phải nộp [17]=[13]+[16]</xs:documentation>
																</xs:annotation>
															</xs:element>
														</xs:sequence>
														<xs:attribute name="id" type="xs:string"/>
													</xs:complexType>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name="ct18" type="xs:long" nillable="true">
										<xs:annotation>
											<xs:documentation>Tổng Doanh thu trong kỳ</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct19" type="xs:long" nillable="true">
										<xs:annotation>
											<xs:documentation>Tổng Doanh thu thuộc diện chịu thuế</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct20" type="xs:long" nillable="true">
										<xs:annotation>
											<xs:documentation>Tổng Doanh thu thuộc diện chịu thuế Làm việc trong KKT</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct21" type="xs:long" nillable="true">
										<xs:annotation>
											<xs:documentation>Tổng Số thuế GTGT phát sinh</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct22" type="xs:long" nillable="true">
										<xs:annotation>
											<xs:documentation>Tổng Số thuế TNCN phát sinh </xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct23" type="xs:long" nillable="true">
										<xs:annotation>
											<xs:documentation>Tổng  Số thuế TNCN được giảm trong khu kinh tế</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct24" type="xs:long" nillable="true">
										<xs:annotation>
											<xs:documentation>Tổng Số thuế TNCN phải nộp</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct25" type="xs:long" nillable="true">
										<xs:annotation>
											<xs:documentation>Tổng Tổng số thuế phải nộp</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="PLuc_01_1_PL_CNKD" minOccurs="0">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="ThueGTGT">
										<xs:annotation>
											<xs:documentation>Tổng số thuế GTGT</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>
												<xs:element name="ct12_1" type="xs:nonNegativeInteger">
													<xs:annotation>
														<xs:documentation>Số tiền thuế phát sinh phải nộp</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct12_2" type="xs:nonNegativeInteger">
													<xs:annotation>
														<xs:documentation>Số tiền thuế được miễn</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct12_3" type="xs:nonNegativeInteger">
													<xs:annotation>
														<xs:documentation>Số thuế phải nộp sau miễn thuế</xs:documentation>
													</xs:annotation>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name="ThueTNCN">
										<xs:annotation>
											<xs:documentation>Tổng số thuế TNCN</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>
												<xs:element name="ct13_1" type="xs:nonNegativeInteger">
													<xs:annotation>
														<xs:documentation>Số tiền thuế phát sinh phải nộp</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct13_2" type="xs:nonNegativeInteger">
													<xs:annotation>
														<xs:documentation>Số tiền thuế được miễn</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct13_3" type="xs:nonNegativeInteger">
													<xs:annotation>
														<xs:documentation>Số thuế phải nộp sau miễn thuế</xs:documentation>
													</xs:annotation>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name="ThueTTDB">
										<xs:annotation>
											<xs:documentation>Tổng số thuế TTĐB</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>
												<xs:element name="tong_ct14_1" type="xs:nonNegativeInteger">
													<xs:annotation>
														<xs:documentation>Tổng [14] Số tiền thuế phát sinh phải nộp</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="tong_ct14_2" type="xs:nonNegativeInteger">
													<xs:annotation>
														<xs:documentation>Tổng [14] Số tiền thuế được miễn</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="tong_ct14_3" type="xs:nonNegativeInteger">
													<xs:annotation>
														<xs:documentation>Tổng [14] Số thuế phải nộp sau miễn thuế</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="CTietThueTTDB" maxOccurs="unbounded">
													<xs:complexType>
														<xs:sequence>
															<xs:element name="ct14_ma" type="xs:string" nillable="true">
																<xs:annotation>
																	<xs:documentation>Mã Hàng hoá, dịch vụ chịu thuế tiêu thụ đặc biệt (TTĐB)</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="ct14_ten" type="xs:string" nillable="true">
																<xs:annotation>
																	<xs:documentation>Tên Hàng hoá, dịch vụ chịu thuế tiêu thụ đặc biệt (TTĐB)</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="ct14_1" type="xs:nonNegativeInteger">
																<xs:annotation>
																	<xs:documentation>Số tiền thuế phát sinh phải nộp</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="ct14_2" type="xs:nonNegativeInteger">
																<xs:annotation>
																	<xs:documentation>Số tiền thuế được miễn</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="ct14_3" type="xs:nonNegativeInteger">
																<xs:annotation>
																	<xs:documentation>Số thuế phải nộp sau miễn thuế</xs:documentation>
																</xs:annotation>
															</xs:element>
														</xs:sequence>
														<xs:attribute name="id" type="xs:string"/>
													</xs:complexType>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name="ThueTAIN">
										<xs:annotation>
											<xs:documentation>Tổng số thuế Tài nguyên</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>
												<xs:element name="tong_ct15_1" type="xs:nonNegativeInteger">
													<xs:annotation>
														<xs:documentation>Tổng [15] Số tiền thuế phát sinh phải nộp</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="tong_ct15_2" type="xs:nonNegativeInteger">
													<xs:annotation>
														<xs:documentation>Tổng [15] Số tiền thuế được miễn</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="tong_ct15_3" type="xs:nonNegativeInteger">
													<xs:annotation>
														<xs:documentation>Tổng [15] Số thuế phải nộp sau miễn thuế</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="CTietThueTAIN" maxOccurs="unbounded">
													<xs:complexType>
														<xs:sequence>
															<xs:element name="ct15_ma" type="xs:string" nillable="true">
																<xs:annotation>
																	<xs:documentation>Mã tài nguyên</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="ct15_ten" type="xs:string" nillable="true">
																<xs:annotation>
																	<xs:documentation>Tên tài nguyên</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="ct15_1" type="xs:nonNegativeInteger">
																<xs:annotation>
																	<xs:documentation>Số tiền thuế phát sinh phải nộp</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="ct15_2" type="xs:nonNegativeInteger">
																<xs:annotation>
																	<xs:documentation>Số tiền thuế được miễn</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="ct15_3" type="xs:nonNegativeInteger">
																<xs:annotation>
																	<xs:documentation>Số thuế phải nộp sau miễn thuế</xs:documentation>
																</xs:annotation>
															</xs:element>
														</xs:sequence>
														<xs:attribute name="id" type="xs:string"/>
													</xs:complexType>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name="ThueBVMT">
										<xs:annotation>
											<xs:documentation>Tổng số Thuế BVMT</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>
												<xs:element name="tong_ct16_1" type="xs:nonNegativeInteger">
													<xs:annotation>
														<xs:documentation>Tổng [16] Số tiền thuế phát sinh phải nộp</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="tong_ct16_2" type="xs:nonNegativeInteger">
													<xs:annotation>
														<xs:documentation>Tổng [16] Số tiền thuế được miễn</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="tong_ct16_3" type="xs:nonNegativeInteger">
													<xs:annotation>
														<xs:documentation>Tổng [16] Số thuế phải nộp sau miễn thuế</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="CTietThueBVMT" maxOccurs="unbounded">
													<xs:complexType>
														<xs:sequence>
															<xs:element name="ct16_ma" type="xs:string" nillable="true">
																<xs:annotation>
																	<xs:documentation>Mã Hàng hoá</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="ct16_ten" type="xs:string" nillable="true">
																<xs:annotation>
																	<xs:documentation>Tên Hàng hoá</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="ct16_1" type="xs:nonNegativeInteger">
																<xs:annotation>
																	<xs:documentation>Số tiền thuế phát sinh phải nộp</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="ct16_2" type="xs:nonNegativeInteger">
																<xs:annotation>
																	<xs:documentation>Số tiền thuế được miễn</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="ct16_3" type="xs:nonNegativeInteger">
																<xs:annotation>
																	<xs:documentation>Số thuế phải nộp sau miễn thuế</xs:documentation>
																</xs:annotation>
															</xs:element>
														</xs:sequence>
														<xs:attribute name="id" type="xs:string"/>
													</xs:complexType>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="PL01_KHBS" minOccurs="0">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="Header">
										<xs:annotation>
											<xs:documentation>Thông tin chung</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>
												<xs:element name="maTKhai" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>Mã tờ khai</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="tenTKhai" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>Tên tờ khai</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="maGiaoDich" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>Mã giao dịch điện tử</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="KyKKhaiThue">
													<xs:annotation>
														<xs:documentation>Kỳ kê khai thuế</xs:documentation>
													</xs:annotation>
													<xs:complexType>
														<xs:sequence>
															<xs:element name="kieuKy">
																<xs:annotation>
																	<xs:documentation>Kiểu kỳ</xs:documentation>
																</xs:annotation>
																<xs:simpleType>
																	<xs:restriction base="xs:string">
																		<xs:pattern value="D|M|Y|K|Q"/>
																	</xs:restriction>
																</xs:simpleType>
															</xs:element>
															<xs:element name="kyKKhai" type="xs:string">
																<xs:annotation>
																	<xs:documentation>Quý: Q/YYYY, ngày: DD/MM/YYYY, tháng: MM/YYYY, năm: YYYY, Kỳ: K/YYYY</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="kyKKhaiTuNgay" type="xs:string">
																<xs:annotation>
																	<xs:documentation>Định dạng DD/MM/YYYY</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="kyKKhaiDenNgay" type="xs:string">
																<xs:annotation>
																	<xs:documentation>Định dạng DD/MM/YYYY</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="kyKKhaiTuThang" type="xs:string">
																<xs:annotation>
																	<xs:documentation>Định dạng MM/YYYY</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="kyKKhaiDenThang" type="xs:string">
																<xs:annotation>
																	<xs:documentation>Định dạng MM/YYYY</xs:documentation>
																</xs:annotation>
															</xs:element>
														</xs:sequence>
													</xs:complexType>
												</xs:element>
												<xs:element name="soLan" type="xs:nonNegativeInteger">
													<xs:annotation>
														<xs:documentation>Số lần</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="mst" type="TINType">
													<xs:annotation>
														<xs:documentation>Mã số thuế NNT</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="tenNNT" type="xs:token">
													<xs:annotation>
														<xs:documentation>Tên NNT</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="mstDLyThue" type="TINType" nillable="true">
													<xs:annotation>
														<xs:documentation>Mã số thuế đại lý thuế</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="tenDLyThue" type="xs:token" nillable="true">
													<xs:annotation>
														<xs:documentation>Tên đại lý thuế</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="soHDongDLyThue" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>Số hợp đồng đại lý thuế</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ngayKyHDDLyThue" type="xs:date" nillable="true">
													<xs:annotation>
														<xs:documentation>Ngày ký hợp đồng</xs:documentation>
													</xs:annotation>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name="ma_DonViTien" type="xs:string" nillable="true">
										<xs:annotation>
											<xs:documentation>Mã đơn vị tiền</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ten_DonViTien" type="xs:string" nillable="true">
										<xs:annotation>
											<xs:documentation>Tên đơn vị tiền</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="Muc_A">
										<xs:annotation>
											<xs:documentation>A. Xác định tăng/giảm số thuế phải nộp và tiền chậm nộp, tăng/giảm số thuế được khấu trừ, tăng/giảm số thuế đề nghị hoàn</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>
												<xs:element name="Muc_I">
													<xs:annotation>
														<xs:documentation>I. Xác định tăng/giảm số thuế phải nộp và tiền chậm nộp:</xs:documentation>
													</xs:annotation>
													<xs:complexType>
														<xs:sequence>
															<xs:element name="Muc_1">
																<xs:annotation>
																	<xs:documentation>1. Số thuế phải nộp trên tờ khai điều chỉnh tăng/giảm</xs:documentation>
																</xs:annotation>
																<xs:complexType>
																	<xs:sequence>
																		<xs:element name="ChiTiet" maxOccurs="unbounded">
																			<xs:complexType>
																				<xs:sequence>
																					<xs:element name="ct2_ma" type="xs:string" nillable="true">
																						<xs:annotation>
																							<xs:documentation>Mã tiểu mục</xs:documentation>
																						</xs:annotation>
																					</xs:element>
																					<xs:element name="ct2_ten" type="xs:string" nillable="true">
																						<xs:annotation>
																							<xs:documentation>Tên tiểu mục</xs:documentation>
																						</xs:annotation>
																					</xs:element>
																					<xs:element name="ct3" type="xs:long" nillable="true">
																						<xs:annotation>
																							<xs:documentation>Tăng/giảm số thuế phải nộp (tăng ghi (+), giảm ghi (-))</xs:documentation>
																						</xs:annotation>
																					</xs:element>
																				</xs:sequence>
																				<xs:attribute name="id" type="xs:string" use="required"/>
																			</xs:complexType>
																		</xs:element>
																		<xs:element name="tongCong_ct10" type="xs:long" nillable="true">
																			<xs:annotation>
																				<xs:documentation>Tăng/giảm số thuế phải nộp (tăng ghi (+), giảm ghi (-))</xs:documentation>
																			</xs:annotation>
																		</xs:element>
																	</xs:sequence>
																</xs:complexType>
															</xs:element>
															<xs:element name="Muc_2">
																<xs:annotation>
																	<xs:documentation>2. Số thuế phải nộp trên Phụ lục phân bổ điều chỉnh tăng/giảm</xs:documentation>
																</xs:annotation>
																<xs:complexType>
																	<xs:sequence>
																		<xs:element name="DSachPLuc">
																			<xs:complexType>
																				<xs:sequence>
																					<xs:element name="BKePLuc" maxOccurs="unbounded">
																						<xs:complexType>
																							<xs:sequence>
																								<xs:element name="ma_PLuc" type="xs:string" nillable="true">
																									<xs:annotation>
																										<xs:documentation>Mã phụ lục</xs:documentation>
																									</xs:annotation>
																								</xs:element>
																								<xs:element name="ten_PLuc" type="xs:string" nillable="true">
																									<xs:annotation>
																										<xs:documentation>Tên phụ lục</xs:documentation>
																									</xs:annotation>
																								</xs:element>
																								<xs:element name="CTietPLuc">
																									<xs:complexType>
																										<xs:sequence>
																											<xs:element name="ChiTiet" minOccurs="0" maxOccurs="unbounded">
																												<xs:complexType>
																													<xs:sequence>
																														<xs:element name="ct2_ma" type="xs:string" nillable="true">
																															<xs:annotation>
																																<xs:documentation>Mã đơn vị phụ thuộc, địa điểm kinh doanh/tên mặt hàng/tỉnh nơi không có đơn vị phụ thuộc/địa điểm kinh doanh/đơn vị tiêu thụ/cơ sở khai thác></xs:documentation>
																															</xs:annotation>
																														</xs:element>
																														<xs:element name="ct2_ten" type="xs:string" nillable="true">
																															<xs:annotation>
																																<xs:documentation>Tên đơn vị phụ thuộc, địa điểm kinh doanh/tên mặt hàng/tỉnh nơi không có đơn vị phụ thuộc/địa điểm kinh doanh/đơn vị tiêu thụ/cơ sở khai thác</xs:documentation>
																															</xs:annotation>
																														</xs:element>
																														<xs:element name="ct3_ma" type="xs:string" nillable="true">
																															<xs:annotation>
																																<xs:documentation>Mã số thuế/mã số địa điểm kinh doanh (nếu có)</xs:documentation>
																															</xs:annotation>
																														</xs:element>
																														<xs:element name="ct3_ten" type="xs:string" nillable="true">
																															<xs:annotation>
																																<xs:documentation>Tên Mã số thuế/mã số địa điểm kinh doanh (nếu có)</xs:documentation>
																															</xs:annotation>
																														</xs:element>
																														<xs:element name="ct04_ma" type="xs:string" nillable="true">
																															<xs:annotation>
																																<xs:documentation>Mã huyện</xs:documentation>
																															</xs:annotation>
																														</xs:element>
																														<xs:element name="ct04_ten" type="xs:string" nillable="true">
																															<xs:annotation>
																																<xs:documentation>Tên huyện</xs:documentation>
																															</xs:annotation>
																														</xs:element>
																														<xs:element name="ct05_ma" type="xs:string" nillable="true">
																															<xs:annotation>
																																<xs:documentation>Mã tỉnh</xs:documentation>
																															</xs:annotation>
																														</xs:element>
																														<xs:element name="ct05_ten" type="xs:string" nillable="true">
																															<xs:annotation>
																																<xs:documentation>Tên tỉnh</xs:documentation>
																															</xs:annotation>
																														</xs:element>
																														<xs:element name="ct06_ma" type="xs:string" nillable="true">
																															<xs:annotation>
																																<xs:documentation>Mã cơ quan thuế quản lý địa bàn nhận phân bổ</xs:documentation>
																															</xs:annotation>
																														</xs:element>
																														<xs:element name="ct06_ten" type="xs:string" nillable="true">
																															<xs:annotation>
																																<xs:documentation>Tên cơ quan thuế quản lý địa bàn nhận phân bổ</xs:documentation>
																															</xs:annotation>
																														</xs:element>
																														<xs:element name="ct7" type="xs:long" nillable="true">
																															<xs:annotation>
																																<xs:documentation>Số tiền thuế phải nộp điều chỉnh tăng/ giảm (tăng ghi (+), giảm ghi (-))</xs:documentation>
																															</xs:annotation>
																														</xs:element>
																													</xs:sequence>
																													<xs:attribute name="id" type="xs:string" use="required"/>
																												</xs:complexType>
																											</xs:element>
																										</xs:sequence>
																									</xs:complexType>
																								</xs:element>
																							</xs:sequence>
																							<xs:attribute name="id" type="xs:string" use="required"/>
																						</xs:complexType>
																					</xs:element>
																					<xs:element name="tongCong_ct11" type="xs:long" nillable="true">
																						<xs:annotation>
																							<xs:documentation>Tăng/giảm số thuế phải nộp (tăng ghi (+), giảm ghi (-))</xs:documentation>
																						</xs:annotation>
																					</xs:element>
																				</xs:sequence>
																			</xs:complexType>
																		</xs:element>
																	</xs:sequence>
																</xs:complexType>
															</xs:element>
															<xs:element name="Muc_3">
																<xs:annotation>
																	<xs:documentation>3. Xác định số tiền chậm nộp điều chỉnh tăng/giảm (tăng ghi (+), giảm ghi (-)):</xs:documentation>
																</xs:annotation>
																<xs:complexType>
																	<xs:sequence>
																		<xs:element name="ct3a_1" type="xs:date" nillable="true">
																			<xs:annotation>
																				<xs:documentation>Đến ngày</xs:documentation>
																			</xs:annotation>
																		</xs:element>
																		<xs:element name="ct3a_2" type="xs:long" nillable="true">
																			<xs:annotation>
																				<xs:documentation>Số ngày chậm nộp</xs:documentation>
																			</xs:annotation>
																		</xs:element>
																		<xs:element name="ct3b" type="xs:long" nillable="true">
																			<xs:annotation>
																				<xs:documentation>Số tiền chậm nộp tăng/giảm</xs:documentation>
																			</xs:annotation>
																		</xs:element>
																	</xs:sequence>
																</xs:complexType>
															</xs:element>
														</xs:sequence>
													</xs:complexType>
												</xs:element>
												<xs:element name="Muc_II">
													<xs:annotation>
														<xs:documentation>II. Số thuế được khấu trừ điều chỉnh tăng/giảm</xs:documentation>
													</xs:annotation>
													<xs:complexType>
														<xs:sequence>
															<xs:element name="ChiTiet" maxOccurs="unbounded">
																<xs:complexType>
																	<xs:sequence>
																		<xs:element name="ct2_ma" type="xs:string" nillable="true">
																			<xs:annotation>
																				<xs:documentation>Mã tiểu mục</xs:documentation>
																			</xs:annotation>
																		</xs:element>
																		<xs:element name="ct2_ten" type="xs:string" nillable="true">
																			<xs:annotation>
																				<xs:documentation>Tên tiểu mục</xs:documentation>
																			</xs:annotation>
																		</xs:element>
																		<xs:element name="ct3" type="xs:long" nillable="true">
																			<xs:annotation>
																				<xs:documentation>Tăng/giảm số thuế phải nộp (tăng ghi (+), giảm ghi (-))</xs:documentation>
																			</xs:annotation>
																		</xs:element>
																	</xs:sequence>
																	<xs:attribute name="id" type="xs:string" use="required"/>
																</xs:complexType>
															</xs:element>
															<xs:element name="tongCong_ct12" type="xs:long" nillable="true">
																<xs:annotation>
																	<xs:documentation>Tăng/giảm số thuế phải nộp (tăng ghi (+), giảm ghi (-))</xs:documentation>
																</xs:annotation>
															</xs:element>
														</xs:sequence>
													</xs:complexType>
												</xs:element>
												<xs:element name="Muc_III">
													<xs:annotation>
														<xs:documentation>III. Số thuế đề nghị hoàn điều chỉnh tăng/giảm</xs:documentation>
													</xs:annotation>
													<xs:complexType>
														<xs:sequence>
															<xs:element name="ChiTiet" maxOccurs="unbounded">
																<xs:complexType>
																	<xs:sequence>
																		<xs:element name="ct2_ma" type="xs:string" nillable="true">
																			<xs:annotation>
																				<xs:documentation>Mã tiểu mục</xs:documentation>
																			</xs:annotation>
																		</xs:element>
																		<xs:element name="ct2_ten" type="xs:string" nillable="true">
																			<xs:annotation>
																				<xs:documentation>Tên tiểu mục</xs:documentation>
																			</xs:annotation>
																		</xs:element>
																		<xs:element name="ct3" type="xs:long" nillable="true">
																			<xs:annotation>
																				<xs:documentation>Tăng/giảm số thuế phải nộp (tăng ghi (+), giảm ghi (-))</xs:documentation>
																			</xs:annotation>
																		</xs:element>
																	</xs:sequence>
																	<xs:attribute name="id" type="xs:string" use="required"/>
																</xs:complexType>
															</xs:element>
															<xs:element name="tongCong_ct13" type="xs:long" nillable="true">
																<xs:annotation>
																	<xs:documentation>Tăng/giảm số thuế phải nộp (tăng ghi (+), giảm ghi (-))</xs:documentation>
																</xs:annotation>
															</xs:element>
														</xs:sequence>
													</xs:complexType>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name="Muc_B">
										<xs:annotation>
											<xs:documentation>B. Số thuế thu hồi hoàn và tiền chậm nộp (nếu có):</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>
												<xs:element name="Muc_I">
													<xs:annotation>
														<xs:documentation>I. Số thuế thu hồi hoàn</xs:documentation>
													</xs:annotation>
													<xs:complexType>
														<xs:sequence>
															<xs:element name="ct_1" type="xs:long" nillable="true">
																<xs:annotation>
																	<xs:documentation>1. Số tiền thu hồi hoàn</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="ct_2_so" type="xs:string" nillable="true">
																<xs:annotation>
																	<xs:documentation>Quyết định hoàn thuế: Số </xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="ct_2_ngay" type="xs:date" nillable="true">
																<xs:annotation>
																	<xs:documentation>Quyết định hoàn thuế: ngày</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="ct_2_CQT_ma" type="xs:string" nillable="true">
																<xs:annotation>
																	<xs:documentation>Quyết định hoàn thuế: CQT ban hành</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="ct_2_CQT_ten" type="xs:string" nillable="true">
																<xs:annotation>
																	<xs:documentation>Quyết định hoàn thuế: CQT ban hành</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="ct_3_so" type="xs:string" nillable="true">
																<xs:annotation>
																	<xs:documentation>Lệnh hoàn thuế: Số </xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="ct_3_ngay" type="xs:date" nillable="true">
																<xs:annotation>
																	<xs:documentation>Lệnh hoàn thuế: Ngày</xs:documentation>
																</xs:annotation>
															</xs:element>
														</xs:sequence>
													</xs:complexType>
												</xs:element>
												<xs:element name="Muc_II">
													<xs:annotation>
														<xs:documentation>II. Tiền chậm nộp</xs:documentation>
													</xs:annotation>
													<xs:complexType>
														<xs:sequence>
															<xs:element name="ct_1" type="xs:long" nillable="true">
																<xs:annotation>
																	<xs:documentation>1. Số ngày nhận được tiền hoàn thuế</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="ct_2" type="xs:long" nillable="true">
																<xs:annotation>
																	<xs:documentation>2. Số tiền chậm nộp </xs:documentation>
																</xs:annotation>
															</xs:element>
														</xs:sequence>
													</xs:complexType>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="PL01_1_KHBS" minOccurs="0">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="Header">
										<xs:annotation>
											<xs:documentation>Thông tin chung</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>
												<xs:element name="maTKhai" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>Mã tờ khai</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="tenTKhai" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>Tên tờ khai</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="maGiaoDich" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>Mã giao dịch điện tử</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="KyKKhaiThue">
													<xs:annotation>
														<xs:documentation>Kỳ kê khai thuế</xs:documentation>
													</xs:annotation>
													<xs:complexType>
														<xs:sequence>
															<xs:element name="kieuKy">
																<xs:annotation>
																	<xs:documentation>Kiểu kỳ</xs:documentation>
																</xs:annotation>
																<xs:simpleType>
																	<xs:restriction base="xs:string">
																		<xs:pattern value="D|M|Y|K|Q"/>
																	</xs:restriction>
																</xs:simpleType>
															</xs:element>
															<xs:element name="kyKKhai" type="xs:string">
																<xs:annotation>
																	<xs:documentation>Quý: Q/YYYY, ngày: DD/MM/YYYY, tháng: MM/YYYY, năm: YYYY, Kỳ: K/YYYY</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="kyKKhaiTuNgay" type="xs:string">
																<xs:annotation>
																	<xs:documentation>Định dạng DD/MM/YYYY</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="kyKKhaiDenNgay" type="xs:string">
																<xs:annotation>
																	<xs:documentation>Định dạng DD/MM/YYYY</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="kyKKhaiTuThang" type="xs:string">
																<xs:annotation>
																	<xs:documentation>Định dạng MM/YYYY</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="kyKKhaiDenThang" type="xs:string">
																<xs:annotation>
																	<xs:documentation>Định dạng MM/YYYY</xs:documentation>
																</xs:annotation>
															</xs:element>
														</xs:sequence>
													</xs:complexType>
												</xs:element>
												<xs:element name="soLan" type="xs:nonNegativeInteger">
													<xs:annotation>
														<xs:documentation>Số lần</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="mst" type="TINType">
													<xs:annotation>
														<xs:documentation>Mã số thuế NNT</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="tenNNT" type="xs:token">
													<xs:annotation>
														<xs:documentation>Tên NNT</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="mstDLyThue" type="TINType" nillable="true">
													<xs:annotation>
														<xs:documentation>Mã số thuế đại lý thuế</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="tenDLyThue" type="xs:token" nillable="true">
													<xs:annotation>
														<xs:documentation>Tên đại lý thuế</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="soHDongDLyThue" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>Số hợp đồng đại lý thuế</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ngayKyHDDLyThue" type="xs:date" nillable="true">
													<xs:annotation>
														<xs:documentation>Ngày ký hợp đồng</xs:documentation>
													</xs:annotation>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name="ma_DonViTien" type="xs:string" nillable="true">
										<xs:annotation>
											<xs:documentation>Mã đơn vị tiền</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ten_DonViTien" type="xs:string" nillable="true">
										<xs:annotation>
											<xs:documentation>Tên đơn vị tiền</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="Muc_A">
										<xs:annotation>
											<xs:documentation>A. Thông tin khai bổ sung</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>
												<xs:element name="DSachHSo">
													<xs:complexType>
														<xs:sequence>
															<xs:element name="BKeHSo" maxOccurs="unbounded">
																<xs:complexType>
																	<xs:sequence>
																		<xs:element name="ma_HSo" type="xs:string" nillable="true">
																			<xs:annotation>
																				<xs:documentation>Mã hồ sơ</xs:documentation>
																			</xs:annotation>
																		</xs:element>
																		<xs:element name="ten_HSo" type="xs:string" nillable="true">
																			<xs:annotation>
																				<xs:documentation>Tên hồ sơ</xs:documentation>
																			</xs:annotation>
																		</xs:element>
																		<xs:element name="CTietHSo">
																			<xs:complexType>
																				<xs:sequence>
																					<xs:element name="ChiTiet" minOccurs="0" maxOccurs="unbounded">
																						<xs:complexType>
																							<xs:sequence>
																								<xs:element name="ct2_ma" type="xs:string" nillable="true">
																									<xs:annotation>
																										<xs:documentation>Mã Tên chỉ tiêu 
điều chỉnh/ Tên hàng hóa, dịch vụ</xs:documentation>
																									</xs:annotation>
																								</xs:element>
																								<xs:element name="ct2_ten" type="xs:string" nillable="true">
																									<xs:annotation>
																										<xs:documentation>Tên Tên chỉ tiêu 
điều chỉnh/ Tên hàng hóa, dịch vụ</xs:documentation>
																									</xs:annotation>
																								</xs:element>
																								<xs:element name="ct3_ma" type="xs:string" nillable="true">
																									<xs:annotation>
																										<xs:documentation>Mã số chỉ tiêu</xs:documentation>
																									</xs:annotation>
																								</xs:element>
																								<xs:element name="ct3_ten" type="xs:string" nillable="true">
																									<xs:annotation>
																										<xs:documentation>Tên Mã số chỉ tiêu</xs:documentation>
																									</xs:annotation>
																								</xs:element>
																								<xs:element name="ct3_1_ma" type="xs:string" nillable="true">
																									<xs:annotation>
																										<xs:documentation>Mã số chỉ tiêu Dành cho đơn vị phụ thuộc/nhà máy...</xs:documentation>
																									</xs:annotation>
																								</xs:element>
																								<xs:element name="ct3_1_ten" type="xs:string" nillable="true">
																									<xs:annotation>
																										<xs:documentation>Tên Mã số chỉ tiêu Dành cho đơn vị phụ thuộc/nhà máy...</xs:documentation>
																									</xs:annotation>
																								</xs:element>
																								<xs:element name="ct3_2_ma" type="xs:string" nillable="true">
																									<xs:annotation>
																										<xs:documentation>Mã số chỉ tiêu Dành cho đ  những mẫu không có key, nhập dạng text </xs:documentation>
																									</xs:annotation>
																								</xs:element>
																								<xs:element name="ct3_2_ten" type="xs:string" nillable="true">
																									<xs:annotation>
																										<xs:documentation>Tên Mã số chỉ tiêu Dành cho  những mẫu không có key, nhập dạng text .</xs:documentation>
																									</xs:annotation>
																								</xs:element>
																								<xs:element name="ct04" type="xs:string" nillable="true">
																									<xs:annotation>
																										<xs:documentation>Số đã kê khai</xs:documentation>
																									</xs:annotation>
																								</xs:element>
																								<xs:element name="ct05" type="xs:string" nillable="true">
																									<xs:annotation>
																										<xs:documentation>Số điều chỉnh</xs:documentation>
																									</xs:annotation>
																								</xs:element>
																								<xs:element name="ct06" type="xs:long" nillable="true">
																									<xs:annotation>
																										<xs:documentation>Chênh lệch/thay đổi giữa số điều chỉnh với số đã kê khai</xs:documentation>
																									</xs:annotation>
																								</xs:element>
																								<xs:element name="ct7" type="xs:long" nillable="true">
																									<xs:annotation>
																										<xs:documentation>Điều chỉnh tăng/giảm nghĩa vụ thuế</xs:documentation>
																									</xs:annotation>
																								</xs:element>
																								<xs:element name="ct8" type="xs:string" nillable="true">
																									<xs:annotation>
																										<xs:documentation>Lý do</xs:documentation>
																									</xs:annotation>
																								</xs:element>
																							</xs:sequence>
																							<xs:attribute name="id" type="xs:string" use="required"/>
																						</xs:complexType>
																					</xs:element>
																				</xs:sequence>
																			</xs:complexType>
																		</xs:element>
																	</xs:sequence>
																	<xs:attribute name="id" type="xs:string" use="required"/>
																</xs:complexType>
															</xs:element>
															<xs:element name="TongCong">
																<xs:complexType>
																	<xs:sequence>
																		<xs:element name="tongCong_7" type="xs:long" nillable="true">
																			<xs:annotation>
																				<xs:documentation>Tổng cộng (tăng +, giảm -) phải nộp:</xs:documentation>
																			</xs:annotation>
																		</xs:element>
																		<xs:element name="tongCong_8" type="xs:long" nillable="true">
																			<xs:annotation>
																				<xs:documentation>Tổng cộng (tăng +, giảm -) khấu trừ:</xs:documentation>
																			</xs:annotation>
																		</xs:element>
																		<xs:element name="tongCong_9" type="xs:long" nillable="true">
																			<xs:annotation>
																				<xs:documentation>Tổng cộng (tăng +, giảm -) đề nghị hoàn:</xs:documentation>
																			</xs:annotation>
																		</xs:element>
																	</xs:sequence>
																</xs:complexType>
															</xs:element>
														</xs:sequence>
													</xs:complexType>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name="Muc_B">
										<xs:annotation>
											<xs:documentation>B. Tài liệu kèm theo (nếu có)</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>
												<xs:element name="CTietTaiLieu" maxOccurs="unbounded">
													<xs:complexType>
														<xs:sequence>
															<xs:element name="ma_TLieu" type="xs:string" nillable="true">
																<xs:annotation>
																	<xs:documentation>Mã tài liệu</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="ten_TLieu" type="xs:string" nillable="true">
																<xs:annotation>
																	<xs:documentation>Tên tài liệu</xs:documentation>
																</xs:annotation>
															</xs:element>
														</xs:sequence>
														<xs:attribute name="id" type="xs:string" use="required"/>
													</xs:complexType>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:redefine>
	<xs:complexType name="BangKKThueGTGT">
		<xs:sequence>
			<xs:element name="ct30" type="xs:long" nillable="true">
				<xs:annotation>
					<xs:documentation>Phân phối, cung cấp hàng hóa</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ct31" type="xs:long" nillable="true">
				<xs:annotation>
					<xs:documentation>Dịch vụ, xây dựng không bao thầu  nguyên vật liệu</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ct32" type="xs:long" nillable="true">
				<xs:annotation>
					<xs:documentation>Sản xuất, vận tải, dịch vụ có gắn với hàng hóa, xây dựng có bao thầu nguyên vật liệu</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ct33" type="xs:long" nillable="true">
				<xs:annotation>
					<xs:documentation>Hoạt động kinh doanh khác </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ct34" type="xs:long" nillable="true">
				<xs:annotation>
					<xs:documentation>Tổng cộng</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
