HTKK/InterfaceTemplates/Validate/KHBS_01_TTDB_TT80_251.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2010 (http://www.altova.com) by MESMERiZE (MiZE) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://kekhaithue.gdt.gov.vn/TKhaiThue" targetNamespace="http://kekhaithue.gdt.gov.vn/TKhaiThue" elementFormDefault="qualified" attributeFormDefault="unqualified" version="2.0.1">
	<xs:redefine schemaLocation="../TKhaiThue.xsd">
		<xs:complexType name="CTieuTKhaiChinhType">
			<xs:annotation>
				<xs:documentation>Tờ khai thuế tiêu thụ đặc biệt - 01/TTĐB </xs:documentation>
			</xs:annotation>
			<xs:complexContent>
				<xs:extension base="CTieuTKhaiChinhType">
					<xs:sequence>
						<xs:element name="Header" nillable="true">
							<xs:annotation>
								<xs:documentation>Thông tin chung</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="ct09" type="xs:string" nillable="true">
										<xs:annotation>
											<xs:documentation>Tên đơn vị phụ thuộc/địa điểm kinh doanh của hoạt động sản xuất kinh doanh khác tỉnh nơi đóng trụ sở chính</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct10" type="xs:string" nillable="true">
										<xs:annotation>
											<xs:documentation>Mã số thuế đơn vị phụ thuộc/Mã số địa điểm kinh doanh</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="DiaChiHDSXKDKhacTinhNDTSC">
										<xs:annotation>
											<xs:documentation>Địa chỉ nơi có hoạt động sản xuất kinh doanh khác tỉnh nơi đóng trụ sở chính</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>
												<xs:element name="ct11a_phuongXa_ma" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>Địa chỉ: mã Phường/xã</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct11a_phuongXa_ten" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>Địa chỉ: Tên Phường/xã</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct11b_quanHuyen_ma" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>Địa chỉ: mã Quận/Huyện </xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct11bquanHuyen_ten" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>Địa chỉ: tên Quận/Huyện </xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct11c_tinhTP_ma" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>Địa chỉ: mã Tỉnh/Tp</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct11c_tinhTP_ten" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>Địa chỉ: tên Tỉnh/Tp</xs:documentation>
													</xs:annotation>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="ma_NganhNghe" type="xs:string" nillable="true">
							<xs:annotation>
								<xs:documentation>Mã ngành nghề</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="ten_NganhNghe" type="xs:string" nillable="true">
							<xs:annotation>
								<xs:documentation>Tên ngành nghề</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="tieuMucHachToan" type="tieuMucHT_empty">
							<xs:annotation>
								<xs:documentation>Tiểu mục hạch toán</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="BangChiTietThueTTDB" nillable="true">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="HangHoaChiuThueTTDB" nillable="true" minOccurs="0">
										<xs:annotation>
											<xs:documentation>I. Hàng hoá chịu thuế TTĐB</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>
												<xs:element name="tongDongIcot5" type="xs:nonNegativeInteger" nillable="true">
													<xs:annotation>
														<xs:documentation>Tổng Doanh thu bán 
(chưa có thuế GTGT)</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="tongDongIcot6" type="xs:decimal" nillable="true">
													<xs:annotation>
														<xs:documentation>TổngGiá tính thuế TTĐB</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="tongDongIcot8" type="xs:nonNegativeInteger" nillable="true">
													<xs:annotation>
														<xs:documentation>TổngThuế TTĐB được khấu trừ</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="tongDongIcot9" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>Tổng Thuế TTĐB phải nộp</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="tongDongIcot10" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>Tổng Bù trừ với thuế TTĐB chưa được khấu trừ của xăng khoáng nguyên liệu dùng để sản xuất, pha chế xăng sinh học (nếu có)</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="tongDongIcot11" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>Tổng Thuế TTĐB còn phải nộp</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="HHoaSXTrongNuoc" nillable="true">
													<xs:annotation>
														<xs:documentation>1. Hàng hóa sản xuất trong nước</xs:documentation>
													</xs:annotation>
													<xs:complexType>
														<xs:sequence>
															<xs:element name="NDungHHoaSXTrongNuoc" type="NDungTKhaiTTDBType" nillable="true" maxOccurs="unbounded"/>
														</xs:sequence>
													</xs:complexType>
												</xs:element>
												<xs:element name="HHoaNKBanRaTrongNuoc" nillable="true">
													<xs:annotation>
														<xs:documentation>2. Hàng hóa nhập khẩu</xs:documentation>
													</xs:annotation>
													<xs:complexType>
														<xs:sequence>
															<xs:element name="NDungHHoaNKBanRaTrongNuoc" type="NDungTKhaiTTDBType" nillable="true" maxOccurs="unbounded"/>
														</xs:sequence>
													</xs:complexType>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name="DVuChiuThueTTDB" nillable="true" minOccurs="0">
										<xs:annotation>
											<xs:documentation>II. Dịch vụ chịu thuế TTĐB</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>
												<xs:element name="tongDongIIcot5" type="xs:nonNegativeInteger" nillable="true">
													<xs:annotation>
														<xs:documentation>Tổng Doanh số bán 
(chưa có thuế GTGT)</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="tongDongIIcot6" type="xs:decimal" nillable="true">
													<xs:annotation>
														<xs:documentation>Tổng Giá tính thuế TTĐB</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="tongDongIIcot8" type="xs:nonNegativeInteger" nillable="true">
													<xs:annotation>
														<xs:documentation>Tổng Thuế TTĐB được khấu trừ</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="tongDongIIcot9" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>Tổng Thuế TTĐB phải nộp</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="tongDongIIcot10" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>Tổng Bù trừ với thuế TTĐB chưa được khấu trừ của xăng khoáng nguyên liệu dùng để sản xuất, pha chế xăng sinh học (nếu có)</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="tongDongIIcot11" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>Tổng Thuế TTĐB còn phải nộp</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="NDungDichVuChiuTheTTDB" nillable="true" maxOccurs="unbounded">
													<xs:complexType>
														<xs:sequence>
															<xs:element name="stt" type="xs:string" nillable="true">
																<xs:annotation>
																	<xs:documentation>Số thứ tự</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="ct2_maHH" type="xs:string" nillable="true">
																<xs:annotation>
																	<xs:documentation>Mã dịch vụ chịu thuế TTĐB</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="ct2_tenHH" type="xs:string" nillable="true">
																<xs:annotation>
																	<xs:documentation>Tên dịch vụ chịu thuế TTĐB</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="ct3" type="xs:string" nillable="true">
																<xs:annotation>
																	<xs:documentation>Đơn vị tính</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="ct4" type="xs:decimal" nillable="true">
																<xs:annotation>
																	<xs:documentation>Sản lượng tiêu thụ trong kỳ</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="ct5" type="xs:nonNegativeInteger" nillable="true">
																<xs:annotation>
																	<xs:documentation>Doanh thu bán 
(chưa có thuế GTGT)</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="ct6" type="xs:decimal" nillable="true">
																<xs:annotation>
																	<xs:documentation>Giá tính thuế TTĐB </xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="ct7" type="xs:decimal" nillable="true">
																<xs:annotation>
																	<xs:documentation>Thuế suất (%)</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="ct8" type="xs:nonNegativeInteger" nillable="true">
																<xs:annotation>
																	<xs:documentation>Thuế TTĐB được khấu trừ
</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="ct9" type="xs:long" nillable="true">
																<xs:annotation>
																	<xs:documentation>Thuế TTĐB phải nộp (9) = (6) x (7) - (8)</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="ct10" type="xs:long" nillable="true">
																<xs:annotation>
																	<xs:documentation>Bù trừ với thuế TTĐB chưa được khấu trừ của xăng khoáng nguyên liệu dùng để sản xuất, pha chế xăng sinh học (nếu có)</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="ct11" type="xs:long" nillable="true">
																<xs:annotation>
																	<xs:documentation>Thuế TTĐB còn phải nộp (11) = (9) - (10) </xs:documentation>
																</xs:annotation>
															</xs:element>
														</xs:sequence>
														<xs:attribute name="id" type="xs:string"/>
													</xs:complexType>
												</xs:element>
											</xs:sequence>
											<xs:attribute name="id" type="xs:string"/>
										</xs:complexType>
									</xs:element>
									<xs:element name="HHoaKhongChiuThueTTDB" nillable="true" minOccurs="0">
										<xs:annotation>
											<xs:documentation>III. Hàng hoá thuộc trường hợp không phải chịu thuế TTĐB</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>
												<xs:element name="tongDongIIIcot5" type="xs:nonNegativeInteger" nillable="true">
													<xs:annotation>
														<xs:documentation>Tổng doanh số chưa có GTGT (của hàng hóa không chịu thuế)
</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="HangHoaXuatKhau" nillable="true">
													<xs:annotation>
														<xs:documentation>1. Hàng hoá xuất khẩu</xs:documentation>
													</xs:annotation>
													<xs:complexType>
														<xs:sequence>
															<xs:element name="NDungHangHoaXuatKhau" nillable="true" minOccurs="0" maxOccurs="unbounded">
																<xs:complexType>
																	<xs:sequence>
																		<xs:element name="stt" type="xs:string" nillable="true">
																			<xs:annotation>
																				<xs:documentation>Số thứ tự</xs:documentation>
																			</xs:annotation>
																		</xs:element>
																		<xs:element name="ct2_maHH" type="xs:string" nillable="true">
																			<xs:annotation>
																				<xs:documentation>Mã hàng hoá xuất khẩu</xs:documentation>
																			</xs:annotation>
																		</xs:element>
																		<xs:element name="ct2_tenHH" type="xs:string" nillable="true">
																			<xs:annotation>
																				<xs:documentation>Tên hàng hoá xuất khẩu</xs:documentation>
																			</xs:annotation>
																		</xs:element>
																		<xs:element name="ct3" type="xs:string" nillable="true">
																			<xs:annotation>
																				<xs:documentation>Đơn vị tính</xs:documentation>
																			</xs:annotation>
																		</xs:element>
																		<xs:element name="ct4" type="xs:decimal" nillable="true">
																			<xs:annotation>
																				<xs:documentation>Sản lượng tiêu thụ trong kỳ</xs:documentation>
																			</xs:annotation>
																		</xs:element>
																		<xs:element name="ct5" type="xs:nonNegativeInteger" nillable="true">
																			<xs:annotation>
																				<xs:documentation>Doanh thu bán 
(chưa có thuế GTGT)</xs:documentation>
																			</xs:annotation>
																		</xs:element>
																		<xs:element name="ct6" type="xs:decimal" nillable="true">
																			<xs:annotation>
																				<xs:documentation>Giá tính thuế TTĐB </xs:documentation>
																			</xs:annotation>
																		</xs:element>
																		<xs:element name="ct7" type="xs:decimal" nillable="true">
																			<xs:annotation>
																				<xs:documentation>Thuế suất (%)</xs:documentation>
																			</xs:annotation>
																		</xs:element>
																		<xs:element name="ct8" type="xs:nonNegativeInteger" nillable="true">
																			<xs:annotation>
																				<xs:documentation>Thuế TTĐB được khấu trừ
</xs:documentation>
																			</xs:annotation>
																		</xs:element>
																		<xs:element name="ct9" type="xs:long" nillable="true">
																			<xs:annotation>
																				<xs:documentation>Thuế TTĐB phải nộp (9) = (6) x (7) - (8)</xs:documentation>
																			</xs:annotation>
																		</xs:element>
																		<xs:element name="ct10" type="xs:long" nillable="true">
																			<xs:annotation>
																				<xs:documentation>Bù trừ với thuế TTĐB chưa được khấu trừ của xăng khoáng nguyên liệu dùng để sản xuất, pha chế xăng sinh học (nếu có)</xs:documentation>
																			</xs:annotation>
																		</xs:element>
																		<xs:element name="ct11" type="xs:long" nillable="true">
																			<xs:annotation>
																				<xs:documentation>Thuế TTĐB còn phải nộp (11) = (9) - (10) </xs:documentation>
																			</xs:annotation>
																		</xs:element>
																	</xs:sequence>
																	<xs:attribute name="id" type="xs:string"/>
																</xs:complexType>
															</xs:element>
														</xs:sequence>
													</xs:complexType>
												</xs:element>
												<xs:element name="HangHoaBanDeXuatKhau" nillable="true">
													<xs:annotation>
														<xs:documentation>2. Hàng hoá bán để xuất khẩu</xs:documentation>
													</xs:annotation>
													<xs:complexType>
														<xs:sequence>
															<xs:element name="NDungHHBanDeXuatKhau" nillable="true" minOccurs="0" maxOccurs="unbounded">
																<xs:complexType>
																	<xs:sequence>
																		<xs:element name="stt" type="xs:string" nillable="true">
																			<xs:annotation>
																				<xs:documentation>Số thứ tự</xs:documentation>
																			</xs:annotation>
																		</xs:element>
																		<xs:element name="ct2_maHH" type="xs:string" nillable="true">
																			<xs:annotation>
																				<xs:documentation>Mã hàng hoá bán để xuất khẩu</xs:documentation>
																			</xs:annotation>
																		</xs:element>
																		<xs:element name="ct2_tenHH" type="xs:string" nillable="true">
																			<xs:annotation>
																				<xs:documentation>Tên hàng hoá bán để xuất khẩu</xs:documentation>
																			</xs:annotation>
																		</xs:element>
																		<xs:element name="ct3" type="xs:string" nillable="true">
																			<xs:annotation>
																				<xs:documentation>Đơn vị tính</xs:documentation>
																			</xs:annotation>
																		</xs:element>
																		<xs:element name="ct4" type="xs:decimal" nillable="true">
																			<xs:annotation>
																				<xs:documentation>Sản lượng tiêu thụ trong kỳ</xs:documentation>
																			</xs:annotation>
																		</xs:element>
																		<xs:element name="ct5" type="xs:nonNegativeInteger" nillable="true">
																			<xs:annotation>
																				<xs:documentation>Doanh thu bán 
(chưa có thuế GTGT)</xs:documentation>
																			</xs:annotation>
																		</xs:element>
																		<xs:element name="ct6" type="xs:decimal" nillable="true">
																			<xs:annotation>
																				<xs:documentation>Giá tính thuế TTĐB </xs:documentation>
																			</xs:annotation>
																		</xs:element>
																		<xs:element name="ct7" type="xs:decimal" nillable="true">
																			<xs:annotation>
																				<xs:documentation>Thuế suất (%)</xs:documentation>
																			</xs:annotation>
																		</xs:element>
																		<xs:element name="ct8" type="xs:nonNegativeInteger" nillable="true">
																			<xs:annotation>
																				<xs:documentation>Thuế TTĐB được khấu trừ
</xs:documentation>
																			</xs:annotation>
																		</xs:element>
																		<xs:element name="ct9" type="xs:long" nillable="true">
																			<xs:annotation>
																				<xs:documentation>Thuế TTĐB phải nộp (9) = (6) x (7) - (8)</xs:documentation>
																			</xs:annotation>
																		</xs:element>
																		<xs:element name="ct10" type="xs:long" nillable="true">
																			<xs:annotation>
																				<xs:documentation>Bù trừ với thuế TTĐB chưa được khấu trừ của xăng khoáng nguyên liệu dùng để sản xuất, pha chế xăng sinh học (nếu có)</xs:documentation>
																			</xs:annotation>
																		</xs:element>
																		<xs:element name="ct11" type="xs:long" nillable="true">
																			<xs:annotation>
																				<xs:documentation>Thuế TTĐB còn phải nộp (11) = (9) - (10) </xs:documentation>
																			</xs:annotation>
																		</xs:element>
																	</xs:sequence>
																	<xs:attribute name="id" type="xs:string"/>
																</xs:complexType>
															</xs:element>
														</xs:sequence>
													</xs:complexType>
												</xs:element>
												<xs:element name="HangHoaGiaCongDeXuatKhau" nillable="true">
													<xs:annotation>
														<xs:documentation>3. Hàng hoá gia công để xuất khẩu</xs:documentation>
													</xs:annotation>
													<xs:complexType>
														<xs:sequence>
															<xs:element name="NDungHHGiaCongDeXuatKhau" nillable="true" minOccurs="0" maxOccurs="unbounded">
																<xs:complexType>
																	<xs:sequence>
																		<xs:element name="stt" type="xs:string" nillable="true">
																			<xs:annotation>
																				<xs:documentation>Số thứ tự</xs:documentation>
																			</xs:annotation>
																		</xs:element>
																		<xs:element name="ct2_maHH" type="xs:string" nillable="true">
																			<xs:annotation>
																				<xs:documentation>Mã hàng hoá gia công để xuất khẩu</xs:documentation>
																			</xs:annotation>
																		</xs:element>
																		<xs:element name="ct2_tenHH" type="xs:string" nillable="true">
																			<xs:annotation>
																				<xs:documentation>Tên hàng hoá gia công để xuất khẩu</xs:documentation>
																			</xs:annotation>
																		</xs:element>
																		<xs:element name="ct3" type="xs:string" nillable="true">
																			<xs:annotation>
																				<xs:documentation>Đơn vị tính</xs:documentation>
																			</xs:annotation>
																		</xs:element>
																		<xs:element name="ct4" type="xs:decimal" nillable="true">
																			<xs:annotation>
																				<xs:documentation>Sản lượng tiêu thụ trong kỳ</xs:documentation>
																			</xs:annotation>
																		</xs:element>
																		<xs:element name="ct5" type="xs:nonNegativeInteger" nillable="true">
																			<xs:annotation>
																				<xs:documentation>Doanh thu bán 
(chưa có thuế GTGT)</xs:documentation>
																			</xs:annotation>
																		</xs:element>
																		<xs:element name="ct6" type="xs:decimal" nillable="true">
																			<xs:annotation>
																				<xs:documentation>Giá tính thuế TTĐB </xs:documentation>
																			</xs:annotation>
																		</xs:element>
																		<xs:element name="ct7" type="xs:decimal" nillable="true">
																			<xs:annotation>
																				<xs:documentation>Thuế suất (%)</xs:documentation>
																			</xs:annotation>
																		</xs:element>
																		<xs:element name="ct8" type="xs:nonNegativeInteger" nillable="true">
																			<xs:annotation>
																				<xs:documentation>Thuế TTĐB được khấu trừ
</xs:documentation>
																			</xs:annotation>
																		</xs:element>
																		<xs:element name="ct9" type="xs:long" nillable="true">
																			<xs:annotation>
																				<xs:documentation>Thuế TTĐB phải nộp (9) = (6) x (7) - (8)</xs:documentation>
																			</xs:annotation>
																		</xs:element>
																		<xs:element name="ct10" type="xs:long" nillable="true">
																			<xs:annotation>
																				<xs:documentation>Bù trừ với thuế TTĐB chưa được khấu trừ của xăng khoáng nguyên liệu dùng để sản xuất, pha chế xăng sinh học (nếu có)</xs:documentation>
																			</xs:annotation>
																		</xs:element>
																		<xs:element name="ct11" type="xs:long" nillable="true">
																			<xs:annotation>
																				<xs:documentation>Thuế TTĐB còn phải nộp (11) = (9) - (10) </xs:documentation>
																			</xs:annotation>
																		</xs:element>
																	</xs:sequence>
																	<xs:attribute name="id" type="xs:string"/>
																</xs:complexType>
															</xs:element>
														</xs:sequence>
													</xs:complexType>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name="tongDoanhThuBanChuaThue" type="xs:nonNegativeInteger" nillable="true">
										<xs:annotation>
											<xs:documentation>Tổng doanh số bán chưa có thuế GTGT</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="tongGiaTinhThue" type="xs:decimal" nillable="true">
										<xs:annotation>
											<xs:documentation>Tổng giá tính thuế TTĐB </xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="tongThueKhauTru" type="xs:nonNegativeInteger" nillable="true">
										<xs:annotation>
											<xs:documentation>Thuế TTĐB được khấu trừ</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="tongThuePhaiNop" type="xs:long" nillable="true">
										<xs:annotation>
											<xs:documentation>Thuế TTĐB phải nộp</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="tongBuTru" type="xs:long" nillable="true">
										<xs:annotation>
											<xs:documentation>Tổng Bù trừ với thuế TTĐB chưa được khấu trừ của xăng khoáng nguyên liệu dùng để sản xuất, pha chế xăng sinh học (nếu có)</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="tongThueConPhaiNop" type="xs:long" nillable="true">
										<xs:annotation>
											<xs:documentation>Tổng Thuế TTĐB còn phải nộp</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
		<xs:complexType name="PLucType">
			<xs:complexContent>
				<xs:extension base="PLucType">
					<xs:sequence>
						<xs:element name="Pluc_01_2_TTDB" minOccurs="0">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="PLucXDinhThueTTDBKhauTru">
										<xs:complexType>
											<xs:sequence>
												<xs:element name="ThueTTDBKhauTruCuaNVL">
													<xs:annotation>
														<xs:documentation>I. Bảng tính thuế tiêu thụ đặc biệt (TTĐB) được khấu trừ của nguyên liệu mua vào, nhập khẩu sản xuất hàng chịu thuế TTĐB</xs:documentation>
													</xs:annotation>
													<xs:complexType>
														<xs:sequence>
															<xs:element name="NDungThueTTDBKhauTruCuaNVL" type="NDungThueTTDBKhauTruCuaNVL" maxOccurs="unbounded"/>
															<xs:element name="ct15" type="xs:decimal" nillable="true">
																<xs:annotation>
																	<xs:documentation>Tổng cộng cột 7</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="ct16" type="xs:long" nillable="true">
																<xs:annotation>
																	<xs:documentation>Tổng cộng cột 8</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="ct17" type="xs:decimal" nillable="true">
																<xs:annotation>
																	<xs:documentation>Tổng cộng cột 9</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="ct18" type="xs:decimal" nillable="true">
																<xs:annotation>
																	<xs:documentation>Tổng cộng cột 10</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="ct19" type="xs:long" nillable="true">
																<xs:annotation>
																	<xs:documentation>Tổng cộng cột 11</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="ct20" type="xs:long" nillable="true">
																<xs:annotation>
																	<xs:documentation>Tổng cộng cột 12</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="ct21" type="xs:long" nillable="true">
																<xs:annotation>
																	<xs:documentation>Tổng cộng cột 13</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="ct22" type="xs:long" nillable="true">
																<xs:annotation>
																	<xs:documentation>Tổng cộng cột 14</xs:documentation>
																</xs:annotation>
															</xs:element>
														</xs:sequence>
													</xs:complexType>
												</xs:element>
												<xs:element name="ThueTTDBKhauTruCuaHHNK">
													<xs:annotation>
														<xs:documentation>II. Bảng tính thuế TTĐB được khấu trừ của hàng hóa nhập khẩ</xs:documentation>
													</xs:annotation>
													<xs:complexType>
														<xs:sequence>
															<xs:element name="NDungThueTTDBKhauTruCuaHHNK" type="NDungThueTTDBKhauTruCuaHHNK" maxOccurs="unbounded"/>
															<xs:element name="ct14" type="xs:decimal" nillable="true">
																<xs:annotation>
																	<xs:documentation>Tổng cộng cột 7</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="ct15" type="xs:long" nillable="true">
																<xs:annotation>
																	<xs:documentation>Tổng cộng cột 8</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="ct16" type="xs:decimal" nillable="true">
																<xs:annotation>
																	<xs:documentation>Tổng cộng cột 9</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="ct17" type="xs:long" nillable="true">
																<xs:annotation>
																	<xs:documentation>Tổng cộng cột 10</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="ct18" type="xs:long" nillable="true">
																<xs:annotation>
																	<xs:documentation>Tổng cộng cột 11</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="ct19" type="xs:long" nillable="true">
																<xs:annotation>
																	<xs:documentation>Tổng cộng cột 12</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="ct20" type="xs:long" nillable="true">
																<xs:annotation>
																	<xs:documentation>Tổng cộng cột 13</xs:documentation>
																</xs:annotation>
															</xs:element>
														</xs:sequence>
													</xs:complexType>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="Pluc_01_3_TTDB" nillable="true" minOccurs="0">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="BangPhanBoDoiVoiHDKDXSDT" nillable="true">
										<xs:complexType>
											<xs:sequence>
												<xs:element name="ct06" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>Tổng số thuế TTĐB phải nộp trên tờ khai</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct07" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>Tổng doanh thu thực tế</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="NoiDungBangPhanBo" nillable="true" minOccurs="0" maxOccurs="unbounded">
													<xs:annotation>
														<xs:documentation>Địa bàn </xs:documentation>
													</xs:annotation>
													<xs:complexType>
														<xs:sequence>
															<xs:element name="stt" type="xs:string" nillable="true">
																<xs:annotation>
																	<xs:documentation>Số thứ tự</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="loai" type="xs:string" nillable="true">
																<xs:annotation>
																	<xs:documentation>01: Tên đơn vị phụ thuộc khác tỉnh với nơi NNT đóng trụ sở chính, 02:Tên địa điểm kinh doanh khác tỉnh với nơi NNT đóng trụ sở chính, 03: Nơi không có đơn vị phụ thuộc/địa điểm kinh doanh  </xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="ct09" type="xs:string" nillable="true">
																<xs:annotation>
																	<xs:documentation>Chỉ tiêu</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="ct10" type="xs:string" nillable="true">
																<xs:annotation>
																	<xs:documentation>Mã số thuế/Mã địa điểm kinh doanh</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="DiaBanHDSXKD" nillable="true">
																<xs:annotation>
																	<xs:documentation>Địa bàn hoạt động sản xuất, kinh doanh</xs:documentation>
																</xs:annotation>
																<xs:complexType>
																	<xs:sequence>
																		<xs:element name="ct11_huyen_ma" type="xs:string" nillable="true">
																			<xs:annotation>
																				<xs:documentation>Mã huyện</xs:documentation>
																			</xs:annotation>
																		</xs:element>
																		<xs:element name="ct11_huyen_ten" type="xs:string" nillable="true">
																			<xs:annotation>
																				<xs:documentation>Tên huyện</xs:documentation>
																			</xs:annotation>
																		</xs:element>
																		<xs:element name="ct12_tinh_ma" type="xs:string" nillable="true">
																			<xs:annotation>
																				<xs:documentation>Mã tỉnh</xs:documentation>
																			</xs:annotation>
																		</xs:element>
																		<xs:element name="ct12_tinh_ten" type="xs:string" nillable="true">
																			<xs:annotation>
																				<xs:documentation>Tên tỉnh</xs:documentation>
																			</xs:annotation>
																		</xs:element>
																	</xs:sequence>
																</xs:complexType>
															</xs:element>
															<xs:element name="ct13_cqt_ma" type="xs:string" nillable="true">
																<xs:annotation>
																	<xs:documentation>Mã cơ quan thuế quản lý địa bàn nhận phân bổ</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="ct13_cqt_ten" type="xs:string" nillable="true">
																<xs:annotation>
																	<xs:documentation>Tên cơ quan thuế quản lý địa bàn nhận phân bổ</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="ct14" type="xs:nonNegativeInteger" nillable="true">
																<xs:annotation>
																	<xs:documentation>Doanh thu bán vé thực tế theo từng tỉnh</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="ct15" type="xs:decimal" nillable="true">
																<xs:annotation>
																	<xs:documentation>Tỷ lệ doanh thu bán vé thực tế theo từng tỉnh (%) [15]=[14]/
[07]x100%
</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="ct16" type="xs:nonNegativeInteger" nillable="true">
																<xs:annotation>
																	<xs:documentation>Số thuế TTĐB               phải nộp cho từng tỉnh [16]= [06]x[15]</xs:documentation>
																</xs:annotation>
															</xs:element>
														</xs:sequence>
														<xs:attribute name="id" type="xs:string" use="required"/>
													</xs:complexType>
												</xs:element>
												<xs:element name="cong_ct17" nillable="true" maxOccurs="unbounded">
													<xs:annotation>
														<xs:documentation>Cộng theo từng tỉnh .....</xs:documentation>
													</xs:annotation>
													<xs:complexType>
														<xs:sequence>
															<xs:element name="ct17" type="xs:nonNegativeInteger" nillable="true">
																<xs:annotation>
																	<xs:documentation>Số thuế TTĐB               phải nộp cho từng tỉnh</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="ct17_tinh_ma" type="xs:string" nillable="true">
																<xs:annotation>
																	<xs:documentation>Mã tỉnh</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="ct17_tinh_ten" type="xs:string" nillable="true">
																<xs:annotation>
																	<xs:documentation>Tên tỉnh</xs:documentation>
																</xs:annotation>
															</xs:element>
														</xs:sequence>
														<xs:attribute name="id" use="required"/>
													</xs:complexType>
												</xs:element>
												<xs:element name="ct18" type="xs:nonNegativeInteger" nillable="true">
													<xs:annotation>
														<xs:documentation>Cộng các tỉnh khác nơi NNT đóng trụ sở chính [18]=
∑[17] 
</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct19" type="xs:nonNegativeInteger" nillable="true">
													<xs:annotation>
														<xs:documentation>Số thuế phải nộp cho nơi NNT đóng trụ sở chính ([19]= [06]-[18])</xs:documentation>
													</xs:annotation>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="PL01_KHBS" minOccurs="0">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="Header">
										<xs:annotation>
											<xs:documentation>Thông tin chung</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>
												<xs:element name="maTKhai" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>Mã tờ khai</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="tenTKhai" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>Tên tờ khai</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="maGiaoDich" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>Mã giao dịch điện tử</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="KyKKhaiThue">
													<xs:annotation>
														<xs:documentation>Kỳ kê khai thuế</xs:documentation>
													</xs:annotation>
													<xs:complexType>
														<xs:sequence>
															<xs:element name="kieuKy">
																<xs:annotation>
																	<xs:documentation>Kiểu kỳ</xs:documentation>
																</xs:annotation>
																<xs:simpleType>
																	<xs:restriction base="xs:string">
																		<xs:pattern value="D|M|Y|K|Q"/>
																	</xs:restriction>
																</xs:simpleType>
															</xs:element>
															<xs:element name="kyKKhai" type="xs:string">
																<xs:annotation>
																	<xs:documentation>Quý: Q/YYYY, ngày: DD/MM/YYYY, tháng: MM/YYYY, năm: YYYY, Kỳ: K/YYYY</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="kyKKhaiTuNgay" type="xs:string">
																<xs:annotation>
																	<xs:documentation>Định dạng DD/MM/YYYY</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="kyKKhaiDenNgay" type="xs:string">
																<xs:annotation>
																	<xs:documentation>Định dạng DD/MM/YYYY</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="kyKKhaiTuThang" type="xs:string">
																<xs:annotation>
																	<xs:documentation>Định dạng MM/YYYY</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="kyKKhaiDenThang" type="xs:string">
																<xs:annotation>
																	<xs:documentation>Định dạng MM/YYYY</xs:documentation>
																</xs:annotation>
															</xs:element>
														</xs:sequence>
													</xs:complexType>
												</xs:element>
												<xs:element name="soLan" type="xs:nonNegativeInteger">
													<xs:annotation>
														<xs:documentation>Số lần</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="mst" type="TINType">
													<xs:annotation>
														<xs:documentation>Mã số thuế NNT</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="tenNNT" type="xs:token">
													<xs:annotation>
														<xs:documentation>Tên NNT</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="mstDLyThue" type="TINType" nillable="true">
													<xs:annotation>
														<xs:documentation>Mã số thuế đại lý thuế</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="tenDLyThue" type="xs:token" nillable="true">
													<xs:annotation>
														<xs:documentation>Tên đại lý thuế</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="soHDongDLyThue" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>Số hợp đồng đại lý thuế</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ngayKyHDDLyThue" type="xs:date" nillable="true">
													<xs:annotation>
														<xs:documentation>Ngày ký hợp đồng</xs:documentation>
													</xs:annotation>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name="ma_DonViTien" type="xs:string" nillable="true">
										<xs:annotation>
											<xs:documentation>Mã đơn vị tiền</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ten_DonViTien" type="xs:string" nillable="true">
										<xs:annotation>
											<xs:documentation>Tên đơn vị tiền</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="Muc_A">
										<xs:annotation>
											<xs:documentation>A. Xác định tăng/giảm số thuế phải nộp và tiền chậm nộp, tăng/giảm số thuế được khấu trừ, tăng/giảm số thuế đề nghị hoàn</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>
												<xs:element name="Muc_I">
													<xs:annotation>
														<xs:documentation>I. Xác định tăng/giảm số thuế phải nộp và tiền chậm nộp:</xs:documentation>
													</xs:annotation>
													<xs:complexType>
														<xs:sequence>
															<xs:element name="Muc_1">
																<xs:annotation>
																	<xs:documentation>1. Số thuế phải nộp trên tờ khai điều chỉnh tăng/giảm</xs:documentation>
																</xs:annotation>
																<xs:complexType>
																	<xs:sequence>
																		<xs:element name="ChiTiet" maxOccurs="unbounded">
																			<xs:complexType>
																				<xs:sequence>
																					<xs:element name="ct2_ma" type="xs:string" nillable="true">
																						<xs:annotation>
																							<xs:documentation>Mã tiểu mục</xs:documentation>
																						</xs:annotation>
																					</xs:element>
																					<xs:element name="ct2_ten" type="xs:string" nillable="true">
																						<xs:annotation>
																							<xs:documentation>Tên tiểu mục</xs:documentation>
																						</xs:annotation>
																					</xs:element>
																					<xs:element name="ct3" type="xs:long" nillable="true">
																						<xs:annotation>
																							<xs:documentation>Tăng/giảm số thuế phải nộp (tăng ghi (+), giảm ghi (-))</xs:documentation>
																						</xs:annotation>
																					</xs:element>
																				</xs:sequence>
																				<xs:attribute name="id" type="xs:string" use="required"/>
																			</xs:complexType>
																		</xs:element>
																		<xs:element name="tongCong_ct10" type="xs:long" nillable="true">
																			<xs:annotation>
																				<xs:documentation>Tăng/giảm số thuế phải nộp (tăng ghi (+), giảm ghi (-))</xs:documentation>
																			</xs:annotation>
																		</xs:element>
																	</xs:sequence>
																</xs:complexType>
															</xs:element>
															<xs:element name="Muc_2">
																<xs:annotation>
																	<xs:documentation>2. Số thuế phải nộp trên Phụ lục phân bổ điều chỉnh tăng/giảm</xs:documentation>
																</xs:annotation>
																<xs:complexType>
																	<xs:sequence>
																		<xs:element name="DSachPLuc">
																			<xs:complexType>
																				<xs:sequence>
																					<xs:element name="BKePLuc" maxOccurs="unbounded">
																						<xs:complexType>
																							<xs:sequence>
																								<xs:element name="ma_PLuc" type="xs:string" nillable="true">
																									<xs:annotation>
																										<xs:documentation>Mã phụ lục</xs:documentation>
																									</xs:annotation>
																								</xs:element>
																								<xs:element name="ten_PLuc" type="xs:string" nillable="true">
																									<xs:annotation>
																										<xs:documentation>Tên phụ lục</xs:documentation>
																									</xs:annotation>
																								</xs:element>
																								<xs:element name="CTietPLuc">
																									<xs:complexType>
																										<xs:sequence>
																											<xs:element name="ChiTiet" minOccurs="0" maxOccurs="unbounded">
																												<xs:complexType>
																													<xs:sequence>
																														<xs:element name="ct2_ma" type="xs:string" nillable="true">
																															<xs:annotation>
																																<xs:documentation>Mã đơn vị phụ thuộc, địa điểm kinh doanh/tên mặt hàng/tỉnh nơi không có đơn vị phụ thuộc/địa điểm kinh doanh/đơn vị tiêu thụ/cơ sở khai thác></xs:documentation>
																															</xs:annotation>
																														</xs:element>
																														<xs:element name="ct2_ten" type="xs:string" nillable="true">
																															<xs:annotation>
																																<xs:documentation>Tên đơn vị phụ thuộc, địa điểm kinh doanh/tên mặt hàng/tỉnh nơi không có đơn vị phụ thuộc/địa điểm kinh doanh/đơn vị tiêu thụ/cơ sở khai thác</xs:documentation>
																															</xs:annotation>
																														</xs:element>
																														<xs:element name="ct3_ma" type="xs:string" nillable="true">
																															<xs:annotation>
																																<xs:documentation>Mã số thuế/mã số địa điểm kinh doanh (nếu có)</xs:documentation>
																															</xs:annotation>
																														</xs:element>
																														<xs:element name="ct3_ten" type="xs:string" nillable="true">
																															<xs:annotation>
																																<xs:documentation>Tên Mã số thuế/mã số địa điểm kinh doanh (nếu có)</xs:documentation>
																															</xs:annotation>
																														</xs:element>
																														<xs:element name="ct04_ma" type="xs:string" nillable="true">
																															<xs:annotation>
																																<xs:documentation>Mã huyện</xs:documentation>
																															</xs:annotation>
																														</xs:element>
																														<xs:element name="ct04_ten" type="xs:string" nillable="true">
																															<xs:annotation>
																																<xs:documentation>Tên huyện</xs:documentation>
																															</xs:annotation>
																														</xs:element>
																														<xs:element name="ct05_ma" type="xs:string" nillable="true">
																															<xs:annotation>
																																<xs:documentation>Mã tỉnh</xs:documentation>
																															</xs:annotation>
																														</xs:element>
																														<xs:element name="ct05_ten" type="xs:string" nillable="true">
																															<xs:annotation>
																																<xs:documentation>Tên tỉnh</xs:documentation>
																															</xs:annotation>
																														</xs:element>
																														<xs:element name="ct06_ma" type="xs:string" nillable="true">
																															<xs:annotation>
																																<xs:documentation>Mã cơ quan thuế quản lý địa bàn nhận phân bổ</xs:documentation>
																															</xs:annotation>
																														</xs:element>
																														<xs:element name="ct06_ten" type="xs:string" nillable="true">
																															<xs:annotation>
																																<xs:documentation>Tên cơ quan thuế quản lý địa bàn nhận phân bổ</xs:documentation>
																															</xs:annotation>
																														</xs:element>
																														<xs:element name="ct7" type="xs:long" nillable="true">
																															<xs:annotation>
																																<xs:documentation>Số tiền thuế phải nộp điều chỉnh tăng/ giảm (tăng ghi (+), giảm ghi (-))</xs:documentation>
																															</xs:annotation>
																														</xs:element>
																													</xs:sequence>
																													<xs:attribute name="id" type="xs:string" use="required"/>
																												</xs:complexType>
																											</xs:element>
																										</xs:sequence>
																									</xs:complexType>
																								</xs:element>
																							</xs:sequence>
																							<xs:attribute name="id" type="xs:string" use="required"/>
																						</xs:complexType>
																					</xs:element>
																					<xs:element name="tongCong_ct11" type="xs:long" nillable="true">
																						<xs:annotation>
																							<xs:documentation>Tăng/giảm số thuế phải nộp (tăng ghi (+), giảm ghi (-))</xs:documentation>
																						</xs:annotation>
																					</xs:element>
																				</xs:sequence>
																			</xs:complexType>
																		</xs:element>
																	</xs:sequence>
																</xs:complexType>
															</xs:element>
															<xs:element name="Muc_3">
																<xs:annotation>
																	<xs:documentation>3. Xác định số tiền chậm nộp điều chỉnh tăng/giảm (tăng ghi (+), giảm ghi (-)):</xs:documentation>
																</xs:annotation>
																<xs:complexType>
																	<xs:sequence>
																		<xs:element name="ct3a_1" type="xs:date" nillable="true">
																			<xs:annotation>
																				<xs:documentation>Đến ngày</xs:documentation>
																			</xs:annotation>
																		</xs:element>
																		<xs:element name="ct3a_2" type="xs:long" nillable="true">
																			<xs:annotation>
																				<xs:documentation>Số ngày chậm nộp</xs:documentation>
																			</xs:annotation>
																		</xs:element>
																		<xs:element name="ct3b" type="xs:long" nillable="true">
																			<xs:annotation>
																				<xs:documentation>Số tiền chậm nộp tăng/giảm</xs:documentation>
																			</xs:annotation>
																		</xs:element>
																	</xs:sequence>
																</xs:complexType>
															</xs:element>
														</xs:sequence>
													</xs:complexType>
												</xs:element>
												<xs:element name="Muc_II">
													<xs:annotation>
														<xs:documentation>II. Số thuế được khấu trừ điều chỉnh tăng/giảm</xs:documentation>
													</xs:annotation>
													<xs:complexType>
														<xs:sequence>
															<xs:element name="ChiTiet" maxOccurs="unbounded">
																<xs:complexType>
																	<xs:sequence>
																		<xs:element name="ct2_ma" type="xs:string" nillable="true">
																			<xs:annotation>
																				<xs:documentation>Mã tiểu mục</xs:documentation>
																			</xs:annotation>
																		</xs:element>
																		<xs:element name="ct2_ten" type="xs:string" nillable="true">
																			<xs:annotation>
																				<xs:documentation>Tên tiểu mục</xs:documentation>
																			</xs:annotation>
																		</xs:element>
																		<xs:element name="ct3" type="xs:long" nillable="true">
																			<xs:annotation>
																				<xs:documentation>Tăng/giảm số thuế phải nộp (tăng ghi (+), giảm ghi (-))</xs:documentation>
																			</xs:annotation>
																		</xs:element>
																	</xs:sequence>
																	<xs:attribute name="id" type="xs:string" use="required"/>
																</xs:complexType>
															</xs:element>
															<xs:element name="tongCong_ct12" type="xs:long" nillable="true">
																<xs:annotation>
																	<xs:documentation>Tăng/giảm số thuế phải nộp (tăng ghi (+), giảm ghi (-))</xs:documentation>
																</xs:annotation>
															</xs:element>
														</xs:sequence>
													</xs:complexType>
												</xs:element>
												<xs:element name="Muc_III">
													<xs:annotation>
														<xs:documentation>III. Số thuế đề nghị hoàn điều chỉnh tăng/giảm</xs:documentation>
													</xs:annotation>
													<xs:complexType>
														<xs:sequence>
															<xs:element name="ChiTiet" maxOccurs="unbounded">
																<xs:complexType>
																	<xs:sequence>
																		<xs:element name="ct2_ma" type="xs:string" nillable="true">
																			<xs:annotation>
																				<xs:documentation>Mã tiểu mục</xs:documentation>
																			</xs:annotation>
																		</xs:element>
																		<xs:element name="ct2_ten" type="xs:string" nillable="true">
																			<xs:annotation>
																				<xs:documentation>Tên tiểu mục</xs:documentation>
																			</xs:annotation>
																		</xs:element>
																		<xs:element name="ct3" type="xs:long" nillable="true">
																			<xs:annotation>
																				<xs:documentation>Tăng/giảm số thuế phải nộp (tăng ghi (+), giảm ghi (-))</xs:documentation>
																			</xs:annotation>
																		</xs:element>
																	</xs:sequence>
																	<xs:attribute name="id" type="xs:string" use="required"/>
																</xs:complexType>
															</xs:element>
															<xs:element name="tongCong_ct13" type="xs:long" nillable="true">
																<xs:annotation>
																	<xs:documentation>Tăng/giảm số thuế phải nộp (tăng ghi (+), giảm ghi (-))</xs:documentation>
																</xs:annotation>
															</xs:element>
														</xs:sequence>
													</xs:complexType>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name="Muc_B">
										<xs:annotation>
											<xs:documentation>B. Số thuế thu hồi hoàn và tiền chậm nộp (nếu có):</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>
												<xs:element name="Muc_I">
													<xs:annotation>
														<xs:documentation>I. Số thuế thu hồi hoàn</xs:documentation>
													</xs:annotation>
													<xs:complexType>
														<xs:sequence>
															<xs:element name="ct_1" type="xs:long" nillable="true">
																<xs:annotation>
																	<xs:documentation>1. Số tiền thu hồi hoàn</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="ct_2_so" type="xs:string" nillable="true">
																<xs:annotation>
																	<xs:documentation>Quyết định hoàn thuế: Số </xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="ct_2_ngay" type="xs:date" nillable="true">
																<xs:annotation>
																	<xs:documentation>Quyết định hoàn thuế: ngày</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="ct_2_CQT_ma" type="xs:string" nillable="true">
																<xs:annotation>
																	<xs:documentation>Quyết định hoàn thuế: CQT ban hành</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="ct_2_CQT_ten" type="xs:string" nillable="true">
																<xs:annotation>
																	<xs:documentation>Quyết định hoàn thuế: CQT ban hành</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="ct_3_so" type="xs:string" nillable="true">
																<xs:annotation>
																	<xs:documentation>Lệnh hoàn thuế: Số </xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="ct_3_ngay" type="xs:date" nillable="true">
																<xs:annotation>
																	<xs:documentation>Lệnh hoàn thuế: Ngày</xs:documentation>
																</xs:annotation>
															</xs:element>
														</xs:sequence>
													</xs:complexType>
												</xs:element>
												<xs:element name="Muc_II">
													<xs:annotation>
														<xs:documentation>II. Tiền chậm nộp</xs:documentation>
													</xs:annotation>
													<xs:complexType>
														<xs:sequence>
															<xs:element name="ct_1" type="xs:long" nillable="true">
																<xs:annotation>
																	<xs:documentation>1. Số ngày nhận được tiền hoàn thuế</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="ct_2" type="xs:long" nillable="true">
																<xs:annotation>
																	<xs:documentation>2. Số tiền chậm nộp </xs:documentation>
																</xs:annotation>
															</xs:element>
														</xs:sequence>
													</xs:complexType>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="PL01_1_KHBS" minOccurs="0">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="Header">
										<xs:annotation>
											<xs:documentation>Thông tin chung</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>
												<xs:element name="maTKhai" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>Mã tờ khai</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="tenTKhai" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>Tên tờ khai</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="maGiaoDich" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>Mã giao dịch điện tử</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="KyKKhaiThue">
													<xs:annotation>
														<xs:documentation>Kỳ kê khai thuế</xs:documentation>
													</xs:annotation>
													<xs:complexType>
														<xs:sequence>
															<xs:element name="kieuKy">
																<xs:annotation>
																	<xs:documentation>Kiểu kỳ</xs:documentation>
																</xs:annotation>
																<xs:simpleType>
																	<xs:restriction base="xs:string">
																		<xs:pattern value="D|M|Y|K|Q"/>
																	</xs:restriction>
																</xs:simpleType>
															</xs:element>
															<xs:element name="kyKKhai" type="xs:string">
																<xs:annotation>
																	<xs:documentation>Quý: Q/YYYY, ngày: DD/MM/YYYY, tháng: MM/YYYY, năm: YYYY, Kỳ: K/YYYY</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="kyKKhaiTuNgay" type="xs:string">
																<xs:annotation>
																	<xs:documentation>Định dạng DD/MM/YYYY</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="kyKKhaiDenNgay" type="xs:string">
																<xs:annotation>
																	<xs:documentation>Định dạng DD/MM/YYYY</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="kyKKhaiTuThang" type="xs:string">
																<xs:annotation>
																	<xs:documentation>Định dạng MM/YYYY</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="kyKKhaiDenThang" type="xs:string">
																<xs:annotation>
																	<xs:documentation>Định dạng MM/YYYY</xs:documentation>
																</xs:annotation>
															</xs:element>
														</xs:sequence>
													</xs:complexType>
												</xs:element>
												<xs:element name="soLan" type="xs:nonNegativeInteger">
													<xs:annotation>
														<xs:documentation>Số lần</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="mst" type="TINType">
													<xs:annotation>
														<xs:documentation>Mã số thuế NNT</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="tenNNT" type="xs:token">
													<xs:annotation>
														<xs:documentation>Tên NNT</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="mstDLyThue" type="TINType" nillable="true">
													<xs:annotation>
														<xs:documentation>Mã số thuế đại lý thuế</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="tenDLyThue" type="xs:token" nillable="true">
													<xs:annotation>
														<xs:documentation>Tên đại lý thuế</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="soHDongDLyThue" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>Số hợp đồng đại lý thuế</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ngayKyHDDLyThue" type="xs:date" nillable="true">
													<xs:annotation>
														<xs:documentation>Ngày ký hợp đồng</xs:documentation>
													</xs:annotation>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name="ma_DonViTien" type="xs:string" nillable="true">
										<xs:annotation>
											<xs:documentation>Mã đơn vị tiền</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ten_DonViTien" type="xs:string" nillable="true">
										<xs:annotation>
											<xs:documentation>Tên đơn vị tiền</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="Muc_A">
										<xs:annotation>
											<xs:documentation>A. Thông tin khai bổ sung</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>
												<xs:element name="DSachHSo">
													<xs:complexType>
														<xs:sequence>
															<xs:element name="BKeHSo" maxOccurs="unbounded">
																<xs:complexType>
																	<xs:sequence>
																		<xs:element name="ma_HSo" type="xs:string" nillable="true">
																			<xs:annotation>
																				<xs:documentation>Mã hồ sơ</xs:documentation>
																			</xs:annotation>
																		</xs:element>
																		<xs:element name="ten_HSo" type="xs:string" nillable="true">
																			<xs:annotation>
																				<xs:documentation>Tên hồ sơ</xs:documentation>
																			</xs:annotation>
																		</xs:element>
																		<xs:element name="CTietHSo">
																			<xs:complexType>
																				<xs:sequence>
																					<xs:element name="ChiTiet" minOccurs="0" maxOccurs="unbounded">
																						<xs:complexType>
																							<xs:sequence>
																								<xs:element name="ct2_ma" type="xs:string" nillable="true">
																									<xs:annotation>
																										<xs:documentation>Mã Tên chỉ tiêu 
điều chỉnh/ Tên hàng hóa, dịch vụ</xs:documentation>
																									</xs:annotation>
																								</xs:element>
																								<xs:element name="ct2_ten" type="xs:string" nillable="true">
																									<xs:annotation>
																										<xs:documentation>Tên Tên chỉ tiêu 
điều chỉnh/ Tên hàng hóa, dịch vụ</xs:documentation>
																									</xs:annotation>
																								</xs:element>
																								<xs:element name="ct3_ma" type="xs:string" nillable="true">
																									<xs:annotation>
																										<xs:documentation>Mã số chỉ tiêu</xs:documentation>
																									</xs:annotation>
																								</xs:element>
																								<xs:element name="ct3_ten" type="xs:string" nillable="true">
																									<xs:annotation>
																										<xs:documentation>Tên Mã số chỉ tiêu</xs:documentation>
																									</xs:annotation>
																								</xs:element>
																								<xs:element name="ct3_1_ma" type="xs:string" nillable="true">
																									<xs:annotation>
																										<xs:documentation>Mã số chỉ tiêu Dành cho đơn vị phụ thuộc/nhà máy...</xs:documentation>
																									</xs:annotation>
																								</xs:element>
																								<xs:element name="ct3_1_ten" type="xs:string" nillable="true">
																									<xs:annotation>
																										<xs:documentation>Tên Mã số chỉ tiêu Dành cho đơn vị phụ thuộc/nhà máy...</xs:documentation>
																									</xs:annotation>
																								</xs:element>
																								<xs:element name="ct3_2_ma" type="xs:string" nillable="true">
																									<xs:annotation>
																										<xs:documentation>Mã số chỉ tiêu Dành cho đ  những mẫu không có key, nhập dạng text </xs:documentation>
																									</xs:annotation>
																								</xs:element>
																								<xs:element name="ct3_2_ten" type="xs:string" nillable="true">
																									<xs:annotation>
																										<xs:documentation>Tên Mã số chỉ tiêu Dành cho  những mẫu không có key, nhập dạng text .</xs:documentation>
																									</xs:annotation>
																								</xs:element>
																								<xs:element name="ct04" type="xs:string" nillable="true">
																									<xs:annotation>
																										<xs:documentation>Số đã kê khai</xs:documentation>
																									</xs:annotation>
																								</xs:element>
																								<xs:element name="ct05" type="xs:string" nillable="true">
																									<xs:annotation>
																										<xs:documentation>Số điều chỉnh</xs:documentation>
																									</xs:annotation>
																								</xs:element>
																								<xs:element name="ct06" type="xs:decimal" nillable="true">
																									<xs:annotation>
																										<xs:documentation>Chênh lệch/thay đổi giữa số điều chỉnh với số đã kê khai</xs:documentation>
																									</xs:annotation>
																								</xs:element>
																								<xs:element name="ct7" type="xs:decimal" nillable="true">
																									<xs:annotation>
																										<xs:documentation>Điều chỉnh tăng/giảm nghĩa vụ thuế</xs:documentation>
																									</xs:annotation>
																								</xs:element>
																								<xs:element name="ct8" type="xs:string" nillable="true">
																									<xs:annotation>
																										<xs:documentation>Lý do</xs:documentation>
																									</xs:annotation>
																								</xs:element>
																							</xs:sequence>
																							<xs:attribute name="id" type="xs:string" use="required"/>
																						</xs:complexType>
																					</xs:element>
																				</xs:sequence>
																			</xs:complexType>
																		</xs:element>
																	</xs:sequence>
																	<xs:attribute name="id" type="xs:string" use="required"/>
																</xs:complexType>
															</xs:element>
															<xs:element name="TongCong">
																<xs:complexType>
																	<xs:sequence>
																		<xs:element name="tongCong_7" type="xs:decimal" nillable="true">
																			<xs:annotation>
																				<xs:documentation>Tổng cộng (tăng +, giảm -) phải nộp:</xs:documentation>
																			</xs:annotation>
																		</xs:element>
																		<xs:element name="tongCong_8" type="xs:long" nillable="true">
																			<xs:annotation>
																				<xs:documentation>Tổng cộng (tăng +, giảm -) khấu trừ:</xs:documentation>
																			</xs:annotation>
																		</xs:element>
																		<xs:element name="tongCong_9" type="xs:long" nillable="true">
																			<xs:annotation>
																				<xs:documentation>Tổng cộng (tăng +, giảm -) đề nghị hoàn:</xs:documentation>
																			</xs:annotation>
																		</xs:element>
																	</xs:sequence>
																</xs:complexType>
															</xs:element>
														</xs:sequence>
													</xs:complexType>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name="Muc_B">
										<xs:annotation>
											<xs:documentation>B. Tài liệu kèm theo (nếu có)</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>
												<xs:element name="CTietTaiLieu" maxOccurs="unbounded">
													<xs:complexType>
														<xs:sequence>
															<xs:element name="ma_TLieu" type="xs:string" nillable="true">
																<xs:annotation>
																	<xs:documentation>Mã tài liệu</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="ten_TLieu" type="xs:string" nillable="true">
																<xs:annotation>
																	<xs:documentation>Tên tài liệu</xs:documentation>
																</xs:annotation>
															</xs:element>
														</xs:sequence>
														<xs:attribute name="id" type="xs:string" use="required"/>
													</xs:complexType>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:redefine>
	<xs:complexType name="NDungTKhaiTTDBType">
		<xs:sequence>
			<xs:element name="stt" type="xs:string" nillable="true">
				<xs:annotation>
					<xs:documentation>Số thứ tự</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ct2_maHH" type="xs:string" nillable="true">
				<xs:annotation>
					<xs:documentation>Mã hàng hóa</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ct2_tenHH" type="xs:string" nillable="true">
				<xs:annotation>
					<xs:documentation>Tên hàng hóa</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ct3" type="xs:string" nillable="true">
				<xs:annotation>
					<xs:documentation>Đơn vị tính</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ct4" type="xs:decimal" nillable="true">
				<xs:annotation>
					<xs:documentation>Sản lượng tiêu thụ trong kỳ</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ct5" type="xs:nonNegativeInteger" nillable="true">
				<xs:annotation>
					<xs:documentation>Doanh thu bán 
(chưa có thuế GTGT)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ct6" type="xs:decimal" nillable="true">
				<xs:annotation>
					<xs:documentation>Giá tính thuế TTĐB </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ct7" type="xs:decimal" nillable="true">
				<xs:annotation>
					<xs:documentation>Thuế suất (%)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ct8" type="xs:nonNegativeInteger" nillable="true">
				<xs:annotation>
					<xs:documentation>Thuế TTĐB được khấu trừ
</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ct9" type="xs:long" nillable="true">
				<xs:annotation>
					<xs:documentation>Thuế TTĐB phải nộp (9) = (6) x (7) - (8)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ct10" type="xs:long" nillable="true">
				<xs:annotation>
					<xs:documentation>Bù trừ với thuế TTĐB chưa được khấu trừ của xăng khoáng nguyên liệu dùng để sản xuất, pha chế xăng sinh học (nếu có)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ct11" type="xs:long" nillable="true">
				<xs:annotation>
					<xs:documentation>Thuế TTĐB còn phải nộp (11) = (9) - (10) </xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="id" type="xs:string"/>
	</xs:complexType>
	<xs:complexType name="NDungThueTTDBKhauTruCuaNVL">
		<xs:sequence>
			<xs:element name="stt" type="xs:string" nillable="true">
				<xs:annotation>
					<xs:documentation>Số thứ tự</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="BienLaiChungTuNopThueTTDB">
				<xs:annotation>
					<xs:documentation>Chứng từ hoặc biên lai nộp thuế TTĐB</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="ct2" type="xs:string" nillable="true">
							<xs:annotation>
								<xs:documentation>Ký hiệu</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="ct3" type="xs:string" nillable="true">
							<xs:annotation>
								<xs:documentation>Số </xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="ct4" type="xs:date" nillable="true">
							<xs:annotation>
								<xs:documentation>Ngày, tháng, năm phát hành</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="ct5" type="xs:string" nillable="true">
				<xs:annotation>
					<xs:documentation>Tên hàng hóa </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ct6" type="xs:string" nillable="true">
				<xs:annotation>
					<xs:documentation>Đơn vị tính</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ct7" type="xs:decimal" nillable="true">
				<xs:annotation>
					<xs:documentation>Số lượng nguyên vật liệu mua vào, nhập khẩu</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ct8" type="xs:nonNegativeInteger" nillable="true">
				<xs:annotation>
					<xs:documentation>Thuế TTĐB đã nộp</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ct9" type="xs:decimal" nillable="true">
				<xs:annotation>
					<xs:documentation>Số lượng tiêu thụ trong kỳ </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ct10" type="xs:decimal" nillable="true">
				<xs:annotation>
					<xs:documentation>Lượng nguyên liệu trên 1 đơn vị sản phẩm tiêu thụ </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ct11" type="xs:nonNegativeInteger" nillable="true">
				<xs:annotation>
					<xs:documentation>Thuế TTĐB trên 1 đơn vị nguyên liệu đầu vào</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ct12" type="xs:nonNegativeInteger" nillable="true">
				<xs:annotation>
					<xs:documentation>Số thuế TTĐB đầu vào chưa được khấu trừ kỳ trước chuyển sang</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ct13" type="xs:nonNegativeInteger" nillable="true">
				<xs:annotation>
					<xs:documentation>Số thuế TTĐB đầu vào được khấu trừ trong kỳ tương ứng hàng hóa bán ra trong kỳ (13)=(9)x(10)x(11) và (13)≤ (8)+(12) </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ct14" type="xs:nonNegativeInteger" nillable="true">
				<xs:annotation>
					<xs:documentation>Thuế TTĐB chưa được khấu trừ chuyển kỳ sau (14)=(8)+(12)-(13)>0</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="id" type="xs:string" use="required"/>
	</xs:complexType>
	<xs:complexType name="NDungThueTTDBKhauTruCuaHHNK">
		<xs:sequence>
			<xs:element name="stt" type="xs:string" nillable="true">
				<xs:annotation>
					<xs:documentation>Số thứ tự</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="BienLaiChungTuNopThueTTDB">
				<xs:annotation>
					<xs:documentation>Chứng từ hoặc biên lai nộp thuế TTĐB</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="ct2" type="xs:string" nillable="true">
							<xs:annotation>
								<xs:documentation>Ký hiệu</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="ct3" type="xs:string" nillable="true">
							<xs:annotation>
								<xs:documentation>Số </xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="ct4" type="xs:date" nillable="true">
							<xs:annotation>
								<xs:documentation>Ngày, tháng, năm phát hành</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="ct5" type="xs:string" nillable="true">
				<xs:annotation>
					<xs:documentation>Tên hàng hóa 
nhập khẩu đã nộp thuế TTĐB </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ct6" type="xs:string" nillable="true">
				<xs:annotation>
					<xs:documentation>Đơn vị tính</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ct7" type="xs:decimal" nillable="true">
				<xs:annotation>
					<xs:documentation>Số lượng nguyên vật liệu mua vào, nhập khẩu</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ct8" type="xs:nonNegativeInteger" nillable="true">
				<xs:annotation>
					<xs:documentation>Số thuế TTĐB ở khâu nhập khẩu đã nộp</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ct9" type="xs:decimal" nillable="true">
				<xs:annotation>
					<xs:documentation>Số lượng tiêu thụ trong kỳ</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ct10" type="xs:nonNegativeInteger" nillable="true">
				<xs:annotation>
					<xs:documentation>Số thuế TTĐB đã nộp trên 1 đơn vị hàng hóa nhập khẩu</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ct11" type="xs:nonNegativeInteger" nillable="true">
				<xs:annotation>
					<xs:documentation>Số thuế TTĐB đầu vào chưa được khấu trừ kỳ trước chuyển sang</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ct12" type="xs:nonNegativeInteger" nillable="true">
				<xs:annotation>
					<xs:documentation>Số thuế TTĐB đầu vào được khấu trừ trong kỳ tương ứng hàng hóa bán ra trong kỳ (12)=(9)x(10) và (12)≤(8)+(11) </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ct13" type="xs:nonNegativeInteger" nillable="true">
				<xs:annotation>
					<xs:documentation>Thuế TTĐB chưa được khấu trừ chuyển kỳ sau (13)=(8)+(11)-(12) >0</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="id" type="xs:string" use="required"/>
	</xs:complexType>
</xs:schema>
