HTKK/InterfaceTemplates/Validate/KHBS_01_MBAI_225.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2010 rel. 3 (http://www.altova.com) by MESMERiZE (MSM) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://kekhaithue.gdt.gov.vn/TKhaiThue" targetNamespace="http://kekhaithue.gdt.gov.vn/TKhaiThue" elementFormDefault="qualified" attributeFormDefault="unqualified" version="2.1.3">
	<xs:redefine schemaLocation="../TKhaiThue.xsd">
		<xs:complexType name="CTieuTKhaiChinhType">
			<xs:complexContent>
				<xs:extension base="CTieuTKhaiChinhType">
					<xs:sequence>
						<xs:element name="ChonToKhai">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="tkChinhThucLanDau" type="xs:boolean" nillable="true">
										<xs:annotation>
											<xs:documentation>Khai phí môn bài chính thức lần đầu</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="boSung_tkChinhThucLanDau" type="xs:boolean" nillable="true">
										<xs:annotation>
											<xs:documentation>Khai phí môn bài bổ sung cho tờ khai chính thức lần đầu </xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="tkChiNhanhMoiThanhLap" type="xs:boolean" nillable="true">
										<xs:annotation>
											<xs:documentation>Khai phí môn bài  cho chi nhánh mới thành lập</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="boSung_tkChiNhanhMoiThanhLap" type="xs:boolean" nillable="true">
										<xs:annotation>
											<xs:documentation>Khai phí môn bài  bổ sung cho tờ khai của các chi nhánh</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="ngayLapTKChinhThuc" type="xs:date" nillable="true">
							<xs:annotation>
								<xs:documentation>Ngày lập tờ khai chính thức</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="ct21" type="xs:boolean" nillable="true">
							<xs:annotation>
								<xs:documentation>Khai bổ sung cho cơ sở mới thành lập trong năm (đánh dấu “X” nếu có)</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="CT22">
							<xs:annotation>
								<xs:documentation>Người nộp lệ phí môn bài</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="ct2" type="xs:string" nillable="true">
										<xs:annotation>
											<xs:documentation>Người nộp lệ phí môn bài</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct4" type="xs:long" nillable="true">
										<xs:annotation>
											<xs:documentation>Vốn điều lệ hoặc vốn đầu tư, doanh thu</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct5" type="xs:long" nillable="true">
										<xs:annotation>
											<xs:documentation>Mức lệ phí môn bài</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="CT23">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="DonViTrucThuocHToanDiaPhuong" minOccurs="0" maxOccurs="unbounded">
										<xs:annotation>
											<xs:documentation>Đơn vị trực thuộc hạch toán phụ thuộc cùng địa phương</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>
												<xs:element name="ct2_ma" type="TINType" nillable="true">
													<xs:annotation>
														<xs:documentation>Mã số thuế đơn vị trực thuộc</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct2_ten" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>Đơn vị trực thuộc hạch toán phụ thuộc cùng địa phương
 (ghi rõ tên, địa chỉ)</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct4" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>Vốn điều lệ hoặc vốn đầu tư, doanh thu</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct5" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>Mức lệ phí môn bài</xs:documentation>
													</xs:annotation>
												</xs:element>
											</xs:sequence>
											<xs:attribute name="id" type="xs:string"/>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="ct24" type="xs:long" nillable="true">
							<xs:annotation>
								<xs:documentation>Tổng  lệ phí môn bài phải nộp</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
		<xs:complexType name="PLucType">
			<xs:complexContent>
				<xs:extension base="PLucType">
					<xs:sequence>
						<xs:element name="PL01_KHBS" minOccurs="0">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="NDUNGKHAIBOSUNGDIEUCHINH">
										<xs:annotation>
											<xs:documentation>A. Nội dung bổ sung, điều chỉnh thông tin đã kê khai</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>
												<xs:element name="DieuChinhTang">
													<xs:annotation>
														<xs:documentation>I. Chỉ tiêu điều chỉnh tăng số thuế phải nộp</xs:documentation>
													</xs:annotation>
													<xs:complexType>
														<xs:sequence>
															<xs:element name="KHBSDieuChinhTang" maxOccurs="unbounded">
																<xs:complexType>
																	<xs:complexContent>
																		<xs:extension base="NoiDungKHBSGTGTType"/>
																	</xs:complexContent>
																</xs:complexType>
															</xs:element>
														</xs:sequence>
													</xs:complexType>
												</xs:element>
												<xs:element name="DieuChinhGiam">
													<xs:annotation>
														<xs:documentation>II. Chỉ tiêu điều chỉnh giảm số thuế phải nộp</xs:documentation>
													</xs:annotation>
													<xs:complexType>
														<xs:sequence>
															<xs:element name="KHBSDieuChinhGiam" maxOccurs="unbounded">
																<xs:complexType>
																	<xs:complexContent>
																		<xs:extension base="NoiDungKHBSGTGTType"/>
																	</xs:complexContent>
																</xs:complexType>
															</xs:element>
														</xs:sequence>
													</xs:complexType>
												</xs:element>
												<xs:element name="TongHopDCTangGiamPNop" type="NoiDungKHBSGTGTType">
													<xs:annotation>
														<xs:documentation>III. Tổng hợp điều chỉnh số thuế phải nộp (tăng: +, giảm: -)</xs:documentation>
													</xs:annotation>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name="PhatChamNop">
										<xs:annotation>
											<xs:documentation>B. Tính số tiền chậm nộp</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>
												<xs:element name="soNgayNopCham" type="xs:nonNegativeInteger" nillable="true">
													<xs:annotation>
														<xs:documentation>Số ngày nộp chậm</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="soTienPhatNopCham" type="xs:nonNegativeInteger" nillable="true">
													<xs:annotation>
														<xs:documentation>Số tiền phạt nộp chậm: </xs:documentation>
													</xs:annotation>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name="NOIDUNGGIAITHICH">
										<xs:annotation>
											<xs:documentation>C. Nội dung giải thích và tài liệu đính kèm </xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>
												<xs:element name="soTienTraNSNN" type="xs:nonNegativeInteger" nillable="true">
													<xs:annotation>
														<xs:documentation>Người nộp thuế tự phát hiện số tiền thuế đã được hoàn phải nộp trả NSNN là ... đồng </xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="quyetDinhHoanThueSo" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>Lệnh hoàn trả khoản thu NSNN hoặc Lệnh hoàn trả kiêm bù trừ khoản thu NSNN số </xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ngay" type="xs:date" nillable="true">
													<xs:annotation>
														<xs:documentation>ngày ..... </xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="coQuanThue" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>Mã cơ quan thuế</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="soNgayNhanDuocTienHoan" type="xs:nonNegativeInteger" nillable="true">
													<xs:annotation>
														<xs:documentation>Số ngày nhận được tiền hoàn thuế</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="soTienChamNop" type="xs:nonNegativeInteger" nillable="true">
													<xs:annotation>
														<xs:documentation>Số tiền chậm nộp (= số tiền đã được hoàn phải nộp trả NSNN x số ngày nhận được tiền hoàn thuế x mức tiền chậm nộp %)</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="lyDoKhac" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>Lý do khác</xs:documentation>
													</xs:annotation>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:redefine>
	<xs:complexType name="NoiDungKHBSGTGTType">
		<xs:sequence>
			<xs:element name="ct2" type="xs:string" nillable="true">
				<xs:annotation>
					<xs:documentation>Chỉ tiêu điều chỉnh</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ct3" type="xs:string" nillable="true">
				<xs:annotation>
					<xs:documentation>Mã số chỉ tiêu</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ct4" type="xs:long" nillable="true">
				<xs:annotation>
					<xs:documentation>Số đã kê khai</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ct5" type="xs:long" nillable="true">
				<xs:annotation>
					<xs:documentation>Số điều chỉnh</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ct6" type="xs:long" nillable="true">
				<xs:annotation>
					<xs:documentation>Chênh lệch giữa số điều chỉnh với số đã kê khai</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="id" type="xs:string"/>
	</xs:complexType>
</xs:schema>
