HTKK/InterfaceTemplates/Validate/KHBS_02_NTNN_205.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2010 rel. 3 (http://www.altova.com) by MESMERiZE (MSM) -->
<xs:schema xmlns="http://kekhaithue.gdt.gov.vn/TKhaiThue" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://kekhaithue.gdt.gov.vn/TKhaiThue" elementFormDefault="qualified" attributeFormDefault="unqualified" version="2.0.5">
	<xs:redefine schemaLocation="../TKhaiThue.xsd">
		<xs:complexType name="CTieuTKhaiChinhType">
			<xs:complexContent>
				<xs:extension base="CTieuTKhaiChinhType">
					<xs:sequence>
						<xs:element name="CT21">
							<xs:annotation>
								<xs:documentation>Hợp đồng nhà thầu </xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="soHopDong" type="xs:string" nillable="true">
										<xs:annotation>
											<xs:documentation>Số hợp đồng nhà thầu</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ngayHopDong" type="xs:date" nillable="true">
										<xs:annotation>
											<xs:documentation>Ngày hợp đồng nhà thầu</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="GiaTriHDong" type="ThueNTNNType">
							<xs:annotation>
								<xs:documentation>1. Giá trị hợp đồng</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="DThuChuaGomGTGT" type="ThueNTNNType">
							<xs:annotation>
								<xs:documentation>2. Doanh thu chưa bao gồm thuế giá trị gia tăng</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="DThuTinhThueNTPhu" type="ThueNTNNType">
							<xs:annotation>
								<xs:documentation>3. Doanh thu tính thuế phần việc được trừ của các Nhà thầu phụ (nếu có)</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="DThuTinhThueNTNN" type="ThueNTNNType">
							<xs:annotation>
								<xs:documentation>4. Doanh thu tính thuế của Nhà thầu nước ngoài (4=2-3)</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="SoThuePhaiNopNTNN" type="ThueNTNNType">
							<xs:annotation>
								<xs:documentation>5. Số thuế phải nộp của Nhà thầu nước ngoài (5=5a+5b)</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="ThueGTGTPhaiNop" type="ThueNTNNType">
							<xs:annotation>
								<xs:documentation>5a.Thuế giá trị gia tăng</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="ThueTNDNPhaiNop" type="ThueNTNNType">
							<xs:annotation>
								<xs:documentation>5b.Thuế thu nhập doanh nghiệp</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="SoThueDaNop" type="ThueNTNNType">
							<xs:annotation>
								<xs:documentation>6. Số thuế đã nộp</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="ThueGTGTDaNop" type="ThueNTNNType">
							<xs:annotation>
								<xs:documentation>6a. Thuế giá trị gia tăng</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="ThueTNDNDaNop" type="ThueNTNNType">
							<xs:annotation>
								<xs:documentation>6b. Thuế thu nhập doanh nghiệp</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="SoThueConPhaiNop" type="ThueNTNNType">
							<xs:annotation>
								<xs:documentation>7. Số thuế còn phải nộp (7=5-6)</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="ThueGTGTConPNop" type="ThueNTNNType">
							<xs:annotation>
								<xs:documentation>7a. Thuế giá trị gia tăng (7a=5a-6a)</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="ThueTNDNConPNop" type="ThueNTNNType">
							<xs:annotation>
								<xs:documentation>7b. Thuế thu nhập doanh nghiệp (7b=5b-6b)</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
		<xs:complexType name="PLucType">
			<xs:complexContent>
				<xs:extension base="PLucType">
					<xs:sequence>
						<xs:element name="PL01_KHBS" minOccurs="0">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="NDUNGKHAIBOSUNGDIEUCHINH">
										<xs:annotation>
											<xs:documentation>A. Nội dung bổ sung, điều chỉnh thông tin đã kê khai</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>
												<xs:element name="DieuChinhTang">
													<xs:annotation>
														<xs:documentation>I. Chỉ tiêu điều chỉnh tăng số thuế phải nộp</xs:documentation>
													</xs:annotation>
													<xs:complexType>
														<xs:sequence>
															<xs:element name="KHBSDieuChinhTang" maxOccurs="unbounded">
																<xs:complexType>
																	<xs:complexContent>
																		<xs:extension base="NoiDungKHBSGTGTType"/>
																	</xs:complexContent>
																</xs:complexType>
															</xs:element>
														</xs:sequence>
													</xs:complexType>
												</xs:element>
												<xs:element name="DieuChinhGiam">
													<xs:annotation>
														<xs:documentation>II. Chỉ tiêu điều chỉnh giảm số thuế phải nộp</xs:documentation>
													</xs:annotation>
													<xs:complexType>
														<xs:sequence>
															<xs:element name="KHBSDieuChinhGiam" maxOccurs="unbounded">
																<xs:complexType>
																	<xs:complexContent>
																		<xs:extension base="NoiDungKHBSGTGTType"/>
																	</xs:complexContent>
																</xs:complexType>
															</xs:element>
														</xs:sequence>
													</xs:complexType>
												</xs:element>
												<xs:element name="TongHopDCTangGiamPNop" type="NoiDungKHBSGTGTType">
													<xs:annotation>
														<xs:documentation>III. Tổng hợp điều chỉnh số thuế phải nộp (tăng: +, giảm: -)</xs:documentation>
													</xs:annotation>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name="PhatChamNop">
										<xs:annotation>
											<xs:documentation>B. Tính số tiền chậm nộp</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>
												<xs:element name="soNgayNopCham" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>Số ngày nộp chậm</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="soTienPhatNopCham" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>Số tiền phạt nộp chậm: </xs:documentation>
													</xs:annotation>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name="NOIDUNGGIAITHICH">
										<xs:annotation>
											<xs:documentation>C. Nội dung giải thích và tài liệu đính kèm </xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>
												<xs:element name="soTienTraNSNN" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>Người nộp thuế tự phát hiện số tiền thuế đã được hoàn phải nộp trả NSNN là ... đồng </xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="quyetDinhHoanThueSo" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>Lệnh hoàn trả khoản thu NSNN hoặc Lệnh hoàn trả kiêm bù trừ khoản thu NSNN số </xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ngay" type="xs:date" nillable="true">
													<xs:annotation>
														<xs:documentation>ngày ..... </xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="maCQT" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>Mã cơ quan thuế</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="tenCQT" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>Tên cơ quan thuế</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="soNgayNhanDuocTienHoan" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>Số ngày nhận được tiền hoàn thuế</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="soTienChamNop" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>Số tiền chậm nộp (= số tiền đã được hoàn phải nộp trả NSNN x số ngày nhận được tiền hoàn thuế x mức tiền chậm nộp %)</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="lyDoKhac" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>Lý do khác</xs:documentation>
													</xs:annotation>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:redefine>
	<xs:complexType name="ThueNTNNType">
		<xs:annotation>
			<xs:documentation>Bảng kê tờ khai chính</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="keKhai" type="xs:long" nillable="true">
				<xs:annotation>
					<xs:documentation>Kê khai</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="quyetToan" type="xs:long" nillable="true">
				<xs:annotation>
					<xs:documentation>Quyết toán</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="chenhLech" type="xs:long" nillable="true">
				<xs:annotation>
					<xs:documentation>Chênh lệch</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ghiChu" type="xs:string" nillable="true">
				<xs:annotation>
					<xs:documentation>Ghi chú</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="NoiDungKHBSGTGTType">
		<xs:sequence>
			<xs:element name="ct2" type="xs:string" nillable="true">
				<xs:annotation>
					<xs:documentation>Chỉ tiêu điều chỉnh</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ct3" type="xs:string" nillable="true">
				<xs:annotation>
					<xs:documentation>Mã số chỉ tiêu</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ct4" type="xs:long" nillable="true">
				<xs:annotation>
					<xs:documentation>Số đã kê khai</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ct5" type="xs:long" nillable="true">
				<xs:annotation>
					<xs:documentation>Số điều chỉnh</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ct6" type="xs:long" nillable="true">
				<xs:annotation>
					<xs:documentation>Chênh lệch giữa số điều chỉnh với số đã kê khai</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="id" type="xs:string"/>
	</xs:complexType>
</xs:schema>
