HTKK/InterfaceTemplates/TKhaiThue.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2010 rel. 3 (http://www.altova.com) by MESMERiZE (MSM) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ds="http://www.w3.org/2000/09/xmldsig#" xmlns="http://kekhaithue.gdt.gov.vn/TKhaiThue" targetNamespace="http://kekhaithue.gdt.gov.vn/TKhaiThue" elementFormDefault="qualified" version="1.1">
	<xs:import namespace="http://www.w3.org/2000/09/xmldsig#" schemaLocation="xmldsig-core-schema.xsd"/>
	<xs:simpleType name="tieuMucHT_empty">
		<xs:annotation>
			<xs:documentation>Định nghĩa kiểu dữ liệu string không được rỗng</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="1701|1704|1705|0000|1761|1052|1056|1057"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TINType">
		<xs:annotation>
			<xs:documentation>Định nghĩa kiểu dữ liệu mã số thuế</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="([0-9]{10})(-[0-9]{3})?"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="CTieuTKhaiChinhType" abstract="true">
		<xs:annotation>
			<xs:documentation>
   Kiểu thành phần chứa số liệu các chỉ tiêu kê khai chung cho các tờ khai. Với mỗi tờ khai cụ thể thành phần này sẽ chứa các thành phần chỉ tiêu cụ thể được định nghĩa
   trong schema của tờ khai.
   </xs:documentation>
		</xs:annotation>
	</xs:complexType>
	<xs:complexType name="PLucType" abstract="true">
		<xs:annotation>
			<xs:documentation>
   Kiểu thành phần phụ lục chứa số liệu các chỉ tiêu kê khai phụ lục chung cho các tờ khai. Với mỗi tờ khai cụ thể thành phần này sẽ chứa các thành phần chỉ tiêu cụ thể được định nghĩa
   trong schema của tờ khai.
   </xs:documentation>
		</xs:annotation>
	</xs:complexType>
	<xs:element name="HSoThueDTu">
		<xs:annotation>
			<xs:documentation>Phần tử gốc của tệp hồ sơ điện tử</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="HSoKhaiThue">
					<xs:annotation>
						<xs:documentation>Toàn bộ dữ liệu của hồ sơ điện tử</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:complexContent>
							<xs:extension base="HSoKhaiThueType"/>
						</xs:complexContent>
					</xs:complexType>
				</xs:element>
				<xs:element name="CKyDTu" type="CKyDTuType" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Dữ liệu về các chữ ký điện tử trên hồ sơ</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="HSoKhaiThueType">
		<xs:sequence>
			<xs:element name="TTinChung">
				<xs:annotation>
					<xs:documentation>Thông tin chung</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="TTinDVu">
							<xs:annotation>
								<xs:documentation>Thông tin dịch vụ</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="maDVu" type="xs:string">
										<xs:annotation>
											<xs:documentation>Mã dịch vụ</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="tenDVu" type="xs:token">
										<xs:annotation>
											<xs:documentation>Tên dịch vụ</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="pbanDVu" type="xs:string">
										<xs:annotation>
											<xs:documentation>Phiên bản dịch vụ</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ttinNhaCCapDVu" type="xs:string">
										<xs:annotation>
											<xs:documentation>Thông tin nhà cung cấp dịch vụ</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="TTinTKhaiThue">
							<xs:annotation>
								<xs:documentation>Thông tin tờ khai thuế</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="TKhaiThue">
										<xs:annotation>
											<xs:documentation>Tờ khai thuế</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>
												<xs:element name="maTKhai" type="xs:string">
													<xs:annotation>
														<xs:documentation>Mã tờ khai</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="tenTKhai" type="xs:token">
													<xs:annotation>
														<xs:documentation>Tên tờ khai</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="moTaBMau" type="xs:string">
													<xs:annotation>
														<xs:documentation>Mô tả biểu  mẫu</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="pbanTKhaiXML" type="xs:string">
													<xs:annotation>
														<xs:documentation>Phiên bản tờ khai XML</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="loaiTKhai">
													<xs:annotation>
														<xs:documentation>Loại tờ khai</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:pattern value="C|B|T"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:element>
												<xs:element name="soLan" type="xs:nonNegativeInteger">
													<xs:annotation>
														<xs:documentation>Số lần</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="KyKKhaiThue">
													<xs:annotation>
														<xs:documentation>Kỳ kê khai thuế</xs:documentation>
													</xs:annotation>
													<xs:complexType>
														<xs:sequence>
															<xs:element name="kieuKy">
																<xs:annotation>
																	<xs:documentation>Kiểu kỳ</xs:documentation>
																</xs:annotation>
																<xs:simpleType>
																	<xs:restriction base="xs:string">
																		<xs:pattern value="D|M|Y|K|Q|LD|DK"/>
																	</xs:restriction>
																</xs:simpleType>
															</xs:element>
															<xs:element name="kyKKhai" type="xs:string">
																<xs:annotation>
																	<xs:documentation>Quý: Q/YYYY, ngày: DD/MM/YYYY, tháng: MM/YYYY, năm: YYYY, Kỳ: K/YYYY</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="kyKKhaiTuNgay" type="xs:string">
																<xs:annotation>
																	<xs:documentation>Định dạng DD/MM/YYYY</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="kyKKhaiDenNgay" type="xs:string">
																<xs:annotation>
																	<xs:documentation>Định dạng DD/MM/YYYY</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="kyKKhaiTuThang" type="xs:string">
																<xs:annotation>
																	<xs:documentation>Định dạng MM/YYYY</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="kyKKhaiDenThang" type="xs:string">
																<xs:annotation>
																	<xs:documentation>Định dạng MM/YYYY</xs:documentation>
																</xs:annotation>
															</xs:element>
														</xs:sequence>
													</xs:complexType>
												</xs:element>
												<xs:element name="maCQTNoiNop" type="xs:string">
													<xs:annotation>
														<xs:documentation>Mã CQT nơi nộp</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="tenCQTNoiNop" type="xs:token">
													<xs:annotation>
														<xs:documentation>Tên CQT nơi nộp</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ngayLapTKhai" type="xs:string">
													<xs:annotation>
														<xs:documentation>Ngày lập tờ khai</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="GiaHan" minOccurs="0">
													<xs:annotation>
														<xs:documentation>Gia hạn</xs:documentation>
													</xs:annotation>
													<xs:complexType>
														<xs:sequence>
															<xs:element name="maLyDoGiaHan" type="xs:string">
																<xs:annotation>
																	<xs:documentation>Mã lý do gia hạn</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="lyDoGiaHan" type="xs:string">
																<xs:annotation>
																	<xs:documentation>Tên lý do gia hạn</xs:documentation>
																</xs:annotation>
															</xs:element>
														</xs:sequence>
													</xs:complexType>
												</xs:element>
												<xs:element name="nguoiKy" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>Người ký</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ngayKy" type="xs:date">
													<xs:annotation>
														<xs:documentation>Ngày ký</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="nganhNgheKD" type="xs:string">
													<xs:annotation>
														<xs:documentation>Ngành nghề kinh doanh</xs:documentation>
													</xs:annotation>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name="NNT">
										<xs:annotation>
											<xs:documentation>Người nộp thuế</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>
												<xs:element name="mst" type="TINType">
													<xs:annotation>
														<xs:documentation>Mã số thuế</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="tenNNT" type="xs:token">
													<xs:annotation>
														<xs:documentation>Tên NNT</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="dchiNNT" type="xs:token">
													<xs:annotation>
														<xs:documentation>Địa chỉ NNT</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="phuongXa" type="xs:string">
													<xs:annotation>
														<xs:documentation>Phường/ xã</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="maHuyenNNT" type="xs:string">
													<xs:annotation>
														<xs:documentation>Mã huyện</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="tenHuyenNNT" type="xs:string">
													<xs:annotation>
														<xs:documentation>Tên huyện</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="maTinhNNT" type="xs:string">
													<xs:annotation>
														<xs:documentation>Mã tỉnh</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="tenTinhNNT" type="xs:string">
													<xs:annotation>
														<xs:documentation>Tên tỉnh</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="dthoaiNNT" type="xs:string">
													<xs:annotation>
														<xs:documentation>Điện thoại</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="faxNNT" type="xs:string">
													<xs:annotation>
														<xs:documentation>Fax</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="emailNNT" type="xs:string">
													<xs:annotation>
														<xs:documentation>Email</xs:documentation>
													</xs:annotation>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name="DLyThue" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Đại lý thuế</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>
												<xs:element name="mstDLyThue" type="TINType">
													<xs:annotation>
														<xs:documentation>Mã số thuế</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="tenDLyThue" type="xs:token">
													<xs:annotation>
														<xs:documentation>Tên đại lý thuế</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="dchiDLyThue" type="xs:token">
													<xs:annotation>
														<xs:documentation>Địa chỉ</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="maHuyenDLyThue" type="xs:string">
													<xs:annotation>
														<xs:documentation>Mã huyện</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="tenHuyenDLyThue" type="xs:string">
													<xs:annotation>
														<xs:documentation>Tên huyện</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="maTinhDLyThue" type="xs:string">
													<xs:annotation>
														<xs:documentation>Mã tỉnh</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="tenTinhDLyThue" type="xs:string">
													<xs:annotation>
														<xs:documentation>Tên tỉnh</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="dthoaiDLyThue" type="xs:string">
													<xs:annotation>
														<xs:documentation>Điện thoại</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="faxDLyThue" type="xs:string">
													<xs:annotation>
														<xs:documentation>Fax</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="emailDLyThue" type="xs:string">
													<xs:annotation>
														<xs:documentation>Email</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="soHDongDLyThue" type="xs:string">
													<xs:annotation>
														<xs:documentation>Số hợp đồng đại lý thuế</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ngayKyHDDLyThue" type="xs:date">
													<xs:annotation>
														<xs:documentation>Ngày ký hợp đồng</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="NVienDLy">
													<xs:annotation>
														<xs:documentation>Nhân viên đại lý thuế</xs:documentation>
													</xs:annotation>
													<xs:complexType>
														<xs:sequence>
															<xs:element name="tenNVienDLyThue" type="xs:token">
																<xs:annotation>
																	<xs:documentation>Tên nhân viên đại lý thuế</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="cchiHNghe" type="xs:string">
																<xs:annotation>
																	<xs:documentation>Chứng chỉ hành nghề</xs:documentation>
																</xs:annotation>
															</xs:element>
														</xs:sequence>
													</xs:complexType>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="CTieuTKhaiChinh">
				<xs:annotation>
					<xs:documentation>Chỉ tiêu tờ khai chính</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="CTieuTKhaiChinhType"/>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="PLuc" type="PLucType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Phụ lục</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="id" type="xs:ID" use="optional"/>
	</xs:complexType>
	<xs:complexType name="CKyDTuType">
		<xs:sequence>
			<xs:element ref="ds:Signature" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Chữ ký điện tử</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
